/* LOADER */

#spinner{
    background-image: url(../images/logo_sayhype_rose.svg);
    background-repeat: no-repeat;
    background-position : right 50% top 40%;
}

.spinner5 {
  width: 32px;
  height: 32px;
  position: relative;
}

.cube1, .cube2 {
  background-color: #D2B0B0;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

/*----------------------------------------* RESPONSIVE 13 POUCES --------------------------------------------------------------------------------------------------(1280 x 700)-----------------------------------------------------*/

@media only screen and (min-width: 1259px)and (max-width: 1419px){

    .spinner5 {
      width: 15px;
      height: 15px;
      position: relative;
    }

    .cube1, .cube2 {
      background-color: #D2B0B0;
      width: 6px;
      height: 6px;
      position: absolute;
      top: 0;
      left: 0;
    }

    #spinner{
        background-image: url(../images/logo_sayhype_rose2.svg);
        background-repeat: no-repeat;
        background-position : right 49% top 40%;
    }
}

/*----------------------------------------* RESPONSIVE 15 POUCES --------------------------------------------------------------------------------------------------(1440 x 900)-----------------------------------------------------*/

@media only screen and (min-width: 1420px)and (max-width: 1659px){

    .spinner5 {
      width: 15px;
      height: 15px;
      position: relative;
    }

    .cube1, .cube2 {
      background-color: #D2B0B0;
      width: 6px;
      height: 6px;
      position: absolute;
      top: 0;
      left: 0;
    }

    #spinner{
        background-image: url(../images/logo_sayhype_rose2.svg);
        background-repeat: no-repeat;
        background-position : right 49% top 40%;
    }
}

/*----------------------------------------* RESPONSIVE 15 POUCES --------------------------------------------------------------------------------------------------(1680 x 900)-----------------------------------------------------*/

@media only screen and (min-width: 1660px) and (max-width: 1899px){

    .spinner5 {
      width: 15px;
      height: 15px;
      position: relative;
    }

    .cube1, .cube2 {
      background-color: #D2B0B0;
      width: 6px;
      height: 6px;
      position: absolute;
      top: 0;
      left: 0;
    }

    #spinner{
        background-image: url(../images/logo_sayhype_rose.svg);
        background-repeat: no-repeat;
        background-position : right 49% top 40%;
    }
}

/*----------------------------------------* RESPONSIVE 15 POUCES --------------------------------------------------------------------------------------------------(1920 x 900)-----------------------------------------------------*/

@media only screen and (min-width: 1900px)and (max-width: 2550px){

    .spinner5 {
      width: 15px;
      height: 15px;
      position: relative;
    }

    .cube1, .cube2 {
      background-color: #D2B0B0;
      width: 6px;
      height: 6px;
      position: absolute;
      top: 0;
      left: 0;
    }

    #spinner{
        background-image: url(../images/logo_sayhype_rose.svg);
        background-repeat: no-repeat;
        background-position : right 49% top 40%;
    }
}

/*----------------------------------------* RESPONSIVE TABLETTE PORTRAIT ------------------------------------------------------------------------------------------(768 x 1024)-----------------------------------------------------*/

@media only screen and (min-width: 760px)and (max-width: 1022px){

    .spinner5 {
      width: 15px;
      height: 15px;
      position: relative;
    }

    .cube1, .cube2 {
      background-color: #D2B0B0;
      width: 6px;
      height: 6px;
      position: absolute;
      top: 0;
      left: 0;
    }

    #spinner{
        background-image: url(../images/logo_sayhype_rose.svg);
        background-repeat: no-repeat;
        background-position : right 49% top 40%;
    }
}

/*----------------------------------------* RESPONSIVE TABLETTE PAYSAGE ------------------------------------------------------------------------------------------(1024 x 768)---------------------------------------------------*/

@media only screen and (min-width: 1023px)and (max-width: 1259px){

    .spinner5 {
      width: 15px;
      height: 15px;
      position: relative;
    }

    .cube1, .cube2 {
      background-color: #D2B0B0;
      width: 6px;
      height: 6px;
      position: absolute;
      top: 0;
      left: 0;
    }

    #spinner{
        background-image: url(../images/logo_sayhype_rose2.svg);
        background-repeat: no-repeat;
        background-position : right 49% top 40%;
    }
}

/*----------------------------------------* RESPONSIVE MOBILE ----------------------------------------------------------------------------------------------------(300 x 640)-------------------------------------------------------*/

@media only screen and (min-width: 250px)and (max-width: 759px){

    .spinner5 {
      width: 15px;
      height: 15px;
      position: relative;
    }

    .cube1, .cube2 {
      background-color: #D2B0B0;
      width: 6px;
      height: 6px;
      position: absolute;
      top: 0;
      left: 0;
    }

    #spinner{
        background-image: url(../images/logo_sayhype_rose2.svg);
        background-repeat: no-repeat;
        background-position : right 49% top 40%;
    }
}