#couverture_img_33prest{
	border: 1px solid #F4F2EE;
	width: 2223px;
	height: 520px;
	background-image: url(../images/33prest_presentation.jpg);
	background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 300px;
  }

.presentation_projet{
	width: 1000px;
	margin: 0 auto;
	background-color: white;
	height: 40%;
	margin-top: -10%;
	padding-left: 4%;
    padding-right: 4%;
    margin-left: calc(50% - 350px);

    h2{
    	font-size: 18px;
    }
	h3{
		font-size: 15px;
	}

	img{
		width: 2%;
	}
}

#projet_contenu1{
    background-image: url(../images/33prest_photos_projet.jpg);
    background-clip: content-box;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    height: 1000px;
    width: 1092px;
    margin-top: 0%;
    padding-left: 2%;


    img{
    margin-top: 90%;
    width: 54%;
    }
}

#projet_contenu2{
    background-image: url(../images/33prest_photos2_projet.jpg);
    background-clip: content-box;
    background-size: contain;
    height: 1000px;
    width: 1092px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    margin-top: 14%;  
    padding-left: 7%;
}

#projet_contenu3{
    background-image: url(../images/33prest_photos3_projet.jpg);
    background-size: contain;
    height: 1000px;
    width: 1092px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    margin-top: 0%;
}

#projet_contenu4{
	height: 1000px;
}

#description_role_33prest{
    margin-top: -32%;
    margin-left: 3%;

    p{
        text-align: left;
    }
}

#description_role_avecfrise_33prest{
    margin-top: 20%;
    margin-left: 0%;
}

#frise_verticale1{
	margin-top: -2%;
}

#photo_pieddepage{
	background-image: url(../images/33prest_photos5_projet.jpg);
	height: 700px;
	width: 2223px;
	background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 5%;
    margin-left: 300px;
}

.frise_haut{
    margin-left: 290px;
    position: relative;
}

.container{
	width: 100%;
}

#couverture_img_33prest .row{
    margin-left: 0px;
}

/*------------------------------------------------- RESPONSIVE ---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/



/*----------------------------------------* RESPONSIVE 13 POUCES --------------------------------------------------------------------------------------------------(1280 x 900)-----------------------------------------------------*/


@media only screen and (min-width: 1280px)and (max-width: 1439px){

.container{
	width: 100%;
}

.row{
	margin-left: 200px;
}


#couverture_img_33prest{
        border: 1px solid #F4F2EE;
        width: auto;
        height: 300px;
        margin-left: 200px;
    }	

	#projet_contenu1{
	    height: 800px;
	    width: 550px;
	    margin-top: -18%;
	    padding-left: 2%;

	    img{
	    margin-top: 125%;
	    width: 68%;
	    }
}

	#projet_contenu2{
	    height: 600px;
	    width: 490px;
	    margin-top: 14%;  
	    padding-left: 0%;
	}

	#projet_contenu3{
	    height: 600px;
	    width: 490px;
	}

	#projet_contenu4{
		height: 600px;
	}


	#photo_pieddepage{
		height: 490px;
		width: auto;
	    margin-top: 5%;
	    margin-left: 200px;
	}

	#description_role_33prest{
	    margin-top: -57%;
	    margin-left: 3%;

	    p{
	        text-align: left;
	    }

	    h3{
	    	font-size: 17px !important;
	    }
	}

	.frise_haut{
    margin-left: 290px;
    position: relative;

    img{
	    position: absolute;
	    width:20%;
	    top: 30px;
	    left:0;
	    }
    }

    #frise_verticale1{
		margin-top: -2%;
		height: 300px;
	}	
}



/*----------------------------------------* RESPONSIVE 15 POUCES --------------------------------------------------------------------------------------------------(1440 x 900)-----------------------------------------------------*/

@media only screen and (min-width: 1440px)and (max-width: 1679px){

.container{
	width: 100%;
}

.row{
	margin-left: 200px;
}


#couverture_img_33prest{
        border: 1px solid #F4F2EE;
        width: auto;
        height: 300px;
        margin-left: 200px;
    }	

	#projet_contenu1{
	    height: 700px;
	    width: 650px;
	    margin-top: -5%;
	    padding-left: 2%;

	    img{
	    margin-top: 110%;
	    width: 68%;
	    }
}

	#projet_contenu2{
	    height: 700px;
	    width: 575px;
	    margin-top: 23%;
	    padding-left: 0%;
	}

	#projet_contenu3{
	    height: 700px;
	    width: 575px;
	}

	#projet_contenu4{
		height: 600px;
	}


	#photo_pieddepage{
		height: 490px;
		width: auto;
	    margin-top: 5%;
	    margin-left: 200px;
	}

	#description_role_33prest{
	    margin-top: -50%;
	    margin-left: 3%;

	    p{
	        text-align: left;
	    }

	    h3{
	    	font-size: 17px !important;
	    }
	}

	.frise_haut{
    margin-left: 290px;
    position: relative;

    img{
	    position: absolute;
	    width:20%;
	    top: 30px;
	    left:0;
	    }
    }

    #frise_verticale1{
		margin-top: 0%;
		height: 300px;
	}	
	
}

/*----------------------------------------* RESPONSIVE 15 POUCES --------------------------------------------------------------------------------------------------(1680 x 900)-----------------------------------------------------*/

@media only screen and (min-width: 1680px)and (max-width: 1919px){

.container{
	width: 100%;
}

	#couverture_img_33prest{
        border: 1px solid #F4F2EE;
        width: auto;
        height: 400px;
        margin-left: 300px;
    }	

	#projet_contenu1{
	    height: 750px;
	    width: 700px;
	    margin-top: -5%;
	    padding-left: 2%;

	    img{
	    margin-top: 110%;
	    width: 68%;
	    }
	}

	#projet_contenu2{
	    height: 750px;
	    width: 675px;
	    margin-top: 23%;
	    padding-left: 0%;
	}

	#projet_contenu3{
	    height: 750px;
	    width: 675px;
	}

	#projet_contenu4{
		height: 600px;
	}


	#photo_pieddepage{
		height: 600px;
		width: auto;
	    margin-top: 5%;
	    margin-left: 300px;
	}

	#description_role_33prest{
	    margin-top: -50%;
	    margin-left: 3%;

	    p{
	        text-align: left;
	    }

	    h3{
	    	font-size: 17px !important;
	    }
	}

	#description_role_33prest {
	    margin-top: -44%;
	    margin-left: 3%;
	}

	.frise_haut{
    margin-left: 290px;
    position: relative;

    img{
	    position: absolute;
	    width:20%;
	    top: 30px;
	    left:0;
	    }
    }

    #frise_verticale1{
		margin-top: 10%;
		height: 300px;
	}		
}

/*----------------------------------------* RESPONSIVE 15 POUCES --------------------------------------------------------------------------------------------------(1920 x 900)-----------------------------------------------------*/

@media only screen and (min-width: 1920px)and (max-width: 1950px){

	#couverture_img_33prest{
        border: 1px solid #F4F2EE;
        width: auto;
        height: 400px;
        margin-left: 300px;
    }	

	#projet_contenu1{
	    height: 700px;
	    width: 807px;
	    margin-top: 0%;
	    padding-left: 2%;

	    img{
	    margin-top: 100%;
	    width: 68%;
	    }
	}

	#projet_contenu2{
	    height: 850px;
	    width: 807px;
	    margin-top: 23%;
	    padding-left: 0%;
	}

	#projet_contenu3{
	    height: 850px;
	    width: 807px;
	}

	#photo_pieddepage{
		height: 700px;
		width: auto;
	    margin-top: 5%;
	    margin-left: 300px;
	}

	#frise_verticale1{
		margin-top: 10%;
	}

	#description_role_33prest {
	    margin-top: -43%;
	}	
}

/*----------------------------------------* RESPONSIVE TABLETTE PORTRAIT --------------------------------------------------------------------------------------------(768 x 1024)---------------------------------------------------*/

@media only screen and (min-width: 400px)and (max-width: 779px){

	#couverture_img_33prest {
	    height: 300px;
	    width: 768px;
	    margin-left: 0px;
	    padding-right: 1%;
	}

	#projet_contenu1{
	    height: 500px;
	    width: 750px;
	    margin-top: 0%;
	    padding-left: 2%;
	    padding-right: 2%;

	    img{
	    margin-top: 80%;
	    width: 68%;
	    }
	}

	#projet_contenu2 {
	    height: 800px;
	    width: 750px;
	    margin-top: 55%;
	    padding-left: 0%;
	}

	#projet_contenu3{
	    height: 800px;
	    width: 750px;
	    margin-top: 10%;
	}

	#description_role_33prest {
	    margin-top: -46%;
	}

	#projet_contenu4{
	    height: 350px;
	}	

	#photo_pieddepage {
	    height: 350px;
	    width: auto;
	    margin: 0px;
	    margin-top: 5%;
	}	
}

/*----------------------------------------* RESPONSIVE TABLETTE PAYSAGE -----------------------------------------------------------------------------------------------(1024 x 768)-------------------------------------------------*/

@media only screen and (min-width: 1024px)and (max-width: 1279px){

.container{
	width: 100%;
}

.row{
	margin-left: 200px;
}


#couverture_img_33prest{
        border: 1px solid #F4F2EE;
        width: auto;
        height: 300px;
        margin-left: 200px;
    }	

	#projet_contenu1 {
	    height: auto;
	    margin-top: -23%;
	    padding-left: 2%;
	    width: 400px;

	    img{
	    margin-top: 145%;
	    width: 80%;
	    }
}

	#projet_contenu2 {
	    height: 500px;
	    width: 410px;
	    margin-top: 23%;
	    padding-left: 0%;
	}

	#projet_contenu3 {
	    height: 500px;
	    width: 400px;
	}

	#projet_contenu4{
		height: 500px;
	}


	#photo_pieddepage{
		height: 400px;
		width: auto;
	    margin-top: 5%;
	    margin-left: 200px;
	}

	#description_role_33prest{
	    margin-top: -89%;
	    margin-left: 3%;

	    p{
	        text-align: left;
	    }

	    h3{
	    	font-size: 17px !important;
	    }
	}

	.frise_haut{
    margin-left: 290px;
    position: relative;

    img{
	    position: absolute;
	    width:20%;
	    top: 30px;
	    left:0;
	    }
    }

	#frise_verticale1 {
	    margin-top: -2%;
	    height: 350px;
	}


}

