#couverture_img_33prest{
	border: 1px solid #F4F2EE;
	width: 2220px;
	height: 520px;
	background-image: url(../images/33prest_presentation.jpg);
	background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 300px;
  }

.presentation_projet{
	width: 1000px;
	margin: 0 auto;
	background-color: white;
	height: 40%;
	margin-top: -10%;
	padding-left: 4%;
    padding-right: 4%;
    margin-left: calc(50% - 350px);

    h2{
    	font-size: 18px;
    }
	h3{
		font-size: 15px;
	}

	img{
		width: 2%;
	}
}

#projet_contenu1{
    background-image: url(../images/33prest_photos_projet.jpg);
    background-clip: content-box;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    height: 1000px;
    width: 1092px;
    margin-top: 0%;
    padding-left: 2%;


    img{
    margin-top: 90%;
    width: 54%;
    }
}

#projet_contenu2{
    background-image: url(../images/33prest_photos2_projet.jpg);
    background-clip: content-box;
    background-size: contain;
    height: 1000px;
    width: 1092px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    margin-top: 14%;  
    padding-left: 7%;
}

#projet_contenu3{
    background-image: url(../images/33prest_photos3_projet.jpg);
    background-size: contain;
    height: 1000px;
    width: 1092px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    margin-top: 0%;
}

#projet_contenu4{
	height: 1000px;
}

#description_role_33prest{
    margin-top: -32%;
    margin-left: 3%;

    p{
        text-align: left;
    }
}

#description_role_avecfrise_33prest{
    margin-top: 20%;
    margin-left: 0%;
}

#frise_verticale1{
	margin-top: -2%;
}

#photo_pieddepage{
	background-image: url(../images/33prest_photos5_projet.jpg);
	height: 700px;
	width: 2220px;
	background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 5%;
    margin-left: 300px;
}

.frise_haut{
    margin-left: 290px;
    position: relative;
}

.container{
	width: 100%;
}

#couverture_img_33prest .row{
    margin-left: 0px;
}
/*----------------------
------------------------*/
/* RESPONSIVE */



/* RESPONSIVE 13 POUCES */
/*----------------------
-----------------------*/


@media only screen and (min-width: 1030px)and (max-width: 1290px){

.container{
	width: 100%;
}

.row{
	margin-left: 200px !important;
}


#couverture_img_33prest{
        border: 1px solid #F4F2EE;
        width: auto;
        height: 300px;
        margin-left: 200px;
    }	

	#projet_contenu1{
	    height: 800px;
	    width: 550px;
	    margin-top: -18%;
	    padding-left: 2%;

	    img{
	    margin-top: 125%;
	    width: 68%;
	    }
}

	#projet_contenu2{
	    height: 600px;
	    width: 490px;
	    margin-top: 14%;  
	    padding-left: 0%;
	}

	#projet_contenu3{
	    height: 600px;
	    width: 490px;
	}

	#projet_contenu4{
		height: 600px;
	}


	#photo_pieddepage{
		height: 490px;
		width: auto;
	    margin-top: 5%;
	    margin-left: 200px;
	}

	#description_role_33prest{
	    margin-top: -59%;
	    margin-left: 3%;

	    p{
	        text-align: left;
	    }

	    h3{
	    	font-size: 17px !important;
	    }
	}

	.frise_haut{
    margin-left: 290px;
    position: relative;

    img{
	    position: absolute;
	    width:20%;
	    top: 30px;
	    left:0;
	    }
    }

    #frise_verticale1{
		margin-top: -2%;
		height: 300px;
	}	

}

@media only screen and (max-width: 780px){
	
	#projet_contenu1 img {
    margin-top: 98%;
    width: 54%;
	}
}

/* RESPONSIVE TABLETTE PAYSAGE */
/*-------------------------------
--------------------------------*/

@media only screen and (min-width: 780px)and (max-width: 1024px){
	
	#couverture_img_33prest {
	    height: 300px;
	    margin-left: 200px;
	}

	#projet_contenu1 {
	    height: 800px;
	    margin-top: -15%;
	    
	}

	#projet_contenu1 img {
	    margin-top: 90%;
	    width: 60%;
	}

	#projet_contenu2 {
	    margin-top: 25%;
	    height: 600px;
	}	

	#projet_contenu3 {
	    height: 575px;
	}

	#description_role_avecfrise_33prest {
	    margin-top: 10%;
	    margin-left: 20%;
	}

	#description_role_33prest {
	    margin-top: -54%;
	    margin-left: 3%;
	}

	#projet_contenu4 {
	    height: 350px;
	}

	#photo_pieddepage {
	    height: 490px;
	    margin-left: 200px;
	}

	

}

