#presentation_accueil_gauche2{
    margin-left: 300px;
}

#presentation_accueil_droite2{
    margin-left: -300px;
}

#tittle2{
	margin-left: 300px;
	padding-top: 1%;
	padding-bottom: 5%;
}

#accueil_estampille2{
    position: fixed;
    top: calc(50% - 125px);
    left: 50%;
    margin-left: 15px;
}


/* RESPONSIVE 13 POUCES */

@media only screen and (min-width: 780px)and (max-width: 1290px){

	#tittle2 {
	    margin-left: 200px;
	    padding-top: 1%;
	    padding-bottom: 1%;

	    h1{
	    font-family: sabon roman;
		letter-spacing: 2px;
		font-size: 20px;
	    }
	}

	#presentation_accueil_gauche2 {
	    margin-left: 200px;
	    margin-top: 1%;
	}

	#presentation_accueil_droite2 {
	    margin-left: -200px;
	    margin-top: 1%;
	}

	#presentation_accueil_droite2{

		img{
			height: 450px;
			width: 337px;
		}
	}

	#presentation_accueil_gauche2{
		padding: 0px;

		img{
			height: 450px;
			width: 337px;
		}
	}
}

/*----------------------------------------* RESPONSIVE 15 POUCES --------------------------------------------------------------------------------------------------(1440 x 900)-----------------------------------------------------*/

@media only screen and (min-width: 1295px)and (max-width: 1450px){

	#tittle2 {
	    margin-left: 200px;
	    padding-top: 1%;
	    padding-bottom: 1%;

	    h1{
	    font-family: sabon roman;
		letter-spacing: 2px;
		font-size: 20px;
	    }
	}

	#presentation_accueil_gauche2 {
	    margin-left: 200px;
	    margin-top: 1%;
	}

	#presentation_accueil_droite2 {
	    margin-left: -200px;
	    margin-top: 1%;
	}

	#presentation_accueil_droite2{

		img{
			height: 450px;
			width: 337px;
		}
	}

	#presentation_accueil_gauche2{
		padding: 0px;

		img{
			height: 450px;
			width: 337px;
		}
	}

	#accueil_estampille2 {
	    position: fixed;
	    top: calc(50% - 85px);
	    margin-left: 5px;

	    img{
	    width: 70%;
	    }
	}
}

/*----------------------------------------* RESPONSIVE 15 POUCES --------------------------------------------------------------------------------------------------(1680 x 900)-----------------------------------------------------*/

@media only screen and (min-width: 1450px)and (max-width: 1690px){

	#accueil_animation {
	    margin-left: -15px;
	    height: 1500px;
	}

	#tittle2 {
	    margin-left: 200px;
	    padding-top: 1%;
	    padding-bottom: 1%;

	    h1{
	    font-family: sabon roman;
		letter-spacing: 2px;
		font-size: 20px;
	    }
	}

	#presentation_accueil_gauche2 {
	    margin-left: 200px;
	    margin-top: 0%;
	    top: calc(25% - 225px);
	}

	#presentation_accueil_droite2 {
	    margin-left: -200px;
	    margin-top: 0%;
	    top: calc(25% - 225px);
	}

	#presentation_accueil_droite2{

		img{
			height: 450px;
			width: 337px;
		}
	}

	#presentation_accueil_gauche2{
		padding: 0px;

		img{
			height: 450px;
			width: 337px;
		}
	}

	#accueil_estampille2 {
	    position: fixed;
	    top: calc(50% - 85px);
	    margin-left: 5px;

	    img{
	    width: 70%;
	    }
	}	
}

/*----------------------------------------* RESPONSIVE 15 POUCES --------------------------------------------------------------------------------------------------(1920 x 900)-----------------------------------------------------*/

@media only screen and (min-width: 1690px)and (max-width: 1950px){

#accueil_animation {
	    margin-left: -15px;
	    height: 1500px;
	}


	#presentation_accueil_gauche2 {
	    margin-left: 200px;
	    margin-top: 0%;
	    top: calc(25% - 350px);
	}

	#presentation_accueil_droite2 {
	    margin-left: -200px;
	    margin-top: 0%;
	    top: calc(25% - 350px);
	    left: calc(50% - 875px);
	}

	#presentation_accueil_droite2{

		img{
			height: 700px;
			width: 525px;
		}
	}

	#presentation_accueil_gauche2{
		padding: 0px;

		img{
			height: 700px;
			width: 525px;
		}
	}

	#accueil_estampille2 {
	    position: fixed;
	    top: calc(50% - 85px);
	    margin-left: 10px;
	}	
	
}
