
#fond2{
	width: 2000px;
	height: 100%;
	background-color: #24272C;
    margin-bottom: 1%;
}

#accueil_encart3{
	position: absolute;
	bottom: 10%;
	right: -40%;
	height: 190px;
	width: 40%;
	background-color: #F7E7E9;
	z-index: 10;
}

#encart_accueil2{
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 190px;
	width: 100%;
	background-color: #FBF3F4;
	h1{
	color:#FBF3F4;
	letter-spacing: 2px;
    font-size: 20px;
    margin-top: 0px;
}
}

#image_accueil1{
	position: absolute;
	top: calc(50% - 600px);
	left: calc(50% - 850px);
	width: 2000px;
	height: 1200px;
	img{
	position: absolute;
    top: -129px;
    left: -19px;
    width: 100%;
		-webkit-transition: transform 5s ease-in;
	    -moz-transition: transform 5s ease-in;
	    -o-transition: transform 5s ease-in;
	    transition: transform 5s ease-in;
    }
}





/*---------------------------------------------------RESPONSIVE---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/




/*----------------------------------------* RESPONSIVE 13 POUCES --------------------------------------------------------------------------------------------------(1280 x 700)-----------------------------------------------------*/

@media only screen and (min-width: 1260px)and (max-width: 1419px){

#fond2{
	width: 900px;
}

#image_accueil1{
top: calc(50% - 335px);
    left: calc(50% - 400px);
    width: 1000px;
    height: 670px;
img{
    width: 1100px;
    top: -60px;
    left: -82px;
}
}
#accueil_encart3{
	height: 140px;
}
#encart_accueil2{
	height: 140px;
	h1{
	color:#FBF3F4;
	letter-spacing: 2px;
    font-size: 17px;
    margin-top: 0px;
}
}
		
}

/*----------------------------------------* RESPONSIVE 15 POUCES --------------------------------------------------------------------------------------------------(1440 x 900)-----------------------------------------------------*/

@media only screen and (min-width: 1420px)and (max-width: 1659px){

#fond2{
	width: 900px;
}

#image_accueil1{
    top: calc(50% - 400px);
    left: calc(50% - 550px);
    width: 1300px;
    height: 800px;
img{
    width: 1500px;
    top: -110px;
    left: -82px;
}
}
#accueil_encart3{
	height: 140px;
}
#encart_accueil2{
	height: 140px;
	h1{
	color:#FBF3F4;
	letter-spacing: 2px;
    font-size: 17px;
    margin-top: 0px;
}
}



	
}

/*----------------------------------------* RESPONSIVE 15 POUCES --------------------------------------------------------------------------------------------------(1680 x 1050)-----------------------------------------------------*/

@media only screen and (min-width: 1660px)and (max-width: 1899px){

#fond2{
	width: 1300px;
}

#image_accueil1{
    top: calc(50% - 400px);
    left: calc(50% - 500px);
    width: 1300px;
    height: 800px;
img{
    width: 1500px;
    top: -110px;
    left: -82px;
}
}
#accueil_encart3{
	height: 140px;
}
#encart_accueil2{
	height: 140px;
	h1{
	color:#FBF3F4;
	letter-spacing: 2px;
    font-size: 17px;
    margin-top: 0px;
}
}
	
}

/*----------------------------------------* RESPONSIVE 15 POUCES --------------------------------------------------------------------------------------------------(1920 x 900)-----------------------------------------------------*/

@media only screen and (min-width: 1900px)and (max-width: 2000px){

#fond2{
	width: 1300px;
}

#image_accueil1{
    top: calc(50% - 500px);
    left: calc(50% - 650px);
    width: 1600px;
    height: 1000px;
img{
    width: 1800px;
    top: -110px;
    left: -82px;
}
}
			
}

/*----------------------------------------* RESPONSIVE TABLETTE PAYSAGE ------------------------------------------------------------------------------------------(1024 x 768)---------------------------------------------------*/

@media only screen and (min-width: 1000px)and (max-width: 1249px){

#fond2{
	width: 750px;
}

#image_accueil1{
	top: calc(50% - 335px);
    left: calc(50% - 400px);
    width: 1000px;
    height: 670px;
img{
    width: 1100px;
    top: -60px;
    left: -82px;
}
}

#accueil_encart3{
	height: 110px;
}
#encart_accueil2{
	height: 110px;
	h1{
    color: #FBF3F4;
    letter-spacing: 2px;
    font-size: 15px;
    margin-top: 0px;
	}
}

}


/*----------------------------------------* RESPONSIVE TABLETTE PORTRAIT ------------------------------------------------------------------------------------------(768 x 1024)-----------------------------------------------------*/

@media only screen and (min-width: 760px)and (max-width: 999px){

#fond2{
	width: 750px;
}

#image_accueil1{
	top: calc(50% - 335px);
	left: calc(50% - 375px);
	width: 750px;
	height: 670px;
img{
    width: 1100px;
    top: -60px;
    left: -214px;
}
}

#accueil_encart3{
	bottom: 20%;
	right: -50%;
	height: 110px;
	width: 50%;
}
#encart_accueil2{
	height: 110px;
	width: 100%;
	background-color: #FBF3F4;
	h1{
    color: #FBF3F4;
    letter-spacing: 2px;
    font-size: 14px;
    margin-top: 0px;
	}
}
		
}



/*----------------------------------------* RESPONSIVE MOBILE ----------------------------------------------------------------------------------------------------(300 x 640)-------------------------------------------------------*/

@media only screen and (min-width: 250px)and (max-width: 759px){

#fond2{
	width: 750px;
}

#image_accueil1{
	top: calc(50% - 335px);
	left: calc(50% - 375px);
	width: 750px;
	height: 670px;
img{
    width: 1100px;
    top: -60px;
    left: -388px;
}
}

#accueil_encart3{
	bottom: 15%;
	right: -80%;
	height: 80px;
	width: 80%;
}
#encart_accueil2{
	height: 80px;
	width: 100%;
	background-color: #FBF3F4;
	h1{
    color: #FBF3F4;
    letter-spacing: 2px;
    line-height: 17px;
    font-size: 11px;
    margin: 0px;
	}
}

	
}





