#presentation_accueil_gauche2{
    margin-left: 300px;
}

#presentation_accueil_droite2{
    margin-left: -300px;
}

#tittle2{
	margin-left: 300px;
	padding-top: 1%;
	padding-bottom: 5%;
}

/* RESPONSIVE 13 POUCES */

@media only screen and (min-width: 780px)and (max-width: 1290px){

	#tittle2 {
	    margin-left: 200px;
	    padding-top: 1%;
	    padding-bottom: 1%;
	}

	#presentation_accueil_gauche2 {
	    margin-left: 200px;
	}

	#presentation_accueil_droite2 {
	    margin-left: -200px;
	}

	#presentation_accueil_droite2{

		img{
			height: 450px;
			width: 337px
		}
	}

	#presentation_accueil_gauche2{
		padding: 0px;

		img{
			height: 450px;
			width: 337px
		}
	}

}
