#couverture_img_alliance{
	border: 1px solid #F4F2EE;
	width: 2220px;
	height: 520px;
	background-image: url(../images/couverture_img_alliance.jpg);
	background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 300px;
  }

.navprojetdroit{
	padding-right: 4%;
}

#projet_alliance_contenu12{
    background-image: url(../images/alliance_logo-01.svg);
    background-clip: content-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    height: 800px;
    width: 1820px;
    margin-top: 5%;
    padding-left: 0%;
    padding-right: 0%;

}

#projet_alliance_contenu22{
    background-image: url(../images/alliance_photos2_projet.jpg);
    background-clip: content-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    height: 1000px;
    width: 1820px;
    margin-top: 1%;
    padding-left: 0%;
    padding-right: 0%;

}

#projet_alliance_contenu32{
    background-clip: content-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    height: 700px;
    width: 1820px;
    margin-top: 1%;
    padding-left: 0%;
    padding-right: 0%;

    .container{
    	padding: 0;
    	margin-top: -5%;
    }

    .row{
    margin-left: 0px;
    padding: 0;
    }

}

#projet_alliance_contenu321{
	background-image: url(../images/alliance_photos3_projet.jpg);
	background-clip: content-box;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    height: 800px;
    margin-top: 0%;
    padding-left: 0%;
    padding-right: 0.5%;
}

#projet_alliance_contenu322{
	background-image: url(../images/alliance_photos4_projet.jpg);
	background-clip: content-box;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    height: 800px;
    margin-top: 0%;
    padding-left: 0.5%;
    padding-right: 15px;
}

#alliance_photo_pieddepage{
	background-image: url(../images/alliance_photos6_projet.jpg);
	height: 1000px;
    width: 2220px;
	background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 5%;
    margin-left: 300px;
}

#couverture_img_alliance .row{
    margin-left: 0px;
}

/*----------------------
------------------------*/
/* RESPONSIVE */



/* RESPONSIVE 13 POUCES */
/*----------------------
-----------------------*/

@media only screen and (min-width: 1025px)and (max-width: 1290px){
    
    #couverture_img_alliance {
        width: auto;
        height: 300px;
        margin-left: 200px;
    }

    #projet_alliance_contenu12 {
        height: 600px;
        width: 1000px;
        margin-top: 5%;
        margin-left: calc(50% - 500px);
    }

    #projet_alliance_contenu22 {
        height: 600px;
        width: 1000px;
        margin-top: 1%;
        margin-left: calc(50% - 500px);
    }

        #alliance_photo_pieddepage {
        height: 490px;
        margin-top: 3%;
        margin-left: 200px;
        width: auto;
    }

        #projet_alliance_contenu32 {
        height: 360px;
        width: 1000px;
        margin-top: 0%;
        margin-left: calc(50% - 500px);
    }

    #projet_alliance_contenu321 {
        height: 460px;
        
    }

    #projet_alliance_contenu322 {
        height: 460px;
        padding-right: 0px;
    }
}

/* RESPONSIVE TABLETTE PAYSAGE */
/*-------------------------------
--------------------------------*/

@media only screen and (min-width: 780px)and (max-width: 1024px){

    #projet_alliance_contenu12 {
        height: 500px;
        width: 100%;
    }

    #projet_alliance_contenu22 {
        height: 500px;
        width: 100%;
    }

    #projet_alliance_contenu32 {
        width: 100%;
        height: 350px;
    }

    #projet_alliance_contenu321 {
        height: 400px;
        width: 50%;
    }

    #projet_alliance_contenu322 {
        height: 400px;
        width: 50%;
    }

    #alliance_photo_pieddepage {
        margin-top: 5%;
        margin-left: 200px;
        height: 490px;
    }

}

