#couverture_img_bbf{
	border: 1px solid #F4F2EE;
	width: auto;
	height: 520px;
	background-image: url(../images/bbf_photos8_projet.jpg);
	background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 300px;
}

#projet_bbf_contenu1{
    background-image: url(../images/bbf_photos_projet.jpg);
    background-clip: content-box;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    height: 800px;
    width: 1092px;
    margin-top: 5%;
    padding-left: 2%;

}

#projet_bbf_contenu2{
    background-image: url(../images/bbf_photos6_projet.jpg);
    background-clip: content-box;
    background-size: contain;
    height: 1000px;
    width: 1092px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    margin-top: 28%;  
    padding-left: 2%;
    padding-right: 0%;

    img{
    	margin-top: -44%;
    }
}

#bbf_photo_pieddepage{
	background-image: url(../images/bbf_photos5_projet.jpg);
	height: 1000px;
    width: auto;
	background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 5%;
    margin-left: 300px;
}

#projet_bbf_contenu3{
    background-image: url(../images/bbf_photos3_projet.jpg);
    background-size: contain;
    height: 1000px;
    width: 2000px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    margin-top: 0%;
    margin-bottom: 2%;
    margin-left: 125px;
}

#description_role_bbf{
    margin-top: -33%;
    margin-left: 4%;

    p{
        text-align: left;
    }
}

#frise_verticale{
   margin-top: 90%;
}

#couverture_img_bbf .row{
    margin-left: 0px;
}

/*---------------------------------------------------RESPONSIVE---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/




/*----------------------------------------* RESPONSIVE 13 POUCES --------------------------------------------------------------------------------------------------(1280 x 700)-----------------------------------------------------*/

@media only screen and (min-width: 1260px)and (max-width: 1419px){

    
    #couverture_img_bbf{
        border: 1px solid #F4F2EE;
        width: auto;
        height: 300px;
        margin-left: 200px;
    }

    #projet_bbf_contenu1 {
        height: 500px;
        margin-top: -1%;
        padding-left: 2%;
        width: 550px;
    }

    #projet_bbf_contenu3 {
        height: 500px;
        margin-bottom: 5%;
        width: 100%;
        margin-left: 0px;
        margin-bottom: 5%;
    }

    #bbf_photo_pieddepage {
        margin-top: 3%;
        margin-left: 200px;
        height: 485px;
        width: auto;
        margin-right: 0%;
    }
    
    #description_role_bbf{
        margin-top: -56%;
        margin-left: 4%;

        p{
            text-align: left;
        }        
    }

    #frise_verticale{
        margin-top: 95%;
        height: 300px;
    }

    #projet_bbf_contenu2 {
        margin-top: 32%;
        padding-left: 2%;
        padding-right: 1%;
        width: 490px;
        height: 500px;

        img{
            margin-top: -55%;
            width: 55%;
        }
    }

    #description_role_bbf h3{
        font-size: 17px !important;
        letter-spacing: 1px;
    }   
}

/*----------------------------------------* RESPONSIVE 15 POUCES --------------------------------------------------------------------------------------------------(1440 x 900)-----------------------------------------------------*/

@media only screen and (min-width: 1420px)and (max-width: 1659px){


    #couverture_img_bbf{
        border: 1px solid #F4F2EE;
        width: auto;
        height: 300px;
        margin-left: 200px;
    }

    #projet_bbf_contenu1 {
        height: 600px;
        margin-top: -1%;
        padding-left: 2%;
        width: 650px;
    }

    #projet_bbf_contenu3 {
        height: 600px;
        margin-bottom: 5%;
        width: 100%;
        margin-left: 0px;
        margin-bottom: 5%;
    }

    #bbf_photo_pieddepage {
        margin-top: 3%;
        margin-left: 200px;
        height: 485px;
        width: auto;
        margin-right: 0%;
    }

    #description_role_bbf{
        margin-top: -46%;
        margin-left: 4%;

        p{
            text-align: left;
        }        
    }

    #frise_verticale{
        margin-top: 98%;
        height: 300px;
    }

    #projet_bbf_contenu2 {
        margin-top: 32%;
        padding-left: 2%;
        padding-right: 1%;
        width: 550px;
        height: 600px;

        img{
            margin-top: -55%;
            width: 55%;
        }
    }

    #description_role_bbf h3{
        font-size: 17px !important;
        letter-spacing: 1px;
    }   
}

/*----------------------------------------* RESPONSIVE 15 POUCES --------------------------------------------------------------------------------------------------(1680 x 900)-----------------------------------------------------*/

@media only screen and (min-width: 1660px)and (max-width: 1919px){


    #couverture_img_bbf{
        border: 1px solid #F4F2EE;
        width: auto;
        height: 400px;
        margin-left: 300px;
    }

    #projet_bbf_contenu1 {
        height: 700px;
        margin-top: -1%;
        padding-left: 2%;
        width: 750px;
    }

    #projet_bbf_contenu3 {
        height: 700px;
        margin-bottom: 5%;
        width: 100%;
        margin-left: 0px;
    }

    #bbf_photo_pieddepage {
        margin-top: 3%;
        margin-left: 300px;
        height: 600px;
        width: auto;
        margin-right: 0%;
    }

    #description_role_bbf{
        margin-top: -40%;
        margin-left: 4%;

        p{
            text-align: left;
        }        
    }

    #frise_verticale{
        margin-top: 98% !important;
        height: 300px;
    }

    #projet_bbf_contenu2 {
        margin-top: 32%;
        padding-left: 2%;
        padding-right: 1%;
        width: 600px;
        height: 700px;

        img{
            margin-top: -55%;
            width: 55%;
        }
    }

    #description_role_bbf h3{
        font-size: 17px !important;
        letter-spacing: 1px;
    }   
}

/*----------------------------------------* RESPONSIVE 15 POUCES --------------------------------------------------------------------------------------------------(1920 x 900)-----------------------------------------------------*/

@media only screen and (min-width: 1920px)and (max-width: 2510px){

    #couverture_img_bbf{
        border: 1px solid #F4F2EE;
        width: auto;
        height: 400px;
        margin-left: 300px;
    }

    #projet_bbf_contenu1 {
        height: 700px;
        width: 790px;
        margin-top: 1%;
    }

    #projet_bbf_contenu2 {
        width: 807px;
        height: 790px;
        margin-top: 30%;

        img{
            margin-top: -55%;
            width: 50%;
        }
    }

    #projet_bbf_contenu3 {
        height: 700px;
        margin-bottom: 5%;
        width: 100%;
        margin-left: 0px;
        margin-top: 5%;
    }

    #bbf_photo_pieddepage {
        margin-top: 3%;
        margin-left: 300px;
        height: 700px;
        width: auto;
        margin-right: 0%;
    }

    #frise_verticale{
        margin-top: 95% !important;
    }

    #description_role_bbf {
        margin-top: -43%;
        margin-left: 4%;
    }

    
}


/*----------------------------------------* RESPONSIVE TABLETTE PORTRAIT --------------------------------------------------------------------------------------------(768 x 1024)---------------------------------------------------*/

@media only screen and (min-width: 760px)and (max-width: 1023px){

    #description_role_bbf {
        margin-top: -47%;
        margin-left: 4%;
    }

    #couverture_img_bbf {
        width: auto;
        height: 300px;
        margin-left: 0px;
        padding-right: 1%;
    }

    #frise_verticale {
        margin-top: 82%;
    }

    #projet_bbf_contenu1 {
        height: 500px;
        width: 750px;
        padding-right: 3%;
    }

    #projet_bbf_contenu2 {
        height: 500px;
        width: 750px;
        padding-right: 1%;
        margin-top: 100%;

        img{
        margin-top: -50%;
        }
    }

    #projet_bbf_contenu3 {
        height: 500px;
        width: 712px;
        margin-left: 2%;
        margin-top: 2%;
    }

    #bbf_photo_pieddepage {
        height: 348px;
        width: auto;
        margin-left: 0px;
        padding-right: 1%;
        background-size: cover;
    }
}

/*----------------------------------------* RESPONSIVE TABLETTE PAYSAGE -----------------------------------------------------------------------------------------------(1024 x 768)-------------------------------------------------*/

@media only screen and (min-width: 1024px)and (max-width: 1249px){

    #couverture_img_bbf{
        border: 1px solid #F4F2EE;
        width: auto;
        height: 300px;
        margin-left: 200px;
    }

    #projet_bbf_contenu1 {
        margin-top: -25%;
        padding-left: 2%;
        height: auto;
        width: 400px;
    }

    #projet_bbf_contenu3 {
        height: 500px;
        margin-bottom: 5%;
        width: 100%;
        margin-left: 0px;
        margin-bottom: 5%;
    }

    #bbf_photo_pieddepage {
        margin-top: 3%;
        margin-left: 200px;
        height: 400px;
        width: auto;
        margin-right: 0%;
    }

    #description_role_bbf{
        margin-top: -56%;
        margin-left: 4%;

        p{
            text-align: left;
        }        
    }

    #frise_verticale{
        margin-top: 95%;
        height: 300px;
        margin-top: 150%;
    }

    #projet_bbf_contenu2 {
        margin-top: 17%;
        padding-left: 2%;
        padding-right: 0%;
        height: 658px;
        width: 400px;
        margin-bottom: -10%;


        img{
            margin-top: -20%;
            width: 55%;
        }
    }

    #description_role_bbf h3{
        font-size: 17px !important;
        letter-spacing: 1px;
    }   

    #description_role_bbf {
        margin-top: -78%;
        margin-left: 4%;
    }
}

/*----------------------------------------* RESPONSIVE MOBILE ----------------------------------------------------------------------------------------------------(300 x 640)-------------------------------------------------------*/

@media only screen and (min-width: 250px)and (max-width: 759px){

    #description_role_bbf {
        display:none;
    }

    #couverture_img_bbf {
        width: auto;
        height: 130px;
        margin-left: 0px;
        padding-right: 0%;
    }

    #frise_verticale {
        display: none;
    }

    #projet_bbf_contenu1 {
        height: 200px;
        width: auto;
        padding: 0%;
        margin: 0px;
    }

    #projet_bbf_contenu2 {
        height: 200px;
        width: auto;
        padding-right: 0%;
        margin-top: 65%;
    

        img{
        margin-top: -70%;
        width: 55%;
        }
    }

    #projet_bbf_contenu3 {
        height: 200px;
        width: auto;
        margin-left: 0%;
        margin-top: 10%;
    }

    #bbf_photo_pieddepage {
        height: 146px;
        width: auto;
        margin-left: 0px;
        padding-right: 0%;
        background-size: cover;
        margin-top: 10%;
    }
}