#presentation_contact{
	margin-left: 300px;
}

#contact{
	max-width: 1000px;
	margin: 0 auto;

	.row{
	margin-left: 0;
	}
}

#tittle_contact{
    padding-top: 2%;

    h1 {
    font-family: sabon roman;
    font-size: 75px;
    letter-spacing: 0px;
    color: #010101;
    } 
}

#description_contact{
	margin: 0 auto;

    a:hover{
    color: #D2B0B0;
    }
}

#social_media {
    i{
        color: #F6ECEC;
    }
    li{
        background-color:#e4cece;
        margin-right: 10px;
        margin-left: 10px;
    }
    li:hover{
        background-color:#130E0A;
    }
    .fa{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    }
}

#separator {
    width: 50px;
    border-top: 1px solid #010101;
    height: 30px;
    margin: 0 auto;
}

#separator2 {
    width: 50px;
    border-bottom: 1px solid #010101;
    height: 40px;
    margin: 0 auto;
}

#div_map .row{
	margin-left: 0;
	padding: 0;
	padding-right: 15px;
}
#div_map .col-xs-12{
	padding-left: 0;
}

#map{
	width: 100%;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {  
border-color: #D2B0B0;
box-shadow: 0 1px 1px #D2B0B0 inset, 0 0 8px #D2B0B0;
outline: 0 none;}

/*---------------------------------------------------RESPONSIVE---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/




/*----------------------------------------* RESPONSIVE 13 POUCES --------------------------------------------------------------------------------------------------(1280 x 700)-----------------------------------------------------*/

@media only screen and (min-width: 1280px)and (max-width: 1439px){

    #presentation_contact{
        margin-left: 200px;
    }

    #contact{
        width: 900px;
    }

    #div_map .row {
        padding-right: 0px;
    }
}

/*----------------------------------------* RESPONSIVE 15 POUCES --------------------------------------------------------------------------------------------------(1440 x 900)-----------------------------------------------------*/

@media only screen and (min-width: 1440px)and (max-width: 1679px){

    #presentation_contact{
        margin-left: 200px;
    }

    #contact{
        width: 700px;
    }

    #div_map .row {
        padding-right: 0px;
    }   
}


/*----------------------------------------* RESPONSIVE TABLETTE PAYSAGE -----------------------------------------------------------------------------------------------(1024 x 768)-------------------------------------------------*/

@media only screen and (min-width: 1024px)and (max-width: 1279px){
   
    #presentation_contact{
        margin-left: 200px;
    }

    #contact{
        width: 500px;
    }

    .signature {
        margin-left: 200px;
    }

    #div_map .row {
        margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
}