#couverture_img_cotebassin{
	border: 1px solid #F4F2EE;
	width: auto;
	height: 520px;
	background-image: url(../images/cotebassin_presentation.jpg);
	background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 300px;
  }

.presentation_projet{

    img{
        margin: 3%;
        }

}

.vertical_spacer{
	background-color: white;
	border: 1px solid white;
}

.navprojetdroit{
	padding-right: 4%;
}

.nav_projet i{
	color: #F6EFEF;

	&:hover{
		color: black;
	}
}


#projet_cotebassin_contenu1{
    background-image: url(../images/cotebassin_photos_projet.jpg);
    background-clip: content-box;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    height: 800px;
    margin-top: 5%;
    padding-left: 2%;

}

#projet_cotebassin_contenu2{
    background-image: url(../images/cotebassin_photos2_projet.jpg);
    background-clip: content-box;
    background-size: contain;
    height: 1000px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    margin-top: 28%;  
    padding-left: 2%;
    padding-right: 2%;

    img{
    	margin-top: -44%;
    }
}

#cotebassin_photo_pieddepage{
	background-image: url(../images/cotebassin_photos5_projet.jpg);
	height: 1000px;
	background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 5%;
    margin-left: 300px;
}

#projet_cotebassin_contenu3{
    background-image: url(../images/cotebassin_photos3_projet.jpg);
    background-size: contain;
    height: 1000px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    margin-top: 0%;
    margin-bottom: 2%;
}

#description_role_cotebassin{
    margin-top: -31%;
    margin-left: 4%;

    p{
        text-align: left;
    }
}

#frise_verticale{
   margin-top: 90%;
}

.frise_bas{
    position: absolute !important;
    right: 0% !important;
}

.signature {
    margin-left: 300px;
    padding: 5px;
    background-color: $couleur_fond;
    margin-bottom: 0;

    p{
     font-size: 12px;
    }
}

#couverture_img_cotebassin .row{
    margin-left: 0px;
}

/*----------------------
------------------------*/
/* RESPONSIVE */



/* RESPONSIVE 13 POUCES */
/*----------------------
-----------------------*/

@media only screen and (min-width: 1025px)and (max-width: 1290px){

    .presentation_projet{
        width: 500px;
        margin-left: calc(50% - 150px);
    }

    p{
     font-size: 14px;
     line-height: 24px !important;
     letter-spacing: 0.5; 
    }

    #couverture_img_cotebassin{
        border: 1px solid #F4F2EE;
        width: auto;
        height: 300px;
        margin-left: 200px;
    }

    #projet_cotebassin_contenu1{
        background-image: url(../images/cotebassin_photos_projet.jpg);
        background-clip: content-box;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: scroll;
        height: 800px;
        margin-top: -15%;
        padding-left: 1%;
    }

    #projet_cotebassin_contenu3{
        background-image: url(../images/cotebassin_photos3_projet.jpg);
        background-size: contain;
        height: 500px;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: scroll;
        margin-top: 0%;
        margin-bottom: 5%;
    }

    #cotebassin_photo_pieddepage{
        background-image: url(../images/cotebassin_photos5_projet.jpg);
        height: 490px;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 0%;
        margin-left: 200px;
    }
    
    .presentation_projet{

        h2{
        font-size: 32px !important;
        }

        h3{
        font-size: 17px !important;
        margin-top: 10px;
        }

        h4{
        font-size: 16px !important;
        line-height: 23px;
        }

        p{
        margin-top: 20px;
        }

        img{
        width: 3%;
        margin: 2%;
        }
    }

    .frise_haut{
    margin-left: 190px !important;
    position: relative;
    }

    .frise_bas{
    position: absolute !important;
    right: 0% !important;
    margin-top: -3% important;
    }

    #description_role_cotebassin{
        margin-top: -56%;
        margin-left: 4%;

        p{
            text-align: left;
        }        
    }

    #frise_verticale{
        margin-top: 128%;
        height: 300px;
    }

    #projet_cotebassin_contenu2{
        background-image: url(../images/cotebassin_photos2_projet.jpg);
        background-clip: content-box;
        background-size: contain;
        height: 500px !important;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: scroll;
        margin-top: 32%;  
        padding-left: 2%;
        padding-right: 2%;

        img{
            margin-top: -53%;
            width: 54%;
        }
    }

    #description_role_cotebassin h3{
        font-size: 17px !important;
        letter-spacing: 1px;
    }    
}

/* RESPONSIVE TABLETTE PAYSAGE */
/*-------------------------------
--------------------------------*/

@media only screen and (min-width: 780px)and (max-width: 1024px){
    
    .presentation_projet h2 {
        font-size: 35px !important;
    }

    .presentation_projet h3 {
        font-size: 18px !important;
    }

    .presentation_projet h4 {
        letter-spacing: 1px;
        line-height: 25px;
    }

    .presentation_projet p {
        line-height: 25px;
    }

    .presentation_projet{
        width: 500px;
        margin-left: calc(50% - 150px);
    }

    .frise_haut {
        margin-left: 190px;
        position: relative;
    }

    #couverture_img_cotebassin {
        height: 300px;
        margin-left: 200px;
    }

    #projet_cotebassin_contenu1 {
        height: 600px;
        margin-top: 0%;
        padding-left: 0%;
    }

    #description_role_cotebassin {
        margin-top: -42%;
        margin-left: 4%;
    }

    #frise_verticale {
        margin-top: 80%;
    }

    #projet_cotebassin_contenu2 img {
        margin-top: -65%;
    }

    #projet_cotebassin_contenu2 {
        height: 600px;
        margin-top: 97%;
    }

    #projet_cotebassin_contenu3 {
        height: 600px;
    }


    #cotebassin_photo_pieddepage {
        height: 490px;
        margin-left: 200px;
    }

    .signature {
    margin-left: 200px;
    padding: 5px;
}



}