.row{
    margin-left: 300px;
}

#couverture_img_cotebassin{
	border: 1px solid #F4F2EE;
	width: 2223px;
	height: 520px;
	background-image: url(../images/cotebassin_presentation.jpg);
	background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 300px;
  }

.presentation_projet{

    img{
        margin: 3%;
        }

}

.vertical_spacer{
	background-color: white;
	border: 1px solid white;
}


#projet_cotebassin_contenu1{
    background-image: url(../images/cotebassin_photos_projet.jpg);
    background-clip: content-box;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    height: 800px;
    width: 1092px;
    margin-top: 5%;
    padding-left: 2%;

}

#projet_cotebassin_contenu2{
    background-image: url(../images/cotebassin_photos2_projet.jpg);
    background-clip: content-box;
    background-size: contain;
    height: 1000px;
    width: 1092px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    margin-top: 28%;  
    padding-left: 2%;
    padding-right: 2%;

    img{
    	margin-top: -44%;
    }
}

#cotebassin_photo_pieddepage{
	background-image: url(../images/cotebassin_photos5_projet.jpg);
	height: 1000px;
    width: 2223px;
	background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 5%;
    margin-left: 300px;
}

#projet_cotebassin_contenu3{
    background-image: url(../images/cotebassin_photos3_projet.jpg);
    background-size: contain;
    height: 1000px;
    width: 2000px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    margin-top: 0%;
    margin-bottom: 2%;
    margin-left: 125px;
}

#description_role_cotebassin{
    margin-top: -31%;
    margin-left: 4%;

    p{
        text-align: left;
    }
}

#frise_verticale{
   margin-top: 90%;
}

.frise_bas{
    position: absolute;
    right: 0%;
}

.signature {
    margin-left: 300px;
    padding: 5px;
    background-color: $couleur_fond;
    margin-bottom: 0;

    p{
     font-size: 12px;
    }
}

#couverture_img_cotebassin .row{
    margin-left: 0px;
}

.nav_projet{
    padding-top: 10px;
    img{
    width: 32px;
    }
}

.navprojetdroit{
    padding-right: 2%;
}

.navprojetgauche{
    padding-left: 2%;
}

.nav_projet i {
    color: #F6EFEF;
    padding-left: 10px;
    padding-right: 10px;
}

.nav_class1{
    img{
    width: 40px;
    transition: all 1s;
    }
}

#fleche_gauche{
    display: inline;
    padding-left: 10px;
}

#fleche_droite{
    display: inline;
    padding-right: 10px;
}

/*---------------------------------------------------RESPONSIVE---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/




/*----------------------------------------* RESPONSIVE 13 POUCES --------------------------------------------------------------------------------------------------(1280 x 700)-----------------------------------------------------*/

@media only screen and (min-width: 1280px)and (max-width: 1439px){

    .row{
        margin-left: 200px;
        margin-right: 0px;
    }


    .presentation_projet{
        width: 500px;
        margin-left: calc(50% - 150px);
    }

    p{
     font-size: 14px;
     line-height: 24px !important;
     letter-spacing: 0.5; 
    }

    #couverture_img_cotebassin{
        border: 1px solid #F4F2EE;
        width: auto;
        height: 300px;
        margin-left: 200px;
    }

    #projet_cotebassin_contenu1 {
        height: 500px;
        margin-top: -1%;
        padding-left: 2%;
        width: 550px;
    }

    #projet_cotebassin_contenu3 {
        height: 500px;
        margin-bottom: 5%;
        width: 100%;
        margin-left: 0px;
        margin-bottom: 5%;
    }

    #cotebassin_photo_pieddepage {
        margin-top: 3%;
        margin-left: 200px;
        height: 485px;
        width: auto;
        margin-right: 0%;
    }
    
    .presentation_projet{

        h2{
        font-size: 32px !important;
        }

        h3{
        font-size: 17px !important;
        margin-top: 10px;
        }

        h4{
        font-size: 16px !important;
        line-height: 23px;
        }

        p{
        margin-top: 20px;
        }

        img{
        width: 3%;
        margin: 2%;
        }
    }

    .frise_haut{
    margin-left: 190px !important;
    position: relative;
    }

    .frise_bas{
    position: absolute !important;
    right: 0% !important;
    margin-top: -3% important;
    }

    #description_role_cotebassin{
        margin-top: -56%;
        margin-left: 4%;

        p{
            text-align: left;
        }        
    }

    #frise_verticale{
        margin-top: 95%;
        height: 300px;
    }

    #projet_cotebassin_contenu2 {
        margin-top: 32%;
        padding-left: 2%;
        padding-right: 0%;
        width: 490px;
        height: 500px;

        img{
            margin-top: -55%;
            width: 55%;
        }
    }

    #description_role_cotebassin h3{
        font-size: 17px !important;
        letter-spacing: 1px;
    }   

    .signature {
        margin-left: 200px;
        padding: 5px;
        background-color: #F6EFEF;
        margin-bottom: 0px;
    } 
}

/*----------------------------------------* RESPONSIVE 15 POUCES --------------------------------------------------------------------------------------------------(1440 x 900)-----------------------------------------------------*/

@media only screen and (min-width: 1440px)and (max-width: 1679px){

    .row{
        margin-left: 200px;
        margin-right: 0px;
    }


    .presentation_projet{
        width: 500px;
        margin-left: calc(50% - 150px);
    }

    p{
     font-size: 14px;
     line-height: 24px !important;
     letter-spacing: 0.5; 
    }

    #couverture_img_cotebassin{
        border: 1px solid #F4F2EE;
        width: auto;
        height: 300px;
        margin-left: 200px;
    }

    #projet_cotebassin_contenu1 {
        height: 600px;
        margin-top: -1%;
        padding-left: 2%;
        width: 650px;
    }

    #projet_cotebassin_contenu3 {
        height: 600px;
        margin-bottom: 5%;
        width: 100%;
        margin-left: 0px;
        margin-bottom: 5%;
    }

    #cotebassin_photo_pieddepage {
        margin-top: 3%;
        margin-left: 200px;
        height: 485px;
        width: auto;
        margin-right: 0%;
    }
    
    .presentation_projet{

        h2{
        font-size: 32px !important;
        }

        h3{
        font-size: 17px !important;
        margin-top: 10px;
        }

        h4{
        font-size: 16px !important;
        line-height: 23px;
        }

        p{
        margin-top: 20px;
        }

        img{
        width: 3%;
        margin: 2%;
        }
    }

    .frise_haut{
    margin-left: 190px !important;
    position: relative;
    }

    .frise_bas{
    position: absolute !important;
    right: 0% !important;
    margin-top: -3% important;
    }

    #description_role_cotebassin{
        margin-top: -46%;
        margin-left: 4%;

        p{
            text-align: left;
        }        
    }

    #frise_verticale{
        margin-top: 98%;
        height: 300px;
    }

    #projet_cotebassin_contenu2 {
        margin-top: 32%;
        padding-left: 2%;
        padding-right: 0%;
        width: 550px;
        height: 600px;

        img{
            margin-top: -55%;
            width: 55%;
        }
    }

    #description_role_cotebassin h3{
        font-size: 17px !important;
        letter-spacing: 1px;
    }   

    .signature {
        margin-left: 200px;
        padding: 5px;
        background-color: #F6EFEF;
        margin-bottom: 0px;
    } 
    

}

/*----------------------------------------* RESPONSIVE 15 POUCES --------------------------------------------------------------------------------------------------(1680 x 900)-----------------------------------------------------*/

@media only screen and (min-width: 1680px)and (max-width: 1919px){


    .presentation_projet{
        width: 500px;
        margin-left: calc(50% - 100px);
    }

    p{
     font-size: 14px;
     line-height: 24px !important;
     letter-spacing: 0.5; 
    }

    #couverture_img_cotebassin{
        border: 1px solid #F4F2EE;
        width: auto;
        height: 400px;
        margin-left: 300px;
    }

    #projet_cotebassin_contenu1 {
        height: 700px;
        margin-top: -1%;
        padding-left: 2%;
        width: 750px;
    }

    #projet_cotebassin_contenu3 {
        height: 700px;
        margin-bottom: 5%;
        width: 100%;
        margin-left: 0px;
    }

    #cotebassin_photo_pieddepage {
        margin-top: 3%;
        margin-left: 300px;
        height: 600px;
        width: auto;
        margin-right: 0%;
    }
    
    .presentation_projet{

        h2{
        font-size: 32px !important;
        }

        h3{
        font-size: 17px !important;
        margin-top: 10px;
        }

        h4{
        font-size: 16px !important;
        line-height: 23px;
        }

        p{
        margin-top: 20px;
        }

        img{
        width: 3%;
        margin: 2%;
        }
    }

    .frise_haut{
    margin-left: 290px !important;
    position: relative;
    }

    .frise_bas{
    position: absolute !important;
    right: 0% !important;
    margin-top: -3% important;
    }

    #description_role_cotebassin{
        margin-top: -40%;
        margin-left: 4%;

        p{
            text-align: left;
        }        
    }

    #frise_verticale{
        margin-top: 98% !important;
        height: 300px;
    }

    #projet_cotebassin_contenu2 {
        margin-top: 32%;
        padding-left: 2%;
        padding-right: 1%;
        width: 600px;
        height: 700px;

        img{
            margin-top: -55%;
            width: 55%;
        }
    }

    #description_role_cotebassin h3{
        font-size: 17px !important;
        letter-spacing: 1px;
    }   

    .signature {
        margin-left: 200px;
        padding: 5px;
        background-color: #F6EFEF;
        margin-bottom: 0px;
    } 
}

/*----------------------------------------* RESPONSIVE 15 POUCES --------------------------------------------------------------------------------------------------(1920 x 900)-----------------------------------------------------*/

@media only screen and (min-width: 1920px)and (max-width: 2559px){

    #couverture_img_cotebassin{
        border: 1px solid #F4F2EE;
        width: auto;
        height: 400px;
        margin-left: 300px;
    }

    #projet_cotebassin_contenu1 {
        height: 700px;
        width: 807px;
        margin-top: 1%;
    }

    #projet_cotebassin_contenu2 {
        width: 807px;
        height: 700px;
        margin-top: 30%;

        img{
            margin-top: -55%;
            width: 50%;
        }
    }

    #projet_cotebassin_contenu3 {
        height: 700px;
        margin-bottom: 5%;
        width: 100%;
        margin-left: 0px;
        margin-top: 5%;
    }

    #cotebassin_photo_pieddepage {
        margin-top: 3%;
        margin-left: 300px;
        height: 700px;
        width: auto;
        margin-right: 0%;
    }

    #frise_verticale{
        margin-top: 95% !important;
    }

    #description_role_cotebassin {
        margin-top: -43%;
        margin-left: 4%;
    }

    
}


/* RESPONSIVE TABLETTE PAYSAGE */
/*-------------------------------
--------------------------------*/

@media only screen and (min-width: 780px)and (max-width: 1024px){
    
    .presentation_projet h2 {
        font-size: 35px !important;
    }

    .presentation_projet h3 {
        font-size: 18px !important;
    }

    .presentation_projet h4 {
        letter-spacing: 1px;
        line-height: 25px;
    }

    .presentation_projet p {
        line-height: 25px;
    }

    .presentation_projet{
        width: 500px;
        margin-left: calc(50% - 150px);
    }

    .frise_haut {
        margin-left: 190px;
        position: relative;
    }

    #couverture_img_cotebassin {
        height: 300px;
        width: 1024px;
        margin-left: 200px;
    }

    #projet_cotebassin_contenu1 {
        height: 600px;
        margin-top: 0%;
        padding-left: 0%;
    }

    #description_role_cotebassin {
        margin-top: -42%;
        margin-left: 4%;
    }

    #frise_verticale {
        margin-top: 82%;
    }

    #projet_cotebassin_contenu2 img {
        margin-top: -65%;
    }

    #projet_cotebassin_contenu2 {
        height: 600px;
        margin-top: 97%;
    }

    #projet_cotebassin_contenu3 {
        height: 600px;
    }


    #cotebassin_photo_pieddepage {
        height: 490px;
        margin-left: 200px;
    }

    .signature {
    margin-left: 200px;
    padding: 5px;
    }

    .goutte_gauche {
    vertical-align: middle;
    }

    .goutte_droite {
    vertical-align: middle;
    }
}

/*----------------------------------------* RESPONSIVE TABLETTE PORTRAIT --------------------------------------------------------------------------------------------(768 x 1024)---------------------------------------------------*/

@media only screen and (min-width: 400px)and (max-width: 779px){

    .col-sm-3 {
        width: 30%;
    }

    .presentation_projet h3 {
        font-size: 16px !important;
    }

    .presentation_projet h4 {
        letter-spacing: 1px;
        line-height: 28px;
    }

    .presentation_projet p {
        line-height: 28px;
    }

    .frise_haut {
        margin-left: -10px;
        position: relative;
        margin-top: 2%;
    }

    #description_role_cotebassin {
        margin-top: -47%;
        margin-left: 4%;
    }

    #couverture_img_cotebassin {
        width: auto;
        height: 300px;
        margin-left: 0px;
        padding-right: 1%;
    }

    .frise_haut {
        margin-left: -10px;
        position: relative;
    }

    #frise_verticale {
        margin-top: 82%;
    }

    #projet_cotebassin_contenu1 {
        height: 500px;
        width: 750px;
        padding-right: 3%;
    }

    #projet_cotebassin_contenu2 {
        height: 500px;
        width: 750px;
        padding-right: 1%;
        margin-top: 100%;

        img{
        margin-top: -50%;
        }
    }

    #projet_cotebassin_contenu3 {
        height: 500px;
        width: 712px;
        margin-left: 2%;
    }

    #cotebassin_photo_pieddepage {
        height: 348px;
        width: auto;
        margin-left: 0px;
        padding-right: 1%;
        background-size: contain;
    }
}