#tittle {
    padding-top: 1%;
    margin-top: 0px;
    z-index: 999;
}

.accueil_logo{
    position: fixed;
    top:50%;
    left: 50%;
    margin-left: -135px;
}

.accueil_estampille{
    position: fixed;
    top:50%;
    left: 50%;
    margin-left: 85px;
    -webkit-transition: 4s;
    -moz-transition: 4s;
    -o-transition: 4s;
    transition: 4s;
}

.container{
    padding: 0;
}

/* Fonts */

h1{
    font-family: sabon roman;
    font-size: 30px;
    letter-spacing: 3px;
}

h2{
    font-family: brandon grotesque;
    font-size: 46px !important;
}

h3{
    font-family: sabon roman;
    font-size: 20px;
}

h4{
    font-size: 18px !important;
}

p{
    font-family: sabon roman;
    color: black;
    letter-spacing: 0.5px;
}

a {
    color: #000059;
    text-decoration: none;

    &:hover{
    color:#000059;
    }
}



/* ------ */

html{
    height: 100%;
    background-color: white;
    margin-bottom: 0;
}

body{
    height: 96%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #F6ECEC;
}

a:focus
{
outline: 0;
} 

#page_accueil{
	width: 100%;
	background-color: #F6ECEC;
    margin-bottom: 0;

}

#nav{
	height: 100%;
	background-color: white;
	overflow: hidden;
	position: fixed;
	width: 300px;
	left: 0px;
	top: 0px;
	z-index: 10;

}

#section {
    position: absolute;
    margin-left: 10%;
    padding-left: 300px;
    overflow: hidden;
    background-color: $couleur_fond;
    z-index: -1;
}


#menu{
    display: block;
    list-style-type: none;
    float: left;
    overflow: hidden;
    background-color: white;
    position: absolute;
    top: 40%;
    width: 300px;
    padding-left: 0;
    line-height: 50px;
    font-family: brandon grotesque;
}

#menu a{
    color:black;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 2px;

    &:hover{
        text-decoration: none;
        background-color: black;
        color: #FFFFFF;
       }
}

#logo{
    margin-top: 1%;
    padding-top: 5%;
    
    img{
        width: 100%;
    }
}

/* Footer */

.list-inline > li {
    color: black;
    border: 1px solid darken($couleur_fond, 10%);
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-left: 7px;
    margin-right: 7px;
    padding: 2px;
    background-color: white;

    &:hover{
        background-color: #130E0A;
    }
}

#footer .fa{
	color: darken($couleur_fond, 10%);
	transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}



/* ------ */


#menu ul li{
	list-style-type: none;
	padding: 1em;
}

#menu ul{
	padding-left: 0px;
	right: 0;
}

#navbar h1{
	font-family: arial ;
}

#footer {
	position: absolute;
	bottom: 5%;
	width: 300px;
}



#presentation{
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 11%;
	height: 450px;
	clear: both;
	background-color: #F6EFEF;
	padding: 3% 5%;
}

#presentation h1, p{
	text-align: center;
	margin-bottom: 0px;
	margin: 0px;
	line-height: 30px;
	
}

#presentation h1{
	font-family: brandon grotesque;
}

#presentation img {
    vertical-align: middle;
    display: block;
    text-align: center;
    padding-bottom: 14px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -22px;
}

#contact-droite h2, p{
	z-index: 10;
	text-align: center;
}

#contact-droite p {
    padding: 0px 10%;
}

#contact-droite  img{
	display: block;
	margin-right: auto;
	margin-left: auto;
}

a:hover{
    text-decoration: none;
}


#presentation_accueil{
    width: calc(100% - 300px);
    height: 100vh;
}

#row_presentation_accueil{
    position: fixed;
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0%;
    height: 1000px;

    .row{
    margin-left: 0px;
    }
}




/* --- SLIDER --- */

#presentation_accueil_gauche{
    height: 100vh;
}



#img2 {
    z-index: 2;
    position: absolute;
    left: calc(50% - 100px);
    bottom: -1050px;
    height: 800px;
    width: 600px;
}

#img3 {
    z-index: 3;
    position: absolute;
    left: calc(50% - 100px);
    bottom: -1050px;
    height: 800px;
    width: 600px;
}

#img4 {
    z-index: 4;
    position: absolute;
    left: calc(50% - 100px);
    bottom: calc(50% - 400px);
    height: 800px;
    width: 600px;
}


#presentation_accueil_droite{
    height: 100vh;
}


#img6 {
    z-index: 2;
    position: absolute;
    left: calc(50% - 400px);
    top: -1050px;
    height: 800px;
    width: 600px;
}

#img7 {
    z-index: 2;
    position: absolute;
    left: calc(50% - 400px);
    top: -1050px;
    height: 800px;
    width: 600px;
}

#img8 {
    z-index: 5;
    position: absolute;
    left: calc(50% - 400px);
    bottom: calc(50% - 400px);
    height: 800px;
    width: 600px;
    margin: 0 auto;
}



 


/* RESPONSIVE */

@media only screen and (min-width: 500px) and (max-width:1023px){

.site-container{
    overflow:hidden;
}

.site-pusher{
    transition-duration: 1.2s;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
}

#menu {
    display:inline;
    position: absolute;
    left: 0;
    top: 250px;
    bottom: 0;
    list-style-type: none;
    overflow: hidden;
    padding: 0px;
    background-color: #FFF;
    line-height: 50px;
    font-family: brandon grotesque;
    width: 200px;
    z-index: 999;
    transform: translateX(200px * -1);
    -webkit-transform: translateX(200px * -1);
    -moz-transform: translateX(200px * -1);

    a{
        text-align: center;
    }
}

    #logo{

    position: absolute;
    left: 0;
    top: 0px;
    bottom: 0;
    list-style-type: none;
    overflow: hidden;
    padding: 0px;
    background-color: #FFF;
    width: 200px;
    z-index: 999;
    margin-top: 0;
    padding-top: 20px;
    transform: translateX(200px * -1);
    -webkit-transform: translateX(200px * -1);
    -moz-transform: translateX(200px * -1);

    }

    #presentation_contact {
        margin-left: 0px;
    }


    #section{
        margin-left: 0%;
    }

    #footer{
        display: none;
    }



    #nav{
        position: static;
        float:left;
        width: 8%;
        z-index: 10;

        h1{
        display:none;
        }

    }
    .nav__icon{
        position: relative;
        margin-top: 15px;
        margin-bottom: 15px;
        background-color: white;
        display: block;
        float: left;
        width: 60px;
        height: 30px;
        cursor: pointer;
        z-index: 10;

        &:after{
            content:" ";
            position: absolute;
            display: block;
            width: 1rem;
            height: 0;
            left: 20px;
            @include box-shadow(0 10px 0 1px black, 0 16px 0 1px black, 0 22px 0 1px black);
        }
    }

    .with--sidebar{
        .site-pusher{
            transform: translateX(200px);
            -webkit-transform: translateX(200px);
            -moz-transform: translateX(200px);
        }
    }

    #tittle2 {
        margin-left: 0px;
        padding-top: 1%;
        padding-bottom: 5%;
    }
}

/*---------------------------------------------------RESPONSIVE---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/*----------------------------------------* RESPONSIVE 13 POUCES --------------------------------------------------------------------------------------------------(1280 x 700)-----------------------------------------------------*/

@media only screen and (min-width: 1280px)and (max-width: 1439px){

    #nav{
    height: 100%;
    background-color: white;
    overflow: hidden;
    position: fixed;
    width: 200px !important;
    left: 0px;
    top: 0px;
    z-index: 10;
    }

    #menu{
        width: 200px;
    }

    #footer {
        width: 200px;
    }

    /* --- SLIDER --- */

    #tittle{
        margin-bottom: 2%;

        h1{
        font-family: sabon roman;
        letter-spacing: 2px;
        font-size: 20px;
        }
    }


    #presentation_accueil_gauche{
        height: 100vh;
    }



    #img2 {
        z-index: 2;
        position: absolute;
        left: calc(50% - 187px);
        bottom: -1050px;
        height: 450px;
        width: 337px;
    }

    #img3 {
        z-index: 3;
        position: absolute;
        left: calc(50% - 187px);
        bottom: -1050px;
        height: 450px;
        width: 337px;
    }

    #img4 {
        z-index: 4;
        position: absolute;
        left: calc(50% - 187px);
        bottom: calc(50% - 150px);
        height: 450px;
        width: 337px;
    }


    #presentation_accueil_droite{
        height: 100vh;
    }


    #img6 {
        z-index: 2;
        position: absolute;
        left: calc(50% - 187px);
        top: -1050px;
        height: 450px;
        width: 337px;
    }

    #img7 {
        z-index: 2;
        position: absolute;
        left: calc(50% - 187px);
        top: -1050px;
        height: 450px;
        width: 337px;
    }

        #img8 {
            z-index: 5;
            position: absolute;
            left: calc(50% - 187px);
            bottom: calc(50% - 150px);
            height: 450px;
            width: 337px;
            margin: 0 auto;
        }

    .accueil_logo {
        position: fixed;
        top: calc(50% - 115px);
        left: 50%;
        margin-left: -185px;

        img{
            width: 85%;
        }
    }

    .accueil_estampille {
        position: fixed;
        top: calc(50% - 100px);
        left: 50%;
        margin-left: -50px;
        transition: all 4s ease 0s;

    }

}

/*----------------------------------------* RESPONSIVE 15 POUCES --------------------------------------------------------------------------------------------------(1440 x 900)-----------------------------------------------------*/

@media only screen and (min-width: 1440px)and (max-width: 1679px){

    #nav{
        height: 100%;
        background-color: white;
        overflow: hidden;
        position: fixed;
        width: 200px !important;
        left: 0px;
        top: 0px;
        z-index: 10;
    }

    #menu {
        width: 200px;
    }

    #footer {
        width: 210px;
    }



    /* --- SLIDER --- */

    #tittle{
        margin-bottom: 2%;

        h1{
        font-family: sabon roman;
        letter-spacing: 2px;
        font-size: 20px;
        }
    }


    #presentation_accueil_gauche{
        height: 100vh;
    }



    #img2 {
        z-index: 2;
        position: absolute;
        left: calc(50% - 187px);
        bottom: -1050px;
        height: 450px;
        width: 337px;
    }

    #img3 {
        z-index: 3;
        position: absolute;
        left: calc(50% - 187px);
        bottom: -1050px;
        height: 450px;
        width: 337px;
    }

    #img4 {
        z-index: 4;
        position: absolute;
        left: calc(50% - 187px);
        bottom: calc(50% - 150px);
        height: 450px;
        width: 337px;
    }


    #presentation_accueil_droite{
        height: 100vh;
    }


    #img6 {
        z-index: 2;
        position: absolute;
        left: calc(50% - 187px);
        top: -1050px;
        height: 450px;
        width: 337px;
    }

    #img7 {
        z-index: 2;
        position: absolute;
        left: calc(50% - 187px);
        top: -1050px;
        height: 450px;
        width: 337px;
    }

        #img8 {
            z-index: 5;
            position: absolute;
            left: calc(50% - 187px);
            bottom: calc(50% - 150px);
            height: 450px;
            width: 337px;
            margin: 0 auto;
        }

    .accueil_logo {
        position: fixed;
        top: calc(50% - 115px);
        left: 50%;
        margin-left: -185px;

        img{
            width: 85%;
        }
    }

    .accueil_estampille {
        position: fixed;
        top: calc(50% - 100px);
        left: 50%;
        margin-left: -40px;
        transition: all 4s ease 0s;
    }
}

/*----------------------------------------* RESPONSIVE 15 POUCES --------------------------------------------------------------------------------------------------(1680 x 900)-----------------------------------------------------*/

@media only screen and (min-width: 1680px) and (max-width: 1919px){
    
    /* --- SLIDER --- */

    #tittle{
        margin-bottom: 2%;

        h1{
        font-family: sabon roman;
        letter-spacing: 2px;
        font-size: 20px;
        }
    }


    #presentation_accueil_gauche{
        height: 100vh;
    }



    #img2 {
        z-index: 2;
        position: absolute;
        left: calc(50% - 187px);
        bottom: -1050px;
        height: 450px;
        width: 337px;
    }

    #img3 {
        z-index: 3;
        position: absolute;
        left: calc(50% - 187px);
        bottom: -1050px;
        height: 450px;
        width: 337px;
    }

    #img4 {
        z-index: 4;
        position: absolute;
        left: calc(50% - 187px);
        bottom: calc(50% - 150px);
        height: 450px;
        width: 337px;
    }


    #presentation_accueil_droite{
        height: 100vh;
    }


    #img6 {
        z-index: 2;
        position: absolute;
        left: calc(50% - 187px);
        top: -1050px;
        height: 450px;
        width: 337px;
    }

    #img7 {
        z-index: 2;
        position: absolute;
        left: calc(50% - 187px);
        top: -1050px;
        height: 450px;
        width: 337px;
    }

        #img8 {
            z-index: 5;
            position: absolute;
            left: calc(50% - 187px);
            bottom: calc(50% - 150px);
            height: 450px;
            width: 337px;
            margin: 0 auto;
        }

    .accueil_logo {
        position: fixed;
        top: calc(50% - 115px);
        left: 50%;
        margin-left: -185px;

        img{
            width: 85%;
        }
    }

    .accueil_estampille {
        position: fixed;
        top: calc(50% - 100px);
        left: 50%;
        margin-left: 0px;
        transition: all 4s ease 0s;
    }
}

/*----------------------------------------* RESPONSIVE 15 POUCES --------------------------------------------------------------------------------------------------(1920 x 900)-----------------------------------------------------*/

@media only screen and (min-width: 1920px)and (max-width: 1950px){
    


    #presentation_accueil_gauche{
        height: 100vh;
    }



    #img2 {
        z-index: 2;
        position: absolute;
        left: calc(50% - 260px);
        bottom: -1050px;
        height: 700px;
        width: 525px;
    }

    #img3 {
        z-index: 3;
        position: absolute;
        left: calc(50% - 260px);
        bottom: -1050px;
        height: 700px;
        width: 525px;
    }

    #img4 {
        z-index: 4;
        position: absolute;
        left: calc(50% - 260px);
        bottom: calc(50% - 250px);
        height: 700px;
        width: 525px;
    }


    #presentation_accueil_droite{
        height: 100vh;
    }


    #img6 {
        z-index: 2;
        position: absolute;
        left: calc(50% - 300px);
        top: -1050px;
        height: 700px;
        width: 525px;
    }

    #img7 {
        z-index: 2;
        position: absolute;
        left: calc(50% - 300px);
        top: -1050px;
        height: 700px;
        width: 525px;
    }

        #img8 {
            z-index: 5;
            position: absolute;
            left: calc(50% - 300px);
            bottom: calc(50% - 250px);
            height: 700px;
            width: 525px;
            margin: 0 auto;
        }

    .accueil_logo {
        position: fixed;
        top: calc(50% - 115px);
        left: 50%;
        margin-left: -185px;

        img{
            width: 85%;
        }
    }

    .accueil_estampille {
        position: fixed;
        top: calc(50% - 100px);
        left: 50%;
        margin-left: 15px;
        transition: all 4s ease 0s;
    }
}



/*----------------------------------------* RESPONSIVE TABLETTE PORTRAIT ------------------------------------------------------------------------------------------(768 x 1024)-----------------------------------------------------*/

@media only screen and (min-width: 500px)and (max-width: 1023px){

 .accueil_logo {
    -webkit-transform: translateZ(0);
 }

 .accueil_estampille{
    -webkit-transform: translateZ(0);
 }

 #img2 {
        z-index: 2;
        position: absolute;
        left: calc(50% - 187px);
        bottom: -1050px;
        height: 450px;
        width: 337px;
        -webkit-transform: translateZ(0);
    }

    #img3 {
        z-index: 3;
        position: absolute;
        left: calc(50% - 187px);
        bottom: -1050px;
        height: 450px;
        width: 337px;
        -webkit-transform: translateZ(0);
    }

    #img4 {
        z-index: 4;
        position: absolute;
        left: calc(50% - 187px);
        bottom: calc(50% - 150px);
        height: 450px;
        width: 337px;
        -webkit-transform: translateZ(0);
    }


    #presentation_accueil_droite{
        height: 100vh;
    }


    #img6 {
        z-index: 2;
        position: absolute;
        left: calc(50% - 187px);
        top: -1050px;
        height: 450px;
        width: 337px;
        -webkit-transform: translateZ(0);
    }

    #img7 {
        z-index: 2;
        position: absolute;
        left: calc(50% - 187px);
        top: -1050px;
        height: 450px;
        width: 337px;
        -webkit-transform: translateZ(0);
    }

     #img8 {
        z-index: 5;
        position: absolute;
        left: calc(50% - 187px);
        bottom: calc(50% - 150px);
        height: 450px;
        width: 337px;
        margin: 0 auto;
        -webkit-transform: translateZ(0);
    }

    #row_presentation_accueil{
        margin-left: 20px;
        padding: 0px;
    }

    .accueil_logo {
        position: fixed;
        top: calc(50% - 115px);
        left: 50%;
        margin-left: -200px;
    }
}

/*----------------------------------------* RESPONSIVE TABLETTE PORTRAIT ------------------------------------------------------------------------------------------(1024 x 768)---------------------------------------------------*/

@media only screen and (min-width: 1024px)and (max-width: 1279px){

#nav{
    height: 100%;
    background-color: white;
    overflow: hidden;
    position: fixed;
    width: 200px !important;
    left: 0px;
    top: 0px;
    z-index: 10;
    }

    #menu{
        width: 200px;
    }

    #footer {
        width: 200px;
    }

    /* --- SLIDER --- */

    #tittle{
        margin-bottom: 2%;

        h1{
        font-family: sabon roman;
        letter-spacing: 2px;
        font-size: 20px;
        }
    }


    #presentation_accueil_gauche{
        height: 100vh;
    }



    #img2 {
        z-index: 2;
        position: absolute;
        left: calc(50% - 142px);
        bottom: -1050px;
        height: 450px;
        width: 337px;
        -webkit-transform: translateZ(0);
    }

    #img3 {
        z-index: 3;
        position: absolute;
        left: calc(50% - 187px);
        bottom: -1050px;
        height: 450px;
        width: 337px;
        -webkit-transform: translateZ(0);
    }

    #img4 {
        z-index: 4;
        position: absolute;
        left: calc(50% - 187px);
        bottom: calc(50% - 150px);
        height: 450px;
        width: 337px;
        -webkit-transform: translateZ(0);
    }


    #presentation_accueil_droite{
        height: 100vh;
    }


    #img6 {
        z-index: 2;
        position: absolute;
        left: calc(50% - 200px);
        top: -1050px;
        height: 450px;
        width: 337px;
        -webkit-transform: translateZ(0);
    }

    #img7 {
        z-index: 2;
        position: absolute;
        left: calc(50% - 187px);
        top: -1050px;
        height: 450px;
        width: 337px;
        -webkit-transform: translateZ(0);
    }

        #img8 {
            z-index: 5;
            position: absolute;
            left: calc(50% - 187px);
            bottom: calc(50% - 150px);
            height: 450px;
            width: 337px;
            margin: 0 auto;
            -webkit-transform: translateZ(0);
        }

    .accueil_logo {
        position: fixed;
        top: calc(50% - 115px);
        left: 50%;
        margin-left: -185px;
        -webkit-transform: translateZ(0);

        img{
            width: 85%;
        }
    }

    .accueil_estampille {
        position: fixed;
        top: calc(50% - 100px);
        left: 50%;
        margin-left: -50px;
        transition: all 4s ease 0s;
        -webkit-transform: translateZ(0);
    }   
}
