#audio{
    visibility: hidden;
}

#sound-bottom{
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 50px;
    height: 40px;
    cursor: pointer;
    img{
        width: 60%;
    }
}

#sound-bottom-off{
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 50px;
    height: 40px;
    cursor: pointer;
    img{
        width: 60%;
    }
}

.fakeloader{
    background-color: #24272C !important;
}

#tittle {
    padding-top: 1%;
    margin-top: 0px;
    z-index: 999;
}

.accueil_logo{
    position: fixed;
    top:50%;
    left: 50%;
    margin-left: -135px;
}


.container{
    padding: 0px;
}

/* Fonts */

h1{
    font-family: sabon roman;
    font-size: 30px;
    letter-spacing: 3px;
}

h2{
    font-family: brandon grotesque;
    font-size: 46px !important;
}

h3{
    font-family: sabon roman;
    font-size: 20px;
}

h4{
    font-size: 18px !important;
}

p{
    font-family: sabon roman;
    color: black;
    letter-spacing: 0.5px;
}

a {
    color: #010101;
    text-decoration: none;

    &:hover{
    color:#010101;
    }
}



/* ------ */

html{
    height: 100%;
    background-color:white;
    margin-bottom: 0;
}

body{
    height: 96%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #FBF3F4;
    overflow-x: hidden;
}

.site-content{
    background-color: #FBF3F4;
}

a:focus
{
outline: 0;
} 

#page_accueil{
    width: 100%;
    margin-bottom: 0;

}

#nav{
    height: 100%;
    background-color: white;
    overflow: hidden;
    position: fixed;
    width: 300px;
    left: -300px;
    top: 0px;
    z-index: 10;
}

#wrapper-anim{
    height: 100%;
    background-color: #24272C;
    overflow: hidden;
    position: fixed;
    width: 300px;
    left: -300px;
    top: 0px;
    z-index: 10;
    margin-bottom: 4%;
}

li{
    width: 130px;
    height: 40px;

}

.text-menu{
    height: 40px;
    width: 130px;
}

/* MENU */

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #130E0A;
  height: 1px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

#section {
    position: absolute;
    margin-left: 10%;
    padding-left: 300px;
    overflow: hidden;
    background-color: $couleur_fond;
    z-index: -1;
}


#menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    float: left;
    overflow: hidden;
    background-color: white;
    position: absolute;
    top: 40%;
    width: 300px;
    padding-left: 0;
    line-height: 40px;
    font-family: brandon grotesque;
    height: 250px;
    margin: 0px;
}

#menu a{
    color: #130E0A;
}


#logo{
    margin-top: 1%;
    padding-top: 5%;
    
    img{
        width: 100%;
    }
}


/* Footer */

.list-inline > li {
    color: black;
    border: 1px solid #F3E6E7;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-left: 7px;
    margin-right: 7px;
    padding: 2px;
    background-color: white;

    &:hover{
        background-color: #130E0A;
        opacity: 0.9;
    }
}

#footer .fa{
    color: #F3E6E7;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);

    &:hover{
        color: rgba(233, 196, 199, 1);
    }
}

/* ------ */


#menu ul li{
    list-style-type: none;
    padding: 1em;
}

#menu ul{
    padding-left: 0px;
    right: 0;
}

#navbar h1{
    font-family: arial ;
}

#footer {
    position: absolute;
    bottom: 5%;
    width: 300px;
}

#presentation{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 11%;
    height: 450px;
    clear: both;
    padding: 3% 5%;
}

#presentation h1, p{
    text-align: center;
    margin-bottom: 0px;
    margin: 0px;
    line-height: 30px;
    
}

#presentation h1{
    font-family: brandon grotesque;
}

#presentation img {
    vertical-align: middle;
    display: block;
    text-align: center;
    padding-bottom: 14px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -22px;
}


#contact-droite h2, p{
    z-index: 10;
    text-align: center;
}

#contact-droite p {
    padding: 0px 10%;
}

#contact-droite  img{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

a:hover{
    text-decoration: none;
}

#presentation_accueil{
    width: calc(100% - 300px);
    height: 100vh;
}

#row_presentation_accueil{
    position: fixed;
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0%;
    height: 1000px;

    .row{
    margin-left: 0px;
    }
}


/* INTRO */

#fond{
    width: 2000px;
    height: 100%;
    margin: 0 auto;
    background-color: #24272C;
}

.encart_accueil{
    height: 190px;
    width: 1000px;
    background-color: #FBF3F4;
    margin: 0px;
}

#accueil_encart1{
    position: absolute;
    bottom: 30%;
    left: -1000px;
    height: 190px;
    width: 1000px;
    background-color: #F7E7E9;
    z-index: 10;
}

#text-accueil{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 190px;
    width: 760px;
    margin-left: 240px;
    h1{
        color:#FBF3F4;
        letter-spacing: 2px;
        font-size: 20px;
        margin: 0px;
    }
}

.intro25{
    -webkit-mask-image: url(../images/intro-01.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: 50% 50%;
}

.intro19{
    -webkit-mask-image: url(../images/intro-02.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: 50% 50%;
}

.intro16{
    -webkit-mask-image: url(../images/intro-03.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: 50% 50%;
}

.intro12{
    -webkit-mask-image: url(../images/intro-12.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: 50% 50%;
}

.intro10{
    -webkit-mask-image: url(../images/intro-10-3.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: 50% 50%;
}

.intro10-2{
    -webkit-mask-image: url(../images/intro-10-2.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: 50% 50%;
}

.intro7{
    -webkit-mask-image: url(../images/intro-10.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: 50% 50%;
}

.intro7-2{
    -webkit-mask-image: url(../images/intro-7-2.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: 50% 50%;
}

.intro-m{
    -webkit-mask-image: url(../images/intro-m.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: 50% 50%;
}

#accueil_encart2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    height: 500px;
    width: 190px;
    bottom: 25%;
    left: 50px;
    background-color: darken(#24272C, 1%);
    z-index: 11;

    h2{
        width: 190px;
        font-family: Sabon roman;
        font-size: 20px !important;
        letter-spacing: 1.1px;
        margin: 0px;
        color: #FBF3F4;
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
    }
}

#enter_site{
    flex: 0 0 190px;
    position: absolute;
    top:0px;
    left:0px;
    width: 190px;
    height: 500px;
    background-color: #FBF3F4;
}

#enter_site2{
    flex: 0 0 190px;
    position: absolute;
    top:0px;
    left:0px;
    background-color :#FBF3F4;
    width: 190px;
    height: 500px;
}


#image3{
    position: absolute;
    top: calc(50% - 600px);
    left: calc(50% - 1000px);
    width: 2000px;
    height: 1200px;
    z-index: 4;
    img{
        position: absolute;
        top: -169px;
        left: -198px;
        z-index: 4;
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -webkit-transition: transform 5s ease-in;
        -moz-transition: transform 5s ease-in;
        -o-transition: transform 5s ease-in;
        transition: transform 5s ease-in;
    }
}

#image4{
    position: absolute;
    top: calc(50% - 600px);
    left: calc(50% - 1000px);
    width: 2000px;
    height: 1200px;
    z-index: 5;
    img{
        position: absolute;
        top: -169px;
        left: -198px;
        z-index: 5;
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -webkit-transition: transform 4s ease-in-out;
        -moz-transition: transform 4s ease-in-out;
        -o-transition: transform 4s ease-in-out;
        transition: transform 4s ease-in-out;
    }
}


#image5{
    position: absolute;
    top: calc(50% - 600px);
    left: calc(50% - 1000px);
    width: 2000px;
    height: 1200px;
    z-index: 6;
    img{
        position: absolute;
        top: -169px;
        left: -198px;
        z-index: 6;
        -webkit-transition: transform 5s ease-in;
        -moz-transition: transform 5s ease-in;
        -o-transition: transform 5s ease-in;
        transition: transform 5s ease-in;
    }
}




/* RESPONSIVE */

@media only screen and (min-width: 250px) and (max-width:1023px){



.site-container{
    overflow: inherit;
}

.site-pusher{
    transition-duration: 1.2s;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
}

#menu {
    display: flex;
    position: absolute;
    left: 0;
    top: 250px;
    bottom: 0;
    list-style-type: none;
    overflow: hidden;
    padding: 0px;
    background-color: #FFF;
    line-height: 50px;
    font-family: brandon grotesque;
    width: 200px;
    z-index: 999;
    transform: translateX(200px * -1);
    -webkit-transform: translateX(200px * -1);
    -moz-transform: translateX(200px * -1);

    a{
        text-align: center;
    }
}

    #logo{

    position: absolute;
    left: 0;
    top: 0px;
    bottom: 0;
    list-style-type: none;
    overflow: hidden;
    padding: 0px;
    background-color: #FFF;
    width: 200px;
    z-index: 999;
    margin-top: 0;
    padding-top: 20px;
    transform: translateX(200px * -1);
    -webkit-transform: translateX(200px * -1);
    -moz-transform: translateX(200px * -1);

    }

    #presentation_contact {
        margin-left: 0px;
    }


    #section{
        margin-left: 0%;
    }

    #footer{
        display: none;
    }



    #nav{
        position: static;
        float:left;
        width: 60px;
        z-index: 10;

        h1{
        display:none;
        }

    }
    .nav__icon{
        position: relative;
        margin-top: 15px;
        margin-bottom: 15px;
        background-color: white;
        display: block;
        float: left;
        width: 60px;
        height: 30px;
        cursor: pointer;
        z-index: 10;

        &:after{
            content:" ";
            position: absolute;
            display: block;
            width: 1rem;
            height: 0;
            left: 20px;
            @include box-shadow(0 10px 0 1px black, 0 16px 0 1px black, 0 22px 0 1px black);
        }
    }

    .with--sidebar{
        .site-pusher{
            transform: translateX(200px);
            -webkit-transform: translateX(200px);
            -moz-transform: translateX(200px);
        }
    }

    #tittle2 {
        margin-left: 0px;
        padding-top: 1%;
        padding-bottom: 5%;
    }
}

/*---------------------------------------------------RESPONSIVE---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/*----------------------------------------* RESPONSIVE 13 POUCES --------------------------------------------------------------------------------------------------(1280 x 700)-----------------------------------------------------*/

@media only screen and (min-width: 1259px)and (max-width: 1419px){

     #wrapper-anim{
        height: 100%;
        background-color: rgba(233, 196, 199, 0.1);
        overflow: hidden;
        position: fixed;
        width: 200px;
        left: -200px;
        top: 0px;
        z-index: 9;
        margin-bottom: 4%;    
    }

    #nav{
        height: 100%;
        background-color: white;
        overflow: hidden;
        position: fixed;
        width: 200px !important;
        left: -200px;
        top: 0px;
        z-index: 9;
    }

    #menu{
        width: 200px;
    }

    #footer {
        width: 200px;
    }
#svg1, #svg2{
    display: none;
}

#fond{
    width: 1100px;
}

#accueil_encart1{
    bottom: 10%;
    left: -660px;
    width: 660px;
    height: 140px;
}
#accueil_encart2 {
    bottom: 5%;
    width: 140px;
    height: 380px;
    h2{
        width: 140px;
        font-size: 15px !important;
        letter-spacing: 0.5px;
    }
}
.encart_accueil{
    width: 660px;
    height: 140px;
}
#text-accueil{
    width: 470px;
    height: 140px;
    margin-left: 190px;
    h1{
    font-size: 17px;
    }
}

#enter_site{
    flex: 0 0 140px;
    width: 140px;
    height: 380px;
}

#enter_site2{
    flex: 0 0 140px;
    width: 140px;
    height: 380px;
}
    
#image3{
top: calc(50% - 335px);
left: calc(50% - 600px);
width: 1200px;
height: 670px;
img{
    top: -90px;
    left: -240px;
    width: 1200px;
}
}

#image4{
top: calc(50% - 335px);
left: calc(50% - 600px);
width: 1200px;
height: 670px;
img{
    top: -60px;
    left: -80px;
    width: 1060px;
}
}

#image5{
top: calc(50% - 335px);
left: calc(50% - 600px);
width: 1200px;
height: 670px;
img{
    width: 1150px;
    top: -70px;
    left: 30px;
}
}
    
}

/*----------------------------------------* RESPONSIVE 15 POUCES --------------------------------------------------------------------------------------------------(1440 x 900)-----------------------------------------------------*/

@media only screen and (min-width: 1420px)and (max-width: 1659px){

     #wrapper-anim{
        height: 100%;
        background-color: rgba(233, 196, 199, 0.1);
        overflow: hidden;
        position: fixed;
        width: 200px;
        left: -200px;
        top: 0px;
        z-index: 10;
        margin-bottom: 4%;    
    }

    #nav{
        height: 100%;
        background-color: white;
        overflow: hidden;
        position: fixed;
        width: 200px !important;
        left: -200px;
        top: 0px;
        z-index: 10;
    }

    #menu {
        width: 200px;
    }

    #footer {
        width: 210px;
    }

/* INTRO */

#fond{
    width: 1300px;
}
#accueil_encart1{
    bottom: 10%;
    left: -800px;
    width: 800px;
    height: 160px;
}
#accueil_encart2 {
    bottom: 5%;
    width: 160px;
    h2{
        width: 160px;
        font-size: 17px !important;
        letter-spacing: 0.5px;
    }
}
.encart_accueil{
    width: 800px;
    height: 160px;
}
#text-accueil{
    width: 530px;
    height: 160px;
}

#enter_site{
    width: 160px;
}

#enter_site2{
    width: 160px;
}
    
#image3{
top: calc(50% - 400px);
left: calc(50% - 650px);
width: 1300px;
height: 800px;
img{
    top: -90px;
    left: -240px;
    width: 1300px;
}
}

#image4{
top: calc(50% - 400px);
left: calc(50% - 650px);
width: 1300px;
height: 800px;
img{
    top: -75px;
    left: -198px;
    width: 1300px;
}
}

#image5{
top: calc(50% - 400px);
left: calc(50% - 650px);
width: 1300px;
height: 800px;
img{
width: 1500px;
top: -105px;
left: -145px;
}
}


    
}

/*----------------------------------------* RESPONSIVE 15 POUCES --------------------------------------------------------------------------------------------------(1680 x 900)-----------------------------------------------------*/

@media only screen and (min-width: 1660px) and (max-width: 1899px){
    
   /* INTRO */

#fond{
    width: 1500px;
}
#accueil_encart1{
    bottom: 15%;
    left: -850px;
    width: 850px;
}
#accueil_encart2 {
    bottom: 10%;
}
.encart_accueil{
    width: 850px;
}
#text-accueil{
    width: 610px;
}

#image3{
top: calc(50% - 400px);
left: calc(50% - 650px);
width: 1300px;
height: 800px;
img{
top: -90px;
left: -240px;
width: 1400px;
}
}

#image4{
left: calc(50% - 650px);
width: 1300px;
top: calc(50% - 400px);
height: 800px;
img{
top: -155px;
left: -250px;
width: 1400px;
}
}

#image5{
left: calc(50% - 650px);
width: 1300px;
top: calc(50% - 400px);
height: 800px;
img{
width: 1500px;
top: -105px;
left: -145px;
}
}
}

/*----------------------------------------* RESPONSIVE 15 POUCES --------------------------------------------------------------------------------------------------(1920 x 900)-----------------------------------------------------*/

@media only screen and (min-width: 1900px)and (max-width: 2550px){

     /* INTRO */

#fond{
    width: 1800px;
}

#image3{
left: calc(50% - 750px);
width: 1500px;
top: calc(50% - 450px);
height: 900px;
img{
top: -10px;
left: -240px;
width: 1500px;
}
}

#image4{
left: calc(50% - 750px);
width: 1500px;
top: calc(50% - 450px);
height: 900px;
img{
top: -110px;
left: -250px;
width: 1500px;
}
}

#image5{
left: calc(50% - 750px);
width: 1500px;
top: calc(50% - 450px);
height: 900px;
img{
width: 1700px;
top: -140px;
left: -112px;
}
}
#accueil_encart1{
    bottom: 20%;
    left: -900px;
    width: 900px;
}
#accueil_encart2{
    bottom: 15%;
}
#accueil_encart1{
    left: -900px;
    width: 900px;
}
.encart_accueil{
    width: 900px;
}
#text-accueil{
    width: 660px;
}
}



/*----------------------------------------* RESPONSIVE TABLETTE PORTRAIT ------------------------------------------------------------------------------------------(768 x 1024)-----------------------------------------------------*/

@media only screen and (min-width: 781px)and (max-width: 1022px){

  /* INTRO */

       #wrapper-anim{
        height: 100%;
        background-color: rgba(233, 196, 199, 0.1);
        overflow: inherit;
        position: static;
        width: 60px;
        left: -0px;
        top: 0px;
        z-index: 10;
        margin-top: 0%;
        margin-bottom: 0%;    
    }

#svg1, #svg2, #svg3{
    display: none;
}

#fond{
    width: 1000px;
}

#accueil_encart1{
    bottom: 10%;
    left: -550px;
    width: 550px;
    height: 140px;
}
#accueil_encart2 {
    bottom: 5%;
    width: 140px;
    height: 380px;
    h2{
        width: 140px;
        font-size: 15px !important;
        letter-spacing: 0.5px;
    }
}
.encart_accueil{
    width: 550px;
    height: 140px;
}
#text-accueil{
    width: 360px;
    height: 140px;
    margin-left: 190px;
    h1{
    font-size: 14px;
    }
}

#enter_site{
    flex: 0 0 140px;
    width: 140px;
    height: 380px;
}

#enter_site2{
    flex: 0 0 140px;
    width: 140px;
    height: 380px;
}
    
#image3{
top: calc(50% - 335px);
left: calc(50% - 600px);
width: 1200px;
height: 670px;
img{
    top: -90px;
    left: -240px;
    width: 1200px;
}
}

#image4{
top: calc(50% - 335px);
left: calc(50% - 600px);
width: 1200px;
height: 670px;
img{
    top: -60px;
    left: -80px;
    width: 1060px;
}
}

#image5{
top: calc(50% - 335px);
left: calc(50% - 600px);
width: 1200px;
height: 670px;
img{
    width: 1150px;
    top: -70px;
    left: 30px;
}
}

}

/*----------------------------------------* RESPONSIVE TABLETTE PAYSAGE ------------------------------------------------------------------------------------------(1024 x 768)---------------------------------------------------*/

@media only screen and (min-width: 1023px)and (max-width: 1259px){


    #wrapper-anim {
        width: 200px;
    }

#nav{
    height: 100%;
    background-color: white;
    overflow: hidden;
    position: fixed;
    width: 200px !important;
    left: -200px;
    top: 0px;
    z-index: 10;
}

    #menu{
        width: 200px;
    }

    #footer {
        width: 200px;
    }

    /* --- INTRO --- */

#svg1, #svg2{
    display: none;
}

#fond{
    width: 1000px;
}

#accueil_encart1{
    bottom: 10%;
    left: -660px;
    width: 660px;
    height: 140px;
}
#accueil_encart2 {
    bottom: 5%;
    width: 140px;
    height: 380px;
    h2{
        width: 140px;
        font-size: 15px !important;
        letter-spacing: 0.5px;
    }
}
.encart_accueil{
    width: 660px;
    height: 140px;
}
#text-accueil{
    width: 470px;
    height: 140px;
    margin-left: 190px;
    h1{
    font-size: 17px;
    }
}

#enter_site{
    flex: 0 0 140px;
    width: 140px;
    height: 380px;
}

#enter_site2{
    flex: 0 0 140px;
    width: 140px;
    height: 380px;
}
    
#image3{
top: calc(50% - 335px);
left: calc(50% - 600px);
width: 1200px;
height: 670px;
img{
    top: -90px;
    left: -240px;
    width: 1200px;
}
}

#image4{
top: calc(50% - 335px);
left: calc(50% - 600px);
width: 1200px;
height: 670px;
img{
    top: -60px;
    left: -80px;
    width: 1060px;
}
}

#image5{
top: calc(50% - 335px);
left: calc(50% - 600px);
width: 1200px;
height: 670px;
img{
    width: 1150px;
    top: -70px;
    left: 30px;
}
}

    
}

/*----------------------------------------* RESPONSIVE MOBILE ----------------------------------------------------------------------------------------------------(300 x 640)-------------------------------------------------------*/

@media only screen and (min-width: 250px)and (max-width: 780px){


     #wrapper-anim{
        height: 100%;
        background-color: rgba(233, 196, 199, 0.1);
        overflow: inherit;
        position: static;
        width: 60px;
        left: -0px;
        top: 0px;
        z-index: 10;
        margin-top: 0%;
        margin-bottom: 0%;    
    }

    .text {
        top: -23px;
    }

    .loader {
        display: none;
    }

    #menu {
        line-height: 30px;
    }
#svg1, #svg2, #svg3{
    display: none;
}

#fond{
    width: 450px;
}

#accueil_encart1{
    bottom: 10%;
    left: -300px;
    width: 300px;
    height: 90px;
}
#accueil_encart2 {
    bottom: 5%;
    width: 90px;
    height: 200px;
    left: 20px;
    h2{
        width: 90px;
        font-size: 9px !important;
        letter-spacing: 0.5px;
    }
}
.encart_accueil{
    width: 300px;
    height: 90px;
}
#text-accueil{
    width: 190px;
    height: 90px;
    margin-left: 110px;
    h1{
    font-size: 10px;
    line-height: 15px;
    }
}

#enter_site{
    flex: 0 0 90px;
    width: 90px;
    height: 200px;
}

#enter_site2{
    flex: 0 0 90px;
    width: 90px;
    height: 200px;
}
    
#image3{
top: calc(50% - 335px);
left: calc(50% - 600px);
width: 1200px;
height: 670px;
img{
    top: -90px;
    left: -240px;
    width: 1200px;
}
}

#image4{
    top: calc(50% - 335px);
    left: calc(50% - 225px);
    width: 450px;
    height: 670px;
img{
    top: 15px;
    left: -150px;
    width: 800px;
}
}

#image5{
    top: calc(50% - 335px);
    left: calc(50% - 225px);
    width: 450px;
    height: 670px;
img{
    width: 800px;
    top: 0px;
    left: -303px;
}
}
    

}
