#couverture_img_karodart{
	border: 1px solid #F4F2EE;
	width: auto;
	height: 520px;
	background-image: url(../images/karodart_presentation.jpg);
	background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 300px;
}

#projet_karodart_contenu1{
    padding: 0px;

    img{
        height: 1100px;
        width: auto;
    }
}

#projet_karodart_contenu2{
    padding: 0px;

    img{
        height: 1100px;
        width: auto;
    }
}

#projet_karodart_contenu3{
    padding: 0px;

    img{
        height: 500px;
        width: auto;
    }
}

#frise_bas_karodart{
    right: 0;
    width: 8%;
}

#couverture_img_karodart .row{
    margin-left: 0px;
}

/*---------------------------------------------------RESPONSIVE---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------* RESPONSIVE 13 POUCES --------------------------------------------------------------------------------------------------(1280 x 700)-----------------------------------------------------*/

@media only screen and (min-width: 1260px)and (max-width: 1419px){

    #couverture_img_karodart {
        width: auto;
        height: 300px;
        margin-left: 200px;
    }

    #projet_karodart_contenu1{
        padding: 0px;
    
        img{
            height: 600px;
            width: auto;
        }
    }

    #projet_karodart_contenu2{
        padding: 0px;

        img{
            height: 600px;
            width: auto;
        }
    }

    #projet_karodart_contenu3{
        padding: 0px;

        img{
            height: 275px;
            width: auto;
        }
    }   
}

/*----------------------------------------* RESPONSIVE 15 POUCES --------------------------------------------------------------------------------------------------(1440 x 900)-----------------------------------------------------*/

@media only screen and (min-width: 1420px)and (max-width: 1659px){

    #couverture_img_karodart {
        width: auto;
        height: 300px;
        margin-left: 200px;
    }

    #projet_karodart_contenu1{
        padding: 0px;
    
        img{
            height: 600px;
            width: auto;
        }
    }

    #projet_karodart_contenu2{
        padding: 0px;

        img{
            height: 600px;
            width: auto;
        }
    }

    #projet_karodart_contenu3{
        padding: 0px;

        img{
            height: 275px;
            width: auto;
        }
    }   
}

/*----------------------------------------* RESPONSIVE 15 POUCES --------------------------------------------------------------------------------------------------(1680 x 900)-----------------------------------------------------*/

@media only screen and (min-width: 1660px)and (max-width: 1899px){

    #couverture_img_karodart {
        width: auto;
        height: 300px;
        margin-left: 300px;
    }

    #projet_karodart_contenu1{
        padding: 0px;
    
        img{
            height: auto;
            width: 1000px;
        }
    }

    #projet_karodart_contenu2{
        padding: 0px;

        img{
            height: auto;
            width: 1000px;
        }
    }

    #projet_karodart_contenu3{
        padding: 0px;

        img{
            height: auto;
            width: 1000px;
        }
    }
}

/*----------------------------------------* RESPONSIVE 15 POUCES --------------------------------------------------------------------------------------------------(1920 x 900)-----------------------------------------------------*/

@media only screen and (min-width: 1900px)and (max-width: 2560px){

    #couverture_img_karodart {
        width: auto;
        height: 300px;
        margin-left: 300px;
    }

    #projet_karodart_contenu1{
        padding: 0px;
    
        img{
            height: auto;
            width: 1200px;
        }
    }

    #projet_karodart_contenu2{
        padding: 0px;

        img{
            height: auto;
            width: 1200px;
        }
    }

    #projet_karodart_contenu3{
        padding: 0px;

        img{
            height: auto;
            width: 1200px;
        }
    }
}

/*----------------------------------------* RESPONSIVE TABLETTE PORTRAIT --------------------------------------------------------------------------------------------(768 x 1024)---------------------------------------------------*/

@media only screen and (min-width: 760px)and (max-width: 1023px){

    #couverture_img_karodart {
        width: auto;
        height: 300px;
        margin-left: 0px;
    }

    #projet_karodart_contenu1{
        padding: 0px;
    
        img{
            height: auto;
            width: 700px;
        }
    }

    #projet_karodart_contenu2{
        padding: 0px;

        img{
            height: auto;
            width: 700px;
        }
    }

    #projet_karodart_contenu3{
        padding: 0px;

        img{
            height: auto;
            width: 700px;
        }
    }
}

/*----------------------------------------* RESPONSIVE TABLETTE PAYSAGE -----------------------------------------------------------------------------------------------(1024 x 768)-------------------------------------------------*/

@media only screen and (min-width: 1024px)and (max-width: 1279px){

    #couverture_img_karodart {
        width: auto;
        height: 300px;
        margin-left: 200px;
    }

    #projet_karodart_contenu1{
        padding: 0px;
    
        img{
            height: auto;
            width: 700px;
        }
    }

    #projet_karodart_contenu2{
        padding: 0px;

        img{
            height: auto;
            width: 700px;
        }
    }

    #projet_karodart_contenu3{
        padding: 0px;

        img{
            height: auto;
            width: 700px;
        }
    }
}

/*----------------------------------------* RESPONSIVE MOBILE ----------------------------------------------------------------------------------------------------(300 x 640)-------------------------------------------------------*/

@media only screen and (min-width: 250px)and (max-width: 759px){

    #couverture_img_karodart {
        width: auto;
        height: 130px;
        margin-left: 0px;
    }

    #projet_karodart_contenu1{
        padding: 0px;
    
        img{
            height: auto;
            width: 300px;
        }
    }

    #projet_karodart_contenu2{
        padding: 0px;

        img{
            height: auto;
            width: 300px;
        }
    }

    #projet_karodart_contenu3{
        padding: 0px;

        img{
            height: auto;
            width: 300px;
        }
    }  
}