#tittle_studio{
	padding-top: 2%;
	margin-left: 300px;

	h1 {
    font-family: sabon roman;
    font-size: 75px;
    letter-spacing: 0px;
    color:#010101;
	}
}

#presentation_studio{
	margin-left: 300px;
}

.studio{
	max-width: 1000px;
	min-width: 200px;
	margin: 0 auto;
}

#vertical_spacer3{
	height: 100px;
}

#vertical_spacer4{
	height: 50px;
}

#presentation_studio p {
    text-align: left;
}

/* ------------------------------------------RESPONSIVE 13 POUCES --------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 1025px)and (max-width: 1290px){
	
	#tittle_studio {
	    margin-left: 200px;
	}

	#presentation_studio{
		margin-left: 200px;
	}
}

/*----------------------------------------* RESPONSIVE 15 POUCES --------------------------------------------------------------------------------------------------(1440 x 900)-----------------------------------------------------*/

@media only screen and (min-width: 1440px)and (max-width: 1679px){

	#tittle_studio {
	    margin-left: 200px;
	}

	#presentation_studio{
		margin-left: 200px;
	}
}

/*----------------------------------------* RESPONSIVE TABLETTE PORTRAIT --------------------------------------------------------------------------------------------------(768 x 1024)-----------------------------------------------*/

@media only screen and (min-width: 400px)and (max-width: 779px){

	#tittle_studio {
	    padding-top: 2%;
	    margin-left: 0px;
	}

	#presentation_studio {
	    margin-left: 0px;
	}

	.studio_p2{
		margin-top: 4%;
	}	
}

/*----------------------------------------* RESPONSIVE TABLETTE PORTRAIT ------------------------------------------------------------------------------------------(1024 x 768)-------------------------------------------------------*/

@media only screen and (min-width: 1024px)and (max-width: 1279px){

	#tittle_studio {
	    margin-left: 200px;
	}

	#presentation_studio {
	    margin-left: 200px;
	}
}

/*----------------------------------------* RESPONSIVE MOBILE ----------------------------------------------------------------------------------------------------(250 x 640)-------------------------------------------------------*/

@media only screen and (min-width: 300px)and (max-width: 767px){

	#tittle_studio {
	    margin-left: 0px;
	}

	#presentation_studio {
	    margin-left: 0px;
	}

	#tittle_studio h1 {
	    font-size: 50px;
	}

	#presentation_studio p {
	    font-size: 14px;
	}
	
}
