#menu2{
    display:none;
}


.thumbnail > img {
    height: 540px;
    width: 400px;
}

.caption {
    display: block;
    position: relative;
    z-index: 8;
       
    h3{
    background-color: #130E0A;
    color: white;
    font-family : "brandon grotesque";
    padding: 10px 10px;
    letter-spacing: 2px;
    font-size: 1.5vh;
    margin-top: -38px;
    z-index: 9;
    margin-bottom: 0;;
    }
}

.thumbnail .caption {
    padding: 0;
    color: #333333;
    bottom : -21px;
    margin-right: 23%;
    margin-left: 23%;
}

.thumbnail {
	display: inline-block;
	position: relative;
	border: 15px solid transparent;
	padding: 0px;
    margin-bottom: 15px;
    background-color: #F6ECEC;

	&:hover{
		background-color: #130E0A; 
	} 
}



#section{
    margin-bottom: 1%;
}

#realisation-droite{

    .row {
        margin-left: 300px;
        margin-right: -15px;
        padding: 10px;
        height: 100%;
    }
}

.titre{
    padding-top: 2%;
    padding-bottom: 1%;
    line-height: 26px;
    margin-left: 300px;
    font-size: 17px;
}

    .goutte_gauche {
    vertical-align: middle;
    }

    .goutte_droite {
    vertical-align: middle;
    }



/* MODAL */
.modal-content{
    background-color: #F6ECEC;

    h3{
    color: #D2B0B0;
    }
}

.modal-title {
    margin: 0;
    line-height: 1.4;
    color: #D2B0B0;
    font-size: 30px !important;
}

/*----------------------------------------* RESPONSIVE 13 POUCES --------------------------------------------------------------------------------------------------(1280 x 700)-----------------------------------------------------*/

@media only screen and (min-width: 1280px)and (max-width: 1439px){

    #nav{
    width: 200px !important;
    }

    #footer{
    width: 210px;
    }

    #menu{
    width: 210px;
    display: block !important;
    }

    .list-inline > li {
    width: 25px;
    height: 25px;
    padding: 0px;
    padding: 0px;
    padding-left: 2px;
    }

    .thumbnail a > img {
        height: 350px;
    }

    .thumbnail .caption {
        padding: 0;
        color: #333333;
        bottom : -21px;
        margin-right: 20%;
        margin-left: 20%;
    }

    .thumbnail{
    margin-bottom: 0px;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 14px solid transparent;
    }

    .caption {
    display: block;
    position: relative;
    z-index: 8;
       
    h3{
    background-color: #130E0A;
    color: white;
    font-family : "brandon grotesque";
    padding: 10px 10px;
    letter-spacing: 2px;
    font-size: 11px !important;
    margin-top: -38px;
    z-index: 9;
    margin-bottom: 0;;
        }
    }


    .titre{
    padding-top: 2%;
    padding-bottom: 1%;
    line-height: 26px;
    margin-left: 200px;
    font-size: 17px;
    }

    #realisation-droite{

    .row {
        margin-left: 200px;
        margin-right: -15px;
        padding: 10px;
        height: 100%;
    }
}
}

/*----------------------------------------* RESPONSIVE 15 POUCES --------------------------------------------------------------------------------------------------(1440 x 900)-----------------------------------------------------*/

@media only screen and (min-width: 1440px)and (max-width: 1679px){

    .list-inline > li {
    width: 25px;
    height: 25px;
    padding: 0px;
    padding: 0px;
    padding-left: 2px;
    }

    .thumbnail a > img {
    height: 350px;
    }

    .thumbnail{
    margin-bottom: 0px;
    border-top: 12px solid transparent;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 17px solid transparent;
    }

    .caption {
    display: block;
    position: relative;
    z-index: 8;
       
    h3{
    background-color: #130E0A;
    color: white;
    font-family : "brandon grotesque";
    padding: 10px 10px;
    letter-spacing: 2px;
    font-size: 11px !important;
    margin-top: -38px;
    z-index: 9;
    margin-bottom: 0;;
        }
    }


    .titre{
    padding-top: 2%;
    padding-bottom: 1%;
    line-height: 26px;
    margin-left: 200px;
    font-size: 17px;
    }

    #realisation-droite{

    .row {
        margin-left: 200px;
        margin-right: -15px;
        padding: 10px;
        height: 100%;
    }
}
    
}

/*----------------------------------------* RESPONSIVE 15 POUCES --------------------------------------------------------------------------------------------------(1680 x 900)-----------------------------------------------------*/

@media only screen and (min-width: 1680px)and (max-width: 1919px){

.list-inline > li {
    width: 25px;
    height: 25px;
    padding: 0px;
    padding: 0px;
    padding-left: 2px;
    }

    .thumbnail a > img {
    height: 350px;
    }

    .thumbnail{
    margin-bottom: 0px;
    border-top: 12px solid transparent;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 17px solid transparent;
    }

    .caption {
    display: block;
    position: relative;
    z-index: 8;
       
    h3{
    background-color: #130E0A;
    color: white;
    font-family : "brandon grotesque";
    padding: 10px 10px;
    letter-spacing: 2px;
    font-size: 11px !important;
    margin-top: -38px;
    z-index: 9;
    margin-bottom: 0;;
        }
    }


    .titre{
    padding-top: 2%;
    padding-bottom: 1%;
    line-height: 26px;
    margin-left: 300px;
    font-size: 17px;
    }

    #realisation-droite{

        .row {
            margin-left: 300px;
            margin-right: -15px;
            padding: 10px;
            height: 100%;
        }
    }    
}

/*----------------------------------------* RESPONSIVE 15 POUCES --------------------------------------------------------------------------------------------------(1920 x 900)-----------------------------------------------------*/

@media only screen and (min-width: 1920px)and (max-width: 2559px){

    .thumbnail a > img {
    height: 450px;
    }

}

/* RESPONSIVE TABLETTE PAYSAGE */
/*-------------------------------
--------------------------------*/

@media only screen and (min-width: 780px)and (max-width: 1024px){

    .thumbnail a > img {
        height: 300px;
        width: auto;
    }

    .thumbnail{
    margin-bottom: 0px;
    border-top: 12px solid transparent;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 17px solid transparent;
    }

    .caption {
    display: block;
    position: relative;
    z-index: 8;
       
    h3{
    background-color: #130E0A;
    color: white;
    font-family : "brandon grotesque";
    padding: 10px 20px;
    letter-spacing: 2px;
    font-size: 11px !important;
    margin-top: -38px;
    z-index: 9;
    margin-bottom: 0;;
        }
    }

} 

/*----------------------------------------* RESPONSIVE TABLETTE PORTRAIT --------------------------------------------------------------------------------------------------(768 x 1024)---------------------------------------------*/

@media only screen and (min-width: 767px)and (max-width: 1023px){

    #realisation-droite .row {
        margin-left: 0px;
        margin-right: 0px;
        padding: 10px;
        height: 100%;
    }

   .thumbnail a > img {
        height: 600px;
        width: auto;
    }

    .thumbnail .caption {
        padding: 0;
        color: #333333;
        bottom : -21px;
        margin-right: 20%;
        margin-left: 20%;
    }

    .thumbnail{
        margin-bottom: 0px;
        border-top: 10px solid transparent;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 14px solid transparent;
        margin-bottom: 20px;
    }

    .caption {
    display: block;
    position: relative;
    z-index: 8;
       
    h3{
    background-color: #130E0A;
    color: white;
    font-family : "brandon grotesque";
    padding: 10px 20px;
    letter-spacing: 2px;
    font-size: 11px !important;
    margin-top: -38px;
    z-index: 9;
    margin-bottom: 0;;
        }
    }

    .titre {
        margin-left: 0px;
    }

}   

/*----------------------------------------* RESPONSIVE TABLETTE PORTRAIT ------------------------------------------------------------------------------------------(1024 x 768)---------------------------------------------------*/

@media only screen and (min-width: 1024px)and (max-width: 1279px){

#nav{
    width: 200px !important;
    }

    #footer{
    width: 210px;
    }

    #menu{
    width: 210px;
    display: block !important;
    }

    .list-inline > li {
    width: 25px;
    height: 25px;
    padding: 0px;
    padding: 0px;
    padding-left: 2px;
    }

    .thumbnail a > img {
    height: 300px;
    }

    .thumbnail .caption {
        padding: 0;
        color: #333333;
        bottom : -21px;
        margin-right: 20%;
        margin-left: 20%;
    }

    .thumbnail{
    margin-bottom: 0px;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 14px solid transparent;
    }

    .caption {
    display: block;
    position: relative;
    z-index: 8;
       
    h3{
    background-color: #130E0A;
    color: white;
    font-family : "brandon grotesque";
    padding: 10px 10px;
    letter-spacing: 2px;
    font-size: 11px !important;
    margin-top: -38px;
    z-index: 9;
    margin-bottom: 0;;
        }
    }


    .titre{
    padding-top: 2%;
    padding-bottom: 1%;
    line-height: 26px;
    margin-left: 200px;
    font-size: 17px;
    }

    #realisation-droite{

    .row {
        margin-left: 200px;
        margin-right: -15px;
        padding: 10px;
        height: 100%;
    }
}
    
}

/*----------------------------------------* RESPONSIVE MOBILE ----------------------------------------------------------------------------------------------------(300 x 640)-------------------------------------------------------*/

@media only screen and (min-width: 250px)and (max-width: 767px){

    #realisation-droite .row {
        margin-left: 0px;
        margin-right: 0px;
        padding: 10px;
        height: 100%;
    }

        .thumbnail a > img {
        height: 300px;
        width: auto;
    }

    .thumbnail{
        margin-bottom: 0px;
        border-top: 12px solid transparent;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 17px solid transparent;
    }

    .caption {
    display: block;
    position: relative;
    z-index: 8;
       
        h3{
            background-color: #130E0A;
            color: white;
            font-family : "brandon grotesque";
            padding: 10px 20px;
            letter-spacing: 2px;
            font-size: 11px !important;
            margin-top: -38px;
            z-index: 9;
            margin-bottom: 0;
        }
    }

    .signature {
        margin-left: 0px;
        padding: 5px;
        background-color: #F6EFEF;
        margin-bottom: 0;
    }


    .titre {
        margin-left: 0px;
    }

    .signature p {
        font-size: 10px;
        line-height: 22px;
    }
    
}

