#couverture_img_soa{
	border: 1px solid #F4F2EE;
	width: auto;
	height: 520px;
	background-image: url(../images/soa_presentation.jpg);
	background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 300px;

    .row{
    margin-left: 0px;
    }

 }