#couverture_img_soa{
	border: 1px solid #F4F2EE;
	width: auto;
	height: 520px;
	background-image: url(../images/soa_presentation.jpg);
	background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 300px;

    .row{
    margin-left: 0px;
    }

 }

#projet_soa_contenu1{
    background-image: url(../images/33prest_photos_projet.jpg);
    background-clip: content-box;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    height: 1000px;
    margin-top: 0%;
    padding-left: 2%;


    img{
    margin-top: 84%;
    width: 50%;
    }
}

#projet_soa_contenu2{
    background-image: url(../images/33prest_photos2_projet.jpg);
    background-clip: content-box;
    background-size: contain;
    height: 1000px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    margin-top: 14%;  
    padding-left: 7%;
}

#projet_soa_contenu3{
    background-image: url(../images/33prest_photos3_projet.jpg);
    background-size: contain;
    height: 1000px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    margin-top: 0%;
}

#projet_soa_contenu4{
    height: 1000px;
}

#description_role_soa{
    margin-top: -32%;
    margin-left: 3%;

    p{
        text-align: left;
    }
}

#description_role_avecfrise_soa{
    margin-top: 20%;
    margin-left: 0%;
}

#frise_verticale1{
    margin-top: -2%;
}


.frise_haut{
    margin-left: 290px;
    position: relative;
}

.container{
    width: 100%;
}

#couverture_img_33prest .row{
    margin-left: 0px;
}
/*----------------------
------------------------*/
/* RESPONSIVE */



/* RESPONSIVE 13 POUCES */
/*----------------------
-----------------------*/


@media only screen and (min-width: 1030px)and (max-width: 1290px){

.container{
    width: 100%;
}





    

}

