#couverture_img_soa{
	border: 1px solid #F4F2EE;
	width: auto;
	height: 520px;
	background-image: url(../images/soa_presentation.jpg);
	background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 300px;

    .row{
    margin-left: 0px;
    }
}



#projet_soa_contenu1{
    background-image: url(../images/soa_photos_projet.jpg);
    background-clip: content-box;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    height: 800px;
    width: 1092px;
    margin-top: 5%;
    padding-left: 2%;
}

#projet_soa_contenu2{
    background-image: url(../images/soa_photos2nb_projet.jpg);
    background-clip: content-box;
    background-size: contain;
    height: 1000px;
    width: 1092px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    margin-top: 28%;  
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 6%;

    img{
        margin-top: -50%;
        width: 50%;
    }
}

#description_role_soa{
    margin-top: -33%;
    margin-left: 4%;

    p{
        text-align: left;
    }
}

#frise_verticale{
   margin-top: 90%;
}

#couverture_img_cotebassin .row{
    margin-left: 0px;
}

#frise_bas_soa{
    position: absolute;
    right: 0px;
    bottom: 3%;
}

/*---------------------------------------------------RESPONSIVE---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/




/*----------------------------------------* RESPONSIVE 13 POUCES --------------------------------------------------------------------------------------------------(1280 x 700)-----------------------------------------------------*/

@media only screen and (min-width: 1280px)and (max-width: 1439px){



    #couverture_img_soa{
        border: 1px solid #F4F2EE;
        width: auto;
        height: 300px;
        margin-left: 200px;
    }

    #projet_soa_contenu1 {
        height: 500px;
        margin-top: -1%;
        padding-left: 2%;
        width: 550px;
    }



    #frise_verticale{
        margin-top: 95%;
        height: 300px;
    }

    #projet_soa_contenu2 {
        margin-top: 32%;
        padding-left: 2%;
        padding-right: 0%;
        width: 490px;
        height: 500px;

        img{
            margin-top: -60%;
            width: 65%;
        }
    }

    #description_role_soa {
        margin-top: -48%;
    }

    #frise_bas_soa {
        bottom: 4%;
    }
}

/*----------------------------------------* RESPONSIVE 15 POUCES --------------------------------------------------------------------------------------------------(1440 x 900)-----------------------------------------------------*/

@media only screen and (min-width: 1440px)and (max-width: 1679px){

    #couverture_img_soa{
        border: 1px solid #F4F2EE;
        width: auto;
        height: 300px;
        margin-left: 200px;
    }

    #projet_soa_contenu1 {
        height: 600px;
        margin-top: -1%;
        padding-left: 2%;
        width: 650px;
    }


    #frise_verticale{
        margin-top: 95%;
        height: 300px;
    }

    #projet_soa_contenu2 {
        margin-top: 32%;
        padding-left: 2%;
        padding-right: 0%;
        width: 550px;
        height: 650px;

        img{
            margin-top: -60%;
            width: 65%;
        }
    }

    #description_role_soa {
        margin-top: -48%;
    }

    #frise_bas_soa {
        bottom: 4%;
    }    
}

/*----------------------------------------* RESPONSIVE 15 POUCES --------------------------------------------------------------------------------------------------(1680 x 900)-----------------------------------------------------*/

@media only screen and (min-width: 1680px)and (max-width: 1919px){
    
    #couverture_img_soa{
        border: 1px solid #F4F2EE;
        width: auto;
        height: 400px;
        margin-left: 300px;
    }

    #projet_soa_contenu1 {
        height: 700px;
        margin-top: -1%;
        padding-left: 2%;
        width: 750px;
    }


    #frise_verticale{
        margin-top: 95%;
        height: 300px;
    }

    #projet_soa_contenu2 {
        margin-top: 32%;
        padding-left: 2%;
        padding-right: 1%;
        width: 600px;
        height: 700px;

        img{
            margin-top: -60%;
            width: 70%;
        }
    }

    #description_role_soa {
        margin-top: -42%;
    }

    #frise_bas_soa {
        bottom: 4%;
    }   
}

/*----------------------------------------* RESPONSIVE 15 POUCES --------------------------------------------------------------------------------------------------(1920 x 900)-----------------------------------------------------*/

@media only screen and (min-width: 1920px)and (max-width: 2559px){
    
#couverture_img_soa{
        border: 1px solid #F4F2EE;
        width: auto;
        height: 400px;
        margin-left: 300px;
    }

    #projet_soa_contenu1 {
        height: 700px;
        width: 807px;
        margin-top: 1%;
    }

    #projet_soa_contenu2 {
        width: 807px;
        height: 700px;
        margin-top: 30%;

        img{
            margin-top: -57%;
            width: 65%;
        }
    }


    #frise_verticale{
        margin-top: 95% !important;
    }

    #description_role_soa {
        margin-top: -44%;
    }

    #frise_bas_soa {
        bottom: 4%;
    }  
}

/*----------------------------------------* RESPONSIVE TABLETTE PORTRAIT --------------------------------------------------------------------------------------------(768 x 1024)---------------------------------------------------*/

@media only screen and (min-width: 400px)and (max-width: 779px){

 #description_role_soa {
        margin-top: -47%;
        margin-left: 4%;
    }

    #couverture_img_soa {
        width: 768px;
        height: 300px;
        margin-left: 0px;
        padding-right: 1%;
    }


    #projet_soa_contenu1 {
        height: 500px;
        width: 750px;
        padding-right: 3%;
    }

    #projet_soa_contenu2 {
        height: 500px;
        width: 750px;
        padding-right: 1%;
        margin-top: 110%;

        img{
        margin-top: -60%;
        }
    }
}