#couverture_img_titan{
	border: 1px solid #F4F2EE;
	width: 2220px;
	height: 520px;
	background-image: url(../images/titan_presentation.jpg);
	background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 300px;
 }

#projet_titan_contenu1{
    background-image: url(../images/titan_photos_projet.jpg);
    background-clip: content-box;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    height: 1000px;
    width: 1092px;
    margin-top: 7%;
    padding-left: 0%;


    img{
    margin-top: 83%;
    width: 54%;
    }
}

#projet_titan_contenu2{
    background-image: url(../images/titan_photos2_projet.jpg);
    background-clip: content-box;
    background-size: contain;
    height: 1000px;
    width: 1092px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    margin-top: 25%;  
    padding-left: 0%;
}

#projet_titan_contenu3 img{
	width: 40%;
	margin-top: -20%;
    margin-bottom: 4%;
}

#photo_titan_pieddepage{
	height: 100px;
}

.frise_haut{
    margin-left: 290px;
    position: relative;

    img{
    position: absolute;
    width:8%;
    top: 80px;
    }
}

.frise_bas{
    position: relative;

    img{
    position: absolute;
    right: 0;
    width:8%;
    }
}

#description_role_titan{
    margin-top: -32%;
    margin-left: 13%;

    p{
        text-align: left;
    }
}
#description_role_avecfrise{
    margin-top: -32%;
    margin-left: 6%;

    img{
        margin-left: 8%;
    }
}

#signature{
    height:50px;
}

#couverture_img_titan .row{
    margin-left: 0px;
}

/*----------------------
------------------------*/
/* RESPONSIVE */



/* RESPONSIVE 13 POUCES */
/*----------------------
-----------------------*/

@media only screen and (min-width: 1025px)and (max-width: 1290px){

    #couverture_img_titan{
        height: 300px;
        margin-left: 200px;
        width: auto;
     }

    #projet_titan_contenu1{
        height: 600px;
        margin-top: 4%;
        padding-left: 2%;
        width: 500px;


        img{
            margin-top: 83%;
            width: 54%;
        }
    }

    #projet_titan_contenu2{
        height: 600px;
        margin-top: 39%;  
        padding-left: 2%;
        width: 500px;
    }

    #projet_titan_contenu3 img{
        width: 60%;
        margin-top: -67%;
    }

    #frise_verticale_titan{
        height: 300px;
        margin-top: -27%;
    }

    #description_role_titan{
        margin-top: -64%;
        margin-left: 5%;

        h3{
            font-size: 17px !important;
        }
    }

    #description_role_avecfrise {
        margin-top: -40%;
        margin-left: 6%;
    }
}

/*----------------------------------------* RESPONSIVE 15 POUCES --------------------------------------------------------------------------------------------------(1440 x 900)-----------------------------------------------------*/

@media only screen and (min-width: 1295px)and (max-width: 1450px){
    

    #couverture_img_titan{
        height: 300px;
        margin-left: 200px;
        width: auto;
     }

    #projet_titan_contenu1{
        height: 600px;
        margin-top: 4%;
        padding-left: 2%;
        width: 600px;


        img{
            margin-top: 83%;
            width: 54%;
        }
    }

    #projet_titan_contenu2{
        height: 600px;
        margin-top: 39%;  
        padding-left: 2%;
        width: 600px;
    }

    #projet_titan_contenu3 img{
        width: 60%;
        margin-top: -67%;
    }

    #frise_verticale_titan{
        height: 300px;
        margin-top: -27%;
    }

    #description_role_titan{
        margin-top: -53%;
        margin-left: 5%;

        h3{
            font-size: 17px !important;
        }
    }

    #description_role_avecfrise {
        margin-top: -40%;
        margin-left: 6%;
    }

}

/* RESPONSIVE TABLETTE PAYSAGE */
/*-------------------------------
--------------------------------*/

@media only screen and (min-width: 780px)and (max-width: 1024px){

    #couverture_img_titan {
        height: 300px;
        margin-left: 200px;
    }

    #projet_titan_contenu1 {
        height: 600px;
        margin-top: 2%;
    }

    #description_role_titan {
        margin-top: -44%;
        margin-left: 3%;
    }

    #description_role_avecfrise {
        margin-top: -44%;
        margin-left: 6%;
    }

    #projet_titan_contenu2 {
        margin-top: 50%;
        height: 600px;
    }

    #projet_titan_contenu3 {
        height: 300px;

        img {
            width: 40%;
            margin-top: 2%;
        }
    }
}