#couverture_img_titan{
	border: 1px solid #F4F2EE;
	width: auto;
	height: 520px;
	background-image: url(../images/titan_presentation.jpg);
	background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
 }

.presentation_projet{
	max-width: 1000px;
	min-width: 500px;
	margin: 0 auto;
	background-color: white;
	height: 40%;
	margin-top: -10%;
	padding-left: 4%;
    padding-right: 4%;

    h2{
    	font-size: 18px;
    }
	h3{
		font-size: 15px;
	}
}

.vertical_spacer{
	background-color: white;
	border: 1px solid white;
}

#projet_titan_contenu1{
    background-image: url(../images/titan_photos_projet.jpg);
    background-clip: content-box;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    height: 1000px;
    margin-top: 7%;
    padding-left: 0%;


    img{
    margin-top: 83%;
    width: 54%;
    }
}

#projet_titan_contenu2{
    background-image: url(../images/titan_photos2_projet.jpg);
    background-clip: content-box;
    background-size: contain;
    height: 1000px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    margin-top: 25%;  
    padding-left: 0%;
}

#projet_titan_contenu3 img{
	width: 40%;
	margin-top: -17%;
}

#photo_titan_pieddepage{
	height: 100px;
}

.frise_haut{
    margin-left: 290px;
    position: relative;

    img{
    position: absolute;
    width:8%;
    top: 80px;
    }
}

.frise_bas{
    position: relative;

    img{
    position: absolute;
    right: 0;
    width:8%;
    }
}

#description_role_titan{
    margin-top: -32%;
    margin-left: 13%;

    p{
        text-align: left;
    }
}
#description_role_avecfrise{
    margin-top: -32%;
    margin-left: 6%;

    img{
        margin-left: 8%;
    }
}

#signature{
    height:50px;
}

/*----------------------
------------------------*/
/* RESPONSIVE */



/* RESPONSIVE 13 POUCES */
/*----------------------
-----------------------*/

@media only screen and (min-width: 780px)and (max-width: 1350px){
    
    
}