#couverture_img_toietmoi{
	border: 1px solid #F4F2EE;
	width: auto;
	height: 520px;
	background-image: url(../images/toietmoi_presentation.jpg);
	background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 300px;
}

#projet_toietmoi_contenu1{
    background-image: url(../images/toietmoi_photos9_projet.jpg);
    background-clip: content-box;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    height: 800px;
    width: 1455px;
    margin-top: 5%;
    margin-left: 0%;
    padding-right: 2%;
}


#projet_toietmoi_contenu2{
    background-image: url(../images/toietmoi_photos2_projet.jpg);
    background-clip: content-box;
    background-size: contain;
    height: 1000px;
    width: 728px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    margin-top: 28%;  
    padding-left: 0%;
    padding-right: 1%;

}

#projet_toietmoi_contenu3{
    background-size: contain;
    height: 0px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    margin-top: 0%;

    img{
    	width:40%;
    	margin-top: -45%;
    }
}

#photo_pieddepage_toietmoi{
	margin-left: 300px;

	img{
		width:30%;
		margin-top: 8%;
	}
}


#description_role_toietmoi{
    margin-top: -48%;
    margin-left: 5%;

    p{
        text-align: left;
    }
}

#description_role_avecfrise_toietmoi{
    margin-top: -50%;
    margin-left: 4%;

    img{
        margin-top: -2%;
    }
}

#signature{
    height:50px;
}

.vertical_spacer{
    height: 20px;
}

#couverture_img_toietmoi .row{
    margin-left: 0px;
}

/*---------------------------------------------------RESPONSIVE---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/




/*----------------------------------------* RESPONSIVE 13 POUCES --------------------------------------------------------------------------------------------------(1280 x 700)-----------------------------------------------------*/

@media only screen and (min-width: 1260px)and (max-width: 1419px){
    
    #couverture_img_toietmoi {
        width: auto;
        height: 300px;
        margin-left: 200px;
    }

    #projet_toietmoi_contenu1 {
        height: 400px;
        margin-top: 5%;
        margin-left: 0%;
        padding-right: 0%;
        width: 600px;
    }

    #projet_toietmoi_contenu2 {
        height: 500px;
        width: 450px;
        margin-top: 36%;
        padding-left: 0%;
        padding-right: 0%;
    }

    #frise_verticale_toietmoi{
        height: 300px;
    }

    #description_role_toietmoi h3{
        font-size: 17px !important;
        letter-spacing: 1px;
    }

    #description_role_toietmoi {
        margin-top: -66%;
        margin-left: 5%;
    }

    #description_role_avecfrise_toietmoi {
        margin-top: -58%;
        margin-left: 4%;
    }

    #projet_toietmoi_contenu3 img {
        width: 50%;
        margin-top: -60%;
    }

    #photo_pieddepage_toietmoi img {
        width: 50%;
        margin-top: 5%;
    }

    #photo_pieddepage_toietmoi {
        margin-left: 200px;
    }
}

/*----------------------------------------* RESPONSIVE 15 POUCES --------------------------------------------------------------------------------------------------(1440 x 900)-----------------------------------------------------*/

@media only screen and (min-width: 1420px)and (max-width: 1659px){

    #couverture_img_toietmoi {
        width: auto;
        height: 300px;
        margin-left: 200px;
    }

    #projet_toietmoi_contenu1 {
        height: 500px;
        margin-top: 0%;
        margin-left: 0%;
        padding-right: 0%;
        width: 700px;
    }

    #projet_toietmoi_contenu2 {
        height: 550px;
        width: 500px;
        margin-top: 30%;
        padding-left: 0%;
        padding-right: 0%;
        margin-bottom: 2%;
    }

    #frise_verticale_toietmoi{
        height: 300px;
    }

    #description_role_toietmoi h3{
        font-size: 17px !important;
        letter-spacing: 1px;
    }

    #description_role_toietmoi {
        margin-top: -60%;
        margin-left: 5%;
    }

    #description_role_avecfrise_toietmoi {
        margin-top: -60%;
        margin-left: 4%;
    }

    #projet_toietmoi_contenu3 img {
        width: 50%;
        margin-top: -60%;
    }

    #photo_pieddepage_toietmoi img {
        width: 50%;
        margin-top: 5%;
    }

    #photo_pieddepage_toietmoi {
        margin-left: 200px;
    } 

    #frise_bas_toietmoi2{
        position: absolute;
        right: 0%;
        margin-top: 2%;
    }   
}

/*----------------------------------------* RESPONSIVE 15 POUCES --------------------------------------------------------------------------------------------------(1680 x 900)-----------------------------------------------------*/

@media only screen and (min-width: 1660px)and (max-width: 1899px){
 
    #couverture_img_toietmoi {
        width: auto;
        height: 400px;
        margin-left: 300px;
    }

    #projet_toietmoi_contenu1 {
        height: 700px;
        margin-top: 0%;
        margin-left: 0%;
        padding-right: 0%;
        width: 800px;
    }

    #projet_toietmoi_contenu2 {
        height: 750px;
        width: 558px;
        margin-top: 35%;
        padding-left: 0%;
        padding-right: 0%;
        margin-bottom: 2%;
    }

    #frise_verticale_toietmoi{
        height: 300px;
    }

    #description_role_toietmoi h3{
        font-size: 17px !important;
        letter-spacing: 1px;
    }

    #description_role_toietmoi {
        margin-top: -55%;
        margin-left: 5%;
    }

    #description_role_avecfrise_toietmoi {
        margin-top: -55%;
        margin-left: 4%;
    }

    #projet_toietmoi_contenu3 img {
        width: 50%;
        margin-top: -75%;
    }

    #photo_pieddepage_toietmoi img {
        width: 50%;
        margin-top: 5%;
    }

    #photo_pieddepage_toietmoi {
        margin-left: 200px;
    } 

    #frise_bas_toietmoi2{
        position: absolute;
        right: 0%;
        margin-top: 2%;
    }     
}

/*----------------------------------------* RESPONSIVE 15 POUCES --------------------------------------------------------------------------------------------------(1920 x 900)-----------------------------------------------------*/

@media only screen and (min-width: 1900px)and (max-width: 2510px){

    #couverture_img_toietmoi {
        width: auto;
        height: 400px;
        margin-left: 300px;
    }

    #projet_toietmoi_contenu1 {
        height: 700px;
        width: 900px;
        margin-top: 0%;
    }

    #projet_toietmoi_contenu2 {
        height: 750px;
        width: 695px;
        margin-top: 35%;
        padding-left: 0%;
        padding-right: 0%;
        margin-bottom: 2%;
    }

    #projet_toietmoi_contenu3 img {
        width: 40%;
        margin-top: -70%;
        margin-left: -115px;
    }

    #photo_pieddepage_toietmoi img {
        width: 40%;
        margin-top: 8%;
    }

    #frise_bas_toietmoi2{
        position: absolute;
        right: 0%;
    }  
}

/*----------------------------------------* RESPONSIVE TABLETTE PORTRAIT --------------------------------------------------------------------------------------------(768 x 1024)---------------------------------------------------*/

@media only screen and (min-width: 760px)and (max-width: 1023px){

    #couverture_img_toietmoi {
        width: auto;
        height: 300px;
        margin-left: 0px;
    }

    #projet_toietmoi_contenu1 {
        height: 500px;
        width: 750px;
        padding-right: 3%
    }

    #projet_toietmoi_contenu2 {
        height: 800px;
        width: 750px;
        margin-top: 100%;
    }

    #frise_verticale_toietmoi{
        margin-top: -50%;
    }

    #projet_toietmoi_contenu3 {
        height: 300px;

        img {
            width: 40%;
            margin-top: 5%;
            margin-left: 0px;
        }
    }

    #photo_pieddepage_toietmoi {
        margin-left: 0px;
        margin-top: 5%;

        img{
            width: 55%;
        }
    } 
}
     
/*----------------------------------------* RESPONSIVE TABLETTE PAYSAGE -----------------------------------------------------------------------------------------------(1024 x 768)-------------------------------------------------*/

@media only screen and (min-width: 1024px)and (max-width: 1259px){
 
    #couverture_img_toietmoi {
        width: auto;
        height: 300px;
        margin-left: 200px;
    }

    #projet_toietmoi_contenu1 {
        height: 400px;
        margin-top: 0%;
        margin-left: 0%;
        padding-right: 2%;
        width: 500px;
    }

    #projet_toietmoi_contenu2 {
        height: 450px;
        width: 313px;
        margin-top: 33%;
        padding-left: 0%;
        padding-right: 0%;
    }

    #frise_verticale_toietmoi{
        display: none;
    }


    #description_role_avecfrise_toietmoi {
        display: none;
    }

    #projet_toietmoi_contenu3 img {
        width: 35%;
        margin-top: -50%;
        margin-left: -339px;
    }

    #photo_pieddepage_toietmoi img {
        width: 50%;
        margin-top: 5%;
    }

    #photo_pieddepage_toietmoi {
        margin-left: 200px;
    } 

    #description_role_toietmoi {
        margin-top: -99%;
        margin-left: 5%;
    } 
}

/*----------------------------------------* RESPONSIVE MOBILE ----------------------------------------------------------------------------------------------------(300 x 640)-------------------------------------------------------*/

@media only screen and (min-width: 250px)and (max-width: 759px){

    #couverture_img_toietmoi {
        width: auto;
        height: 130px;
        margin-left: 0px;
    }

    #projet_toietmoi_contenu1 {
        height: 200px;
        width: auto;
        padding: 0px;
    }

    #description_role_avecfrise_toietmoi{
        display: none;
    }

    #projet_toietmoi_contenu2 {
        height: 350px;
        width: auto;
        margin-top: 10%;
    }

    #frise_verticale_toietmoi{
        margin-top: -50%;
    }

    #projet_toietmoi_contenu3 {
        height: 200px;
        margin-top: 10%;

        img {
            width: 60%;
            margin-top: 5%;
            margin-left: 0px;
        }
    }

    #photo_pieddepage_toietmoi {
        margin-left: 0px;
        margin-top: 0%;

        img{
            width: 100%;
        }
    } 
}








