#couverture_img_toietmoi{
	border: 1px solid #F4F2EE;
	width: 2220px;
	height: 520px;
	background-image: url(../images/toietmoi_presentation.jpg);
	background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 300px;
}

#projet_toietmoi_contenu1{
    background-image: url(../images/toietmoi_photos9_projet.jpg);
    background-clip: content-box;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    height: 800px;
    width: 1455px;
    margin-top: 5%;
    margin-left: 0%;
    padding-right: 2%;
}


#projet_toietmoi_contenu2{
    background-image: url(../images/toietmoi_photos2_projet.jpg);
    background-clip: content-box;
    background-size: contain;
    height: 1000px;
    width: 728px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    margin-top: 28%;  
    padding-left: 0%;
    padding-right: 1%;

}

#projet_toietmoi_contenu3{
    background-size: contain;
    height: 0px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    margin-top: 0%;

    img{
    	width:40%;
    	margin-top: -45%;
    }
}

#photo_pieddepage_toietmoi{
	margin-left: 300px;

	img{
		width:30%;
		margin-top: 8%;
	}
}


.frise_bas{
    position: relative;

    img{
    position: absolute;
    right: 0;
    width:8%;
    }
}



#description_role_toietmoi{
    margin-top: -48%;
    margin-left: 5%;

    p{
        text-align: left;
    }
}

#description_role_avecfrise_toietmoi{
    margin-top: -50%;
    margin-left: 4%;

    img{
        margin-top: -2%;
    }
}

#signature{
    height:50px;
}

.vertical_spacer{
    height: 20px;
}

#couverture_img_toietmoi .row{
    margin-left: 0px;
}

/*----------------------
------------------------*/
/* RESPONSIVE */



/* RESPONSIVE 13 POUCES */
/*----------------------
-----------------------*/

@media only screen and (min-width: 1025px)and (max-width: 1290px){
    
    #couverture_img_toietmoi {
        width: auto;
        height: 300px;
        margin-left: 200px;
    }

    #projet_toietmoi_contenu1 {
        height: 400px;
        margin-top: 5%;
        margin-left: 0%;
        padding-right: 0%;
        width: 600px;
    }

    #projet_toietmoi_contenu2 {
        height: 500px;
        width: 460px;
        margin-top: 36%;
        padding-left: 0%;
        padding-right: 0%;
    }

    #frise_verticale_toietmoi{
        height: 300px;
    }

    #description_role_toietmoi h3{
        font-size: 17px !important;
        letter-spacing: 1px;
    }

    #description_role_toietmoi {
        margin-top: -66%;
        margin-left: 5%;
    }

    #description_role_avecfrise_toietmoi {
        margin-top: -58%;
        margin-left: 4%;
    }

    #projet_toietmoi_contenu3 img {
        width: 50%;
        margin-top: -60%;
    }

    #photo_pieddepage_toietmoi img {
        width: 50%;
        margin-top: 5%;
    }

    #photo_pieddepage_toietmoi {
        margin-left: 200px;
    }
}

/*----------------------------------------* RESPONSIVE 15 POUCES --------------------------------------------------------------------------------------------------(1440 x 900)-----------------------------------------------------*/

@media only screen and (min-width: 1295px)and (max-width: 1450px){

    #couverture_img_toietmoi {
        width: auto;
        height: 300px;
        margin-left: 200px;
    }

    #projet_toietmoi_contenu1 {
        height: 500px;
        margin-top: 0%;
        margin-left: 0%;
        padding-right: 0%;
        width: 700px;
    }

    #projet_toietmoi_contenu2 {
        height: 550px;
        width: 500px;
        margin-top: 30%;
        padding-left: 0%;
        padding-right: 0%;
        margin-bottom: 2%;
    }

    #frise_verticale_toietmoi{
        height: 300px;
    }

    #description_role_toietmoi h3{
        font-size: 17px !important;
        letter-spacing: 1px;
    }

    #description_role_toietmoi {
        margin-top: -60%;
        margin-left: 5%;
    }

    #description_role_avecfrise_toietmoi {
        margin-top: -60%;
        margin-left: 4%;
    }

    #projet_toietmoi_contenu3 img {
        width: 50%;
        margin-top: -60%;
    }

    #photo_pieddepage_toietmoi img {
        width: 50%;
        margin-top: 5%;
    }

    #photo_pieddepage_toietmoi {
        margin-left: 200px;
    } 

    #frise_bas_toietmoi2{
        position: absolute;
        right: 0%;
        margin-top: 2%;
    }   
}

/*----------------------------------------* RESPONSIVE 15 POUCES --------------------------------------------------------------------------------------------------(1680 x 900)-----------------------------------------------------*/

@media only screen and (min-width: 1450px)and (max-width: 1690px){
 
    #couverture_img_toietmoi {
        width: auto;
        height: 400px;
        margin-left: 300px;
    }

    #projet_toietmoi_contenu1 {
        height: 700px;
        margin-top: 0%;
        margin-left: 0%;
        padding-right: 0%;
        width: 800px;
    }

    #projet_toietmoi_contenu2 {
        height: 750px;
        width: 570px;
        margin-top: 35%;
        padding-left: 0%;
        padding-right: 0%;
        margin-bottom: 2%;
    }

    #frise_verticale_toietmoi{
        height: 300px;
    }

    #description_role_toietmoi h3{
        font-size: 17px !important;
        letter-spacing: 1px;
    }

    #description_role_toietmoi {
        margin-top: -55%;
        margin-left: 5%;
    }

    #description_role_avecfrise_toietmoi {
        margin-top: -55%;
        margin-left: 4%;
    }

    #projet_toietmoi_contenu3 img {
        width: 50%;
        margin-top: -75%;
    }

    #photo_pieddepage_toietmoi img {
        width: 50%;
        margin-top: 5%;
    }

    #photo_pieddepage_toietmoi {
        margin-left: 200px;
    } 

    #frise_bas_toietmoi2{
        position: absolute;
        right: 0%;
        margin-top: 2%;
    }     
}

/*----------------------------------------* RESPONSIVE 15 POUCES --------------------------------------------------------------------------------------------------(1920 x 900)-----------------------------------------------------*/

@media only screen and (min-width: 1690px)and (max-width: 1950px){

    #couverture_img_toietmoi {
        width: auto;
        height: 400px;
        margin-left: 300px;
    }

    #projet_toietmoi_contenu1 {
        height: 700px;
        width: 900px;
        margin-top: 0%;
    }

    #projet_toietmoi_contenu2 {
        height: 750px;
        width: 715px;
        margin-top: 35%;
        padding-left: 0%;
        padding-right: 0%;
        margin-bottom: 2%;
    }

    #projet_toietmoi_contenu3 img {
        width: 40%;
        margin-top: -70%;
        margin-left: -115px;
    }

    #photo_pieddepage_toietmoi img {
        width: 40%;
        margin-top: 8%;
    }

    #frise_bas_toietmoi2{
        position: absolute;
        right: 0%;
    }  
}
     
/* RESPONSIVE TABLETTE PAYSAGE */
/*-------------------------------
--------------------------------*/

@media only screen and (min-width: 780px)and (max-width: 1024px){
    
    .frise_haut {
        margin-left: 190px;
        position: relative;
    }

    #couverture_img_toietmoi {
        height: 300px;
        margin-left: 200px;
    }

    #projet_toietmoi_contenu1 {
        height: 600px;
        margin-top: 0%;
        margin-left: 0%;
        padding-right: 2%;
    }

    #description_role_avecfrise_toietmoi {
        margin-top: -45%;
        margin-left: 4%;
    }

    #description_role_toietmoi {
        margin-top: -44%;
        margin-left: 5%;
    }

    #projet_toietmoi_contenu2 {
        height: 500px;
        margin-top: 40%;
        padding-left: 0%;
        padding-right: 1%;
    }

    #projet_toietmoi_contenu3 {
        height: 300px;
    }

    #projet_toietmoi_contenu3 img {
        width: 40%;
        margin-top: 5%;
    }


    #photo_pieddepage_toietmoi {
        margin-left: 200px;
    }

    #photo_pieddepage_toietmoi img {
        width: 60%;
        margin-top: 8%;
    }

    #description_role_avecfrise_toietmoi {
        margin-top: -44%;
        margin-left: 4%;
    }
}








