---
title: Accueil
---

<div id="fond2" class="text-center">

  <svg id="svg1" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <defs>
          <mask id="maskid25" maskUnits="userSpaceOnUse"> 
              <path fill="white" d="M849.909,14.624l-623.21,622.472l-2.65,2.649v62.827L436.361,915.07l618.113-617.39l2.649-2.646l0.026-72.985
    L849.909,14.624z M1575.584,141.506l-623.21,622.473l-2.65,2.648v62.828l212.312,212.496l618.112-617.391l2.65-2.646l0.026-72.985
    L1575.584,141.506z"/>
          </mask>
      </defs>
  </svg>

  <svg id="svg2" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <defs>
          <mask id="maskid19" maskUnits="userSpaceOnUse"> 
              <path fill="white" d="M663.137,6.835l-532.822,532.19l-2.266,2.266v53.715L309.57,776.684l528.464-527.846l2.266-2.263l0.022-62.399
  L663.137,6.835z M1283.562,115.315L750.74,647.506l-2.268,2.264v53.718l181.521,181.677l528.463-527.848l2.266-2.262l0.023-62.399
  L1283.562,115.315z"/>
          </mask>
      </defs>
  </svg>

  <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
      <defs>
          <mask id="maskid16" maskUnits="userSpaceOnUse"> 
              <path fill="white" d="M539.53,10.105L89.067,487.437l-1.916,2.032v48.178l153.462,162.95l446.777-473.436l1.915-2.029l0.02-55.968L539.53,10.105z
     M1064.054,107.403L613.592,584.736l-1.916,2.029v48.18l153.462,162.949l446.775-473.437l1.915-2.028l0.021-55.967L1064.054,107.403
    z"/>
          </mask>
      </defs>
  </svg>

  <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
      <defs>
          <mask id="maskid12" maskUnits="userSpaceOnUse"> 
              <path fill="white" d="M465.653,5.432L88.754,404.811l-1.603,1.7v40.312l128.4,136.339l373.815-396.12l1.603-1.698l0.018-46.828L465.653,5.432z
     M904.517,86.84L527.62,486.221l-1.604,1.697v40.312l128.4,136.338l373.812-396.119l1.604-1.698l0.018-46.827L904.517,86.84z"/>
          </mask>
      </defs>
  </svg>

  <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
      <defs>
          <mask id="maskid10" maskUnits="userSpaceOnUse"> 
              <path fill="white" d="M399.217,23.105L34.766,403.49l-1.55,1.62v38.393l124.16,129.854l361.469-377.279l1.549-1.617l0.018-44.601L399.217,23.105z
     M823.588,100.643L459.137,481.029l-1.55,1.617v38.394l124.161,129.854l361.469-377.281l1.551-1.617l0.016-44.601L823.588,100.643z"/>
          </mask>
      </defs>
  </svg>

<svg version="1.1" xmlns="http://www.w3.org/2000/svg">
      <defs>
          <mask id="maskid10-2" maskUnits="userSpaceOnUse"> 
              <path fill="white" d="M417.099,85.624L125.236,390.247l-1.241,1.298v30.745l99.431,103.991l289.476-302.137l1.24-1.295l0.014-35.718
  L417.099,85.624z M756.947,147.718L465.085,452.343l-1.241,1.295v30.747l99.432,103.991l289.476-302.138l1.242-1.295l0.012-35.717
  L756.947,147.718z"/>
          </mask>
      </defs>
</svg>

  <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
      <defs>
          <mask id="maskid7" maskUnits="userSpaceOnUse"> 
              <path fill="white" d="M772.276,274.625L600.251,454.173l-0.731,0.764v18.123l58.605,61.293l170.619-178.082l0.731-0.764l0.008-21.052
    L772.276,274.625z M972.585,311.225L800.56,490.771l-0.731,0.764v18.122l58.605,61.293l170.619-178.082l0.73-0.763l0.008-21.052
    L972.585,311.225z"/>
          </mask>
      </defs>
  </svg>

  <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
      <defs>
          <mask id="maskid7-2" maskUnits="userSpaceOnUse"> 
              <path fill="white" d="M334.1,65.624L17.854,395.695l-1.345,1.406v33.313l107.737,112.679l313.658-327.377l1.344-1.403l0.016-38.702L334.1,65.624z
   M624.324,132.906L308.08,462.979l-1.345,1.403v33.315l107.738,112.679l313.658-327.378l1.347-1.403l0.013-38.701L624.324,132.906z"/>
          </mask>
      </defs>
  </svg>

  <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
      <defs>
          <mask id="maskidm" maskUnits="userSpaceOnUse"> 
              <path fill="white" d="M416.45,143.506L203.374,365.898l-0.906,0.947v22.446l72.59,75.919l211.333-220.577l0.905-0.945l0.011-26.076
  L416.45,143.506z"/>
          </mask>
      </defs>
  </svg>




  
  



<div id="image_accueil1">
  <img src="../images/cotebassin2_intro.jpg" alt="photo Coté Bassin">
</div>
</div>


<div id="accueil_encart3">
  <div id="encart_accueil2" class="text-center">
    <h1> STUDIO DE COMMUNICATION GLOBALE </h1>

  </div>
</div>







<script>
$(document).ready(function(){
  if ($(window).width() > 300 && $(window).width() < 1620) {
  $(".site-content").css({"height":"98vh","background-color":"#24272C", "margin-left":"1%"});}
  else if ($(window).width() > 760 && $(window).width() < 1620) {
  $(".site-content").css({"height":"97vh","background-color":"#24272C", "margin-left":"200px"});}
  else if ($(window).width() > 1621) {
      $(".site-content").css({"height":"97vh","background-color":"#24272C", "margin-left":"300px"});}
});

$(window).load(function(){

if ($(window).width() > 760) {
$("#nav").show().animate({left: '0px'}, 100, "easeInOutQuad")
$("#wrapper-anim").css({"margin-top":"1%"}).show().animate({"left":'0px'}, 100, "easeInOutQuad");}
$(document.body).css({"overflow":"hidden","background-color":"white"});
$("#encart_accueil2").hide();
$("#accueil_encart3").hide();

if ($(window).width() > 300 && $(window).width() < 700) {
  $("#image_accueil1").css({"mask":"url(#maskidm)"}).addClass("intro-m").delay(1500).delay(5000);}
else if ($(window).width() > 700 && $(window).width() < 999) {
  $("#image_accueil1").css({"mask":"url(#maskid7-2)"}).addClass("intro7-2").delay(1500).delay(5000);}
else if ($(window).width() > 1000 && $(window).width() < 1249) {
  $("#image_accueil1").css({"mask":"url(#maskid10-2)"}).addClass("intro10-2").delay(1500).delay(5000);}
else if ($(window).width() > 1250 && $(window).width() < 1419) {
  $("#image_accueil1").css({"mask":"url(#maskid12)"}).addClass("intro12").delay(1500).delay(5000);}
else if ($(window).width() > 1420 && $(window).width() < 1879){ 
  $("#image_accueil1").css({"mask":"url(#maskid16)"}).addClass("intro16").delay(1500).delay(5000);}
else if ($(window).width() > 1879 && $(window).width() < 2000){ 
  $("#image_accueil1").css({"mask":"url(#maskid19)"}).addClass("intro19").delay(1500).delay(5000);}
else {$(".site-content").css({"height":"97vh","background-color":"#24272C", "margin-left":"300px"});
      $("#image_accueil1").css({"mask":"url(#maskid25)"}).addClass("intro25").delay(1500).delay(5000);}


$("#image_accueil1 img").delay(2500).css({"transform-origin":"center", "-moz-transform-origin":"center","transform":"scale(0.8)","-webkit-transform":"scale(0.8)","-moz-transform":"scale(0.8)"}).delay(5000);



if ($(window).width() < 699) {
$("#accueil_encart3").delay(2000).show().animate({"margin-right":"80%"}, 1000, "linear");}
else if ($(window).width() > 700 && $(window).width() < 999) {
$("#accueil_encart3").delay(2000).show().animate({"margin-right":"50%"}, 1000, "linear");}
else {$("#accueil_encart3").delay(2000).show().animate({"margin-right":"40%"}, 1000, "linear");}
$("#accueil_encart3").queue(function(){ 
  $("#encart_accueil2").delay(2000).slideDown("1000"), $("#encart_accueil2 h1").addClass("fadeInDown");
  });



  });
</script>    
