---
title: Accueil
---
 <div id="page_accueil" class="main">
      <div id="section">
       
      </div> 
</div> 



 <div id="accueil-droite"> 
 </div>

 <div id="tittle2" class="text-center">
 	<h1>STUDIO DE COMMUNICATION GLOBALE</h1>
 </div>

        	<div class="row" id="row_presentation_accueil">
        		<div id="accueil_animation">

					            <div class="col-xs-12 col-md-6  text-center"id="presentation_accueil_gauche2">

					              	<img src="images/slider_blocgauche1.png" id="accueil_gauche2" class="slideInUp">

          
					            </div>

					            <div class="col-xs-12 col-md-6 text-center" id="presentation_accueil_droite2" >
					              	
					              	<img src="images/slider_blocdroit1.png" id="accueil_droite2" class="slideInDown">


					            </div>
		        </div>
		    </div>




    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71228542-1', 'auto');
  ga('send', 'pageview');

</script>

   <script>
       jQuery(document).ready(function(){
                
                 $(function() {

     
        $("#img4").delay(2500).animate({top:"-1000px" }, 1250);

                                    
                                       

                                                                    
                                                                    
                                                        
                                                   
                                            
                                        });


               $(function() {
        
            $("#img8").delay(2500).animate({bottom:"-1000px" }, 1250);
              


                                        
                        
                        });             


       });
   </script>