---
title: Bordeaux Beer Factory
---

<html>
 <body>
	<div id="page_accueil">
     	 <div id="section">
     	 	
     	 </div>

               <div id="couverture_img_cotebassin">
                    <div class="nav_projet">
                         <div class="row">
                                <div class="col-xs-4 text-left navprojetgauche" >
                                   <% link_to "/collages.html", :class => "animsition-link" do %>
                                   <div id="fleche_gauche">
                                    <%= image_tag"fleche_gauche.svg" %> 
                                   </div>
                                   <i>Précédent</i>
                                   <% end %> 
                                </div>

                                <div class="col-xs-4">
                                </div>

                                <div class="col-xs-4 text-right navprojetdroit">
                                   <% link_to "/cotebassin.html", :class => "animsition-link" do %>
                                   <i>Suivant</i>
                                   <div id="fleche_droite">
                                     <%= image_tag"fleche_droite.svg" %> 
                                   </div>
                                   <% end %> 
                                </div>
                         </div>
                    </div>
               </div>

          <div class="vertical_spacer">
          <br> </br>
          </div>



                         <div class="presentation_projet text-center">
                              <br> </br>
                              <h2 class="titreh2">BORDEAUX BEER FACTORY</h2>
                              <h3 class="titreh3">Bière Artisanale Bordelaise</h3>
                              <%= image_tag "losange.png"%> 
                              
                              <h4 class="titreh4">DIRECTION ARTISTIQUE – CREATION DE L’ IDENTITÉ VISUELLE + ETIQUETTES</h4>
                             
                              <p class="titrehp">
                                   Bordeaux Beer Factory c'est 2 amis brasseurs qui se sont retrouvés autour de la bière, Paul et Nicolas. Pour eux, la bière est plus qu’une simple boisson, c’est une véritable expérience de dégustation et de partage. La richesse culturelle et gastronomique de Bordeaux ainsi que sa tradition viticole en font un lieu idéal pour créer des bières originales en toute convivialité. Des recettes inspirées des styles étrangers et français, avec une American Ale et une India Pale Ale (IPA) pour commencer l'aventure !
                              </p>
                              <br> </br>
                         </div>
  
          <div class="frise_haut">
                              <svg version="1.1" id="frise_haut" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                               width="124.75px" height="9.75px" viewBox="0 0 124.75 9.75" enable-background="new 0 0 124.75 9.75" xml:space="preserve">
                                    <g stroke="#000" stroke-width="1" fill="none">
                                        <path fill="none" stroke="#000" stroke-width="0.75" stroke-miterlimit="10" d="M2.971,7.734h83.862"/>
                                        <path fill="none" stroke="#000" stroke-width="0.75" stroke-miterlimit="10" d="M2.969,2.625H123"/>
                                    <g/>  
                              </svg>
          </div>

                        <div class="container">
                                <div class="row">
                                        <div class="col-md-12 col-lg-6 text-center" id="projet_bbf_contenu1"> 
                                              <div id="description_role_avecfrise_cotebassin" class="fadeInDown text-left">

                                                        <svg version="1.1" id="frise_verticale" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                         width="10px" height="350px" viewBox="0 0 10 350" enable-background="new 0 0 10 350" xml:space="preserve">
                                                       
                                                      <path fill="#000000" stroke="#000000" stroke-width:"1" stroke-miterlimit="10" d="M1.169,16.832L5.002,13l3.831,3.833L5,20.665L1.169,16.832z
                                                         M1.165,283.791l3.833-3.832l3.831,3.832l-3.833,3.832L1.165,283.791z M5.001,16.832v267.333"/>
                                                      </svg>

                                                              <div id="description_role_bbf" class=" fadeInDown2 text-left">
                                                                     <h3>ROLE SUR LE PROJET</h3>
                                                                     <p>
                                                                      Direction Artistique <br>
                                                                      Création de l’identité visuelle, graphisme, logo, typographies <br>
                                                                      Création des étiquettes et suivi impression
                                                                     </p>
                                                                     <h3>TECHNIQUE D'IMPRESSION</h3>
                                                                     <p >
                                                                      Impression Offset + Dorure à chaud <br>
                                                                      Support : Cartes de visite et étiquettes
                                                                    </p>
                                                              </div>
                                              </div>
                                        
                                        </div> 


                                        <div class="col-md-12 col-lg-6 text-center" id="projet_bbf_contenu2" data-sr="wait 0.25s, over 1s, ease-in-out 10px">

                                        <%= image_tag"bbf_logo.svg" %> 
                                        
                                       </div>  
                        </div> 

                         <div class="row">
                                <div class="col-md-12 col-lg-12" id="projet_bbf_contenu3" data-sr="wait 0.25s, over 1s, ease-in-out 10px">
                                  
                                   
                                </div>  

                                

                        </div> 

                    </div> 

                        <div class="frise_bas">
                                <svg version="1.1" id="frise_bas" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="124.75px" height="9.75px" viewBox="0 0 124.75 9.75" enable-background="new 0 0 124.75 9.75" xml:space="preserve">

                               <g stroke="#000" stroke-width="1" fill="none">     

                              <path fill="none" stroke="#000" stroke-width="1" stroke-miterlimit="10" d="M122.998,2.625H39.136 M123,7.734H2.969"/>
                                             
                               <g/>   
                              </svg>   

                        </div>

                        <div id="bbf_photo_pieddepage">
                              
                        </div>  

                        <div class="vertical_spacer">
                            <br> </br>
                        </div> 

                        <div class="signature text-center">
                                <p>
                                  <i>
                                  <svg version="1.1" class="goutte_gauche" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        width="20px" height="14px" viewBox="0 0 595.279 841.891" enable-background="new 0 0 595.279 841.891"
                                        xml:space="preserve">
                                        <path d="M499.238,433.077c0,108.204-87.773,195.931-195.948,195.931c-108.198,0-195.919-87.727-195.919-195.931
                                        c0-108.24,130.045-215.331,195.919-380.218C374.343,209.906,499.238,324.837,499.238,433.077z"/>
                                        </svg>
                                        Say Hype, Studio de Communication Globale - 30 rue de la Vieille Tour, Bordeaux, France 
                                        <svg version="1.1" class="goutte_droite" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        width="20px" height="14px" viewBox="0 0 595.279 841.891" enable-background="new 0 0 595.279 841.891"
                                        xml:space="preserve">
                                        <path d="M499.238,433.077c0,108.204-87.773,195.931-195.948,195.931c-108.198,0-195.919-87.727-195.919-195.931
                                        c0-108.24,130.045-215.331,195.919-380.218C374.343,209.906,499.238,324.837,499.238,433.077z"/>
                                  </svg>
                                  </i>
                                </p>

                        </div>


            


 </body>
</html>


<script>
      window.sr = new scrollReveal();
</script>

<script>
jQuery(document).ready(function(){
                                                  $("#nav").show().animate({left: '0px'}, 1000, "easeInOutQuad")
                                                $("#wrapper-anim").show().animate({"left": '0px'}, 1150, "easeInOutQuad")
  });
</script>
</script>