---
title: Contact
---
<div id="presentation_contact">



  <div id="contact">

    <div id="description_contact">

            <br>
            <h1 class="slideInDown text-center"> Contact </h1>
            <div class="fise_soustitre text-center">
              <svg version="1.1" id="frise_soustitre" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   width="347.333px" height="32.333px" viewBox="0 0 347.333 32.333" enable-background="new 0 0 347.333 32.333"
                   xml:space="preserve">
                    <rect x="30.641" y="7.975" transform="matrix(0.7071 -0.7071 0.7071 0.7071 1.944 27.3613)" fill="#B6925D" width="6.718" height="6.718"/>
                    <rect x="317.391" y="7.975" transform="matrix(0.7071 -0.7071 0.7071 0.7071 85.9312 230.1241)" fill="#B6925D" width="6.718" height="6.718"/>
                    <rect x="173.823" y="14.739" transform="matrix(0.7071 -0.7071 0.7071 0.7071 39.0005 130.8225)" fill="#B6925D" width="7.188" height="7.188"/>
                      
                    <g stroke="#B6925D" stroke-width="0.6" fill="none">
                      <path d="M177.417,28.874l-10.54-10.539l10.54-10.54l10.539,10.54L177.417,28.874z M168.292,18.334l9.125,9.125
                        l9.125-9.125l-9.125-9.126L168.292,18.334z"/>
                    </g>

                      <g stroke="#B6925D" stroke-width="0.6" fill="none">
                    <path d="M38.25,11.834l0.5-0.5l-0.5-0.5H316.5l-0.5,0.5l0.5,0.5H38.25z M187.457,18.833l-10.04,10.04l-10.041-10.04
                      H63.062l2.752-3.54l-2.163-3.708l0.864-0.504l2.502,4.292l-1.913,2.459h102.272l10.039-10.039l10.038,10.039h102.293l-2.161-2.527
                      l2.462-4.224l0.863,0.504l-2.104,3.61l3.11,3.638H187.457z M186.542,18.334l-9.125-9.126l-9.125,9.126l9.125,9.125L186.542,18.334z"
                      />
                      </g>
              </svg>
            </div>

            <br>
            
            <p>
              Pour tout renseignement, demande de devis ou tout simplement pour prendre un rendez-vous, n’hésitez pas à nous contacter via le formulaire ci-dessous ou via notre adresse mail, nous vous répondrons au plus vite !
            </p>
            <br>  
            <p>
              <font color="#B6925D"> Email </font> <br>
              julie@sayhype-studio.fr<br><br>
              <font color="#B6925D">Adresse </font><br>
              30 rue de la Vieille Tour<br>
              33000 Bordeaux <br><br>
              <font color="#B6925D">Téléphone </font> <br>
              +33 (0)6 70 30 18 02<br>
              
            </p>
            <br>
    
    </div>

        
        <div class="row formulaire_contact">

              <div class="col-xs-12 col-md-6"> 
                    <div class="input-group">
                    <input type="text" class="form-control" placeholder="Nom" aria-describedby="basic-addon1" name="Nom">
                    </div> 
              </div>


              <div class="col-xs-12 col-md-6">  
                    <div class="input-group">
                    <input type="text" class="form-control" placeholder="Prénom" aria-describedby="basic-addon1" name="Prénom">
                    </div>
              </div>

        </div> 

        <div class="row formulaire_contact">

              <div class="col-xs-12 col-md-6"> 
                    <div class="input-group">
                    <input type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon1" name="Email">
                    </div> 
              </div>


              <div class="col-xs-12 col-md-6">  
                    <div class="input-group">
                    <input type="text" class="form-control" placeholder="Téléphone" aria-describedby="basic-addon1" name="Téléphone">
                    </div>
              </div>

        </div>      

        <div class="row formulaire_contact">

              <div class="col-xs-12 col-md-12"> 
                    <div class="input-group">
                    <input type="text" class="form-control" placeholder="Message" aria-describedby="basic-addon1" name="Message">
                    </div> 
              </div>

                    <input type="submit" class="form-control button envoyer text-center" value="Soumettre" aria-describedby="basic-addon1">
        </div>   
        <br>
      
    </div> 
  

      <div  id="div_map">
        <div class="row">
            <div class="col-xs-12 col-md-12"> 
                <div id="map" style="width: 100%; height: 400px;"></div>
            </div>    
        </div> 
      </div>
       </div> 
</div> 

      <div class="vertical_spacer">
                                <br> </br>
      </div> 

                            <div class="signature text-center">
                                    <p>
                                     <i> - Say Hype, Studio de Communication Globale - 30 rue de la Vieille Tour, Bordeaux, France - </i>
                                    </p>

                            </div>

 
 


<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<script type="text/javascript">
  var myLatlng = new google.maps.LatLng(44.8407700,-0.5796600);

  var myOptions = {
      zoom: 15,
      center: myLatlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      styles: [{"featureType":"administrative.province","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"administrative.locality","elementType":"labels.text","stylers":[{"lightness":"-50"},{"visibility":"simplified"}]},{"featureType":"landscape","elementType":"all","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"landscape","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"saturation":"0"},{"hue":"#ff0000"}]},{"featureType":"landscape","elementType":"labels.icon","stylers":[{"visibility":"simplified"}]},{"featureType":"poi","elementType":"all","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"off"}]},{"featureType":"poi.government","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"poi.medical","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":"-100"},{"lightness":"0"}]},{"featureType":"road","elementType":"labels.text","stylers":[{"lightness":"0"}]},{"featureType":"road","elementType":"labels.icon","stylers":[{"lightness":"50"}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#95969a"}]},{"featureType":"road.highway","elementType":"labels","stylers":[{"lightness":"0"}]},{"featureType":"road.highway","elementType":"labels.icon","stylers":[{"visibility":"on"},{"lightness":"0"}]},{"featureType":"road.highway.controlled_access","elementType":"geometry.fill","stylers":[{"color":"#3c3c31"}]},{"featureType":"road.highway.controlled_access","elementType":"labels","stylers":[{"lightness":"0"}]},{"featureType":"road.highway.controlled_access","elementType":"labels.icon","stylers":[{"lightness":"-10"},{"saturation":"0"}]},{"featureType":"road.local","elementType":"all","stylers":[{"visibility":"on"},{"lightness":"41"},{"saturation":"0"}]},{"featureType":"transit","elementType":"all","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"transit.line","elementType":"geometry.fill","stylers":[{"lightness":"0"}]},{"featureType":"transit.station.bus","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#dce6e6"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"labels.text","stylers":[{"lightness":"50"}]}]
  };

  var map = new google.maps.Map(document.getElementById('map'), myOptions);
  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: "You are here!"
  });
</script>

<script>
    window.sr = new scrollReveal();

</script>