---
title: Contact
---
<div id="presentation_contact">



  <div id="contact">

    <div id="description_contact">

            <br>
            <h1 class="slideInDown text-center"> Contact </h1>
            <div class="fise_soustitre text-center">
              <svg version="1.1" id="frise_soustitre" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   width="347.333px" height="32.333px" viewBox="0 0 347.333 32.333" enable-background="new 0 0 347.333 32.333"
                   xml:space="preserve">
                    <rect x="30.641" y="7.975" transform="matrix(0.7071 -0.7071 0.7071 0.7071 1.944 27.3613)" fill="#B6925D" width="6.718" height="6.718"/>
                    <rect x="317.391" y="7.975" transform="matrix(0.7071 -0.7071 0.7071 0.7071 85.9312 230.1241)" fill="#B6925D" width="6.718" height="6.718"/>
                    <rect x="173.823" y="14.739" transform="matrix(0.7071 -0.7071 0.7071 0.7071 39.0005 130.8225)" fill="#B6925D" width="7.188" height="7.188"/>
                      
                    <g stroke="#B6925D" stroke-width="0.6" fill="none">
                      <path d="M177.417,28.874l-10.54-10.539l10.54-10.54l10.539,10.54L177.417,28.874z M168.292,18.334l9.125,9.125
                        l9.125-9.125l-9.125-9.126L168.292,18.334z"/>
                    </g>

                      <g stroke="#B6925D" stroke-width="0.6" fill="none">
                    <path d="M38.25,11.834l0.5-0.5l-0.5-0.5H316.5l-0.5,0.5l0.5,0.5H38.25z M187.457,18.833l-10.04,10.04l-10.041-10.04
                      H63.062l2.752-3.54l-2.163-3.708l0.864-0.504l2.502,4.292l-1.913,2.459h102.272l10.039-10.039l10.038,10.039h102.293l-2.161-2.527
                      l2.462-4.224l0.863,0.504l-2.104,3.61l3.11,3.638H187.457z M186.542,18.334l-9.125-9.126l-9.125,9.126l9.125,9.125L186.542,18.334z"
                      />
                      </g>
              </svg>
            </div>

            <br>
            
            <p>
              Pour tout renseignement, demande de devis ou tout simplement pour prendre un rendez-vous, n’hésitez pas à nous contacter via le formulaire ci-dessous ou via notre adresse mail, nous vous répondrons au plus vite !
            </p>
            <br>  
            <p>
              <font color="#B6925D"> Email </font> <br>
              julie@sayhype-studio.fr<br><br>
              <font color="#B6925D">Adresse </font><br>
              30 rue de la Vieille Tour<br>
              33000 Bordeaux <br><br>
              <font color="#B6925D">Téléphone </font> <br>
              +33 (0)6 70 30 18 02<br>
              
            </p>
            <br>
    
    </div>

        
        <div class="row formulaire_contact">

              <div class="col-xs-12 col-md-6"> 
                    <div class="input-group">
                    <input type="text" class="form-control" placeholder="Nom" aria-describedby="basic-addon1" name="Nom">
                    </div> 
              </div>


              <div class="col-xs-12 col-md-6">  
                    <div class="input-group">
                    <input type="text" class="form-control" placeholder="Prénom" aria-describedby="basic-addon1" name="Prénom">
                    </div>
              </div>

        </div> 

        <div class="row formulaire_contact">

              <div class="col-xs-12 col-md-6"> 
                    <div class="input-group">
                    <input type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon1" name="Email">
                    </div> 
              </div>


              <div class="col-xs-12 col-md-6">  
                    <div class="input-group">
                    <input type="text" class="form-control" placeholder="Téléphone" aria-describedby="basic-addon1" name="Téléphone">
                    </div>
              </div>

        </div>      

        <div class="row formulaire_contact">

              <div class="col-xs-12 col-md-12"> 
                    <div class="input-group">
                    <input type="text" class="form-control" placeholder="Message" aria-describedby="basic-addon1" name="Message">
                    </div> 
              </div>

                    <input type="submit" class="form-control button envoyer text-center" value="Soumettre" aria-describedby="basic-addon1">
        </div>   
        <br>
      
    </div> 
  

      <div  id="div_map">
        <div class="row">
            <div class="col-xs-12 col-md-12"> 
                <div id="map" style="width: 100%; height: 400px;"></div>
            </div>    
        </div> 
      </div>
       </div> 
</div> 

      <div class="vertical_spacer">
                                <br> </br>
      </div> 

                            <div class="signature text-center">
                                    <p>
                                  <i>
                                  <svg version="1.1" class="goutte_gauche" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        width="20px" height="14px" viewBox="0 0 595.279 841.891" enable-background="new 0 0 595.279 841.891"
                                        xml:space="preserve">
                                        <path d="M499.238,433.077c0,108.204-87.773,195.931-195.948,195.931c-108.198,0-195.919-87.727-195.919-195.931
                                        c0-108.24,130.045-215.331,195.919-380.218C374.343,209.906,499.238,324.837,499.238,433.077z"/>
                                        </svg>
                                        Say Hype, Studio de Communication Globale - 30 rue de la Vieille Tour, Bordeaux, France - <a href="" data-toggle="modal" data-target="#mentions_legales">Mentions Légales</a>
                                        <svg version="1.1" class="goutte_droite" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        width="20px" height="14px" viewBox="0 0 595.279 841.891" enable-background="new 0 0 595.279 841.891"
                                        xml:space="preserve">
                                        <path d="M499.238,433.077c0,108.204-87.773,195.931-195.948,195.931c-108.198,0-195.919-87.727-195.919-195.931
                                        c0-108.24,130.045-215.331,195.919-380.218C374.343,209.906,499.238,324.837,499.238,433.077z"/>
                                  </svg>
                                  </i>
                                </p>

                            </div>

 
 

<!-- Modal -->
<div class="modal fade" id="mentions_legales" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title text-center" id="myModalLabel"><u>Mentions Légales</u></h2>
      </div>
        <div class="modal-body">

            <h3 class="text-center"><u>Editeur</u></h3>
            <p>
              SAY HYPE-STUDIO<br>
              30, rue de la Vieille Tour<br>
          33000 Bordeaux<br>
          <br>

          N°Siret : 807 572 540 00019<br>
          N° APE : 7410 Z<br>
          <br>

          Directrice: Julie Duverger<br>
          julie@sayhype-studio.fr<br><br>
        </p>

        <h3 class="text-center"><u>Hébergement</u></h3>
        <p>
          1&1 SARL<br>
          7, place de la Gare<br>
          BP 70109<br>
          57201 Sarreguemines Cedex <br>

          https://www.1and1.fr/
            </p>
            <br>

            <h3 class="text-center"><u>Propriété Intellectuelle</u></h3>
            <p>
              La structure générale, ainsi que les logiciels, textes, images animées ou fixes, sons, savoir-faire, dessins, graphismes et tous autres éléments composant ce site web sont de l'utilisation exclusive du studio Say Hype. Toute représentation totale ou partielle de ce site, par quelques procédés que ce soient, sans autorisation expresse du studio, est interdite et constituerait une contrefaçon sanctionnée par les articles L335-2 et suivants du Code de la propriété intellectuelle. 
            </p>
            <br>

           <h3 class="text-center"><u>Loi relative à l'informatique, aux fichiers et aux libertés</u></h3>
           <p>
            Conformément à la loi n° 2004-801 du 6 août 2004 relative à la protection des personnes physiques à l’égard des traitements de données à caractère personnel et modifiant la loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, vous disposez d’un droit d’accès, de modification, de rectification et de suppression des données vous concernant. Il vous suffit d’écrire à l'adresse suivante : julie@sayhype-studio.fr.<br>

        L’utilisateur est notamment informé que, conformément à l’article 27 de la Loi Informatique, fichiers et libertés du 6 janvier 1978, les informations communiquées par l’utilisateur via les formulaires présents sur le site, sont nécessaires pour répondre à sa demande et sont destinés à l’exploitant du site Web, responsable du traitement, à des fins de gestion administrative et commerciale. L’utilisateur est également informé qu’il dispose d’un droit d’accès et de rectification portant sur les données le concernant en écrivant à l’exploitant du site Web dont l’adresse est la suivante : Say Hype-Studio, 30 rue de la Vieille Tour, 33000 Bordeaux.
           </p>

           <h3 class="text-center"><u>Loi Applicable</u></h3>
           <p>
            L'utilisation de ce site web est régi par la loi française. Tout litige sera de la compétence exclusive des Tribunaux de Bordeaux, sauf indication contraire affichée sur le site.
           </p>
        </div>
    </div>
  </div>
</div>


<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<script type="text/javascript">
  var myLatlng = new google.maps.LatLng(44.8407700,-0.5796600);

  var myOptions = {
      zoom: 15,
      center: myLatlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      styles: [{"featureType":"administrative.province","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"administrative.locality","elementType":"labels.text","stylers":[{"lightness":"-50"},{"visibility":"simplified"}]},{"featureType":"landscape","elementType":"all","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"landscape","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"saturation":"0"},{"hue":"#ff0000"}]},{"featureType":"landscape","elementType":"labels.icon","stylers":[{"visibility":"simplified"}]},{"featureType":"poi","elementType":"all","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"off"}]},{"featureType":"poi.government","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"poi.medical","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":"-100"},{"lightness":"0"}]},{"featureType":"road","elementType":"labels.text","stylers":[{"lightness":"0"}]},{"featureType":"road","elementType":"labels.icon","stylers":[{"lightness":"50"}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#95969a"}]},{"featureType":"road.highway","elementType":"labels","stylers":[{"lightness":"0"}]},{"featureType":"road.highway","elementType":"labels.icon","stylers":[{"visibility":"on"},{"lightness":"0"}]},{"featureType":"road.highway.controlled_access","elementType":"geometry.fill","stylers":[{"color":"#3c3c31"}]},{"featureType":"road.highway.controlled_access","elementType":"labels","stylers":[{"lightness":"0"}]},{"featureType":"road.highway.controlled_access","elementType":"labels.icon","stylers":[{"lightness":"-10"},{"saturation":"0"}]},{"featureType":"road.local","elementType":"all","stylers":[{"visibility":"on"},{"lightness":"41"},{"saturation":"0"}]},{"featureType":"transit","elementType":"all","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"transit.line","elementType":"geometry.fill","stylers":[{"lightness":"0"}]},{"featureType":"transit.station.bus","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#dce6e6"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"labels.text","stylers":[{"lightness":"50"}]}]
  };

  var map = new google.maps.Map(document.getElementById('map'), myOptions);
  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: "You are here!"
  });
</script>

<script>
    window.sr = new scrollReveal();

</script>