---
title: Contact
---
<div id="presentation_contact">

    <div  id="tittle_contact" class="text-center">
      <h1>Contact</h1>
      <%= image_tag"barre.svg" %> 
    </div>

   <div id="vertical_spacer3">
  
    </div>

  <div id="contact">

    <div id="description_contact">
   
            <p>
              Pour tout renseignement, demande de devis ou tout simplement pour prendre un rendez-vous, n’hésitez pas à nous contacter via nos adresses mails ci-dessous, nous vous répondrons au plus vite !
            </p>
            <br>  
            <p>
              <font color="#D2B0B0"> Email </font> <br>
              <a href="mailto:julie@sayhype-studio.fr">julie@sayhype-studio.fr</a><br>
              <a href="mailto:francois-xavier@sayhype-studio.fr">francois-xavier@sayhype-studio.fr</a><br><br>
              <font color="#D2B0B0">Adresse </font><br>
              30 rue de la Vieille Tour<br>
              33000 Bordeaux <br><br>
              <font color="#D2B0B0">Téléphone </font> <br>
              +33 (0)6 70 30 18 02<br><br>

              
            </p>
            <br>
    
    </div>

  <div id="separator"></div>

  <p>Rejoignez-nous sur les réseaux sociaux</p>

  <div id="vertical_spacer5"></div>
  
   <ul id="social_media" class="list-inline social text-center animsition">
                        <li>
                          <a target="_blank" href="https://instagram.com/sayhype_studio/">
                            <i class="fa fa-instagram"></i>
                          </a>
                        </li>

                        <li>
                          <a target="_blank" href="https://www.facebook.com/sayhypestudio/?fref=ts">
                            <i class="fa fa-facebook"></i>
                          </a>
                        </li>

                        <li>
                          <a target="_blank" href="https://fr.linkedin.com/in/julie-duverger-239898a4">
                            <i class="fa fa-linkedin"></i>
                          </a>
                        </li>



                        <li>
                          <a target="_blank" href="https://www.behance.net/julieduverger">
                            <i class="fa fa-behance"></i>
                          </a>
                        </li>
    </ul> 

    <div id="separator2"></div>
        
     

       
        
      
    </div> 

    <div id="vertical_spacer3">
  
    </div>
  

      <div  id="div_map">
        <div class="row">
            <div class="col-xs-12 col-md-12"> 
                <div id="map" style="width: 100%; height: 400px;"></div>
            </div>    
        </div> 
      </div>
       </div> 
</div> 

      <div class="vertical_spacer">
                                <br> </br>
      </div> 

                            <div class="signature text-center">
                                    <p>
                                  <i>
                                  <svg version="1.1" class="goutte_gauche" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        width="20px" height="14px" viewBox="0 0 595.279 841.891" enable-background="new 0 0 595.279 841.891"
                                        xml:space="preserve">
                                        <path d="M499.238,433.077c0,108.204-87.773,195.931-195.948,195.931c-108.198,0-195.919-87.727-195.919-195.931
                                        c0-108.24,130.045-215.331,195.919-380.218C374.343,209.906,499.238,324.837,499.238,433.077z"/>
                                        </svg>
                                        Say Hype, Studio de Communication Globale - 30 rue de la Vieille Tour, Bordeaux, France - <a href="" data-toggle="modal" data-target="#mentions_legales">Mentions Légales</a>
                                        <svg version="1.1" class="goutte_droite" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        width="20px" height="14px" viewBox="0 0 595.279 841.891" enable-background="new 0 0 595.279 841.891"
                                        xml:space="preserve">
                                        <path d="M499.238,433.077c0,108.204-87.773,195.931-195.948,195.931c-108.198,0-195.919-87.727-195.919-195.931
                                        c0-108.24,130.045-215.331,195.919-380.218C374.343,209.906,499.238,324.837,499.238,433.077z"/>
                                  </svg>
                                  </i>
                                </p>

                            </div>

 
 

<!-- Modal -->
<div class="modal fade" id="mentions_legales" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title text-center" id="myModalLabel">Mentions Légales</h2>
      </div>
        <div class="modal-body">

            <h3 class="text-center">Editeur</h3>
            <p>
              SAY HYPE-STUDIO<br>
              30, rue de la Vieille Tour<br>
          33000 Bordeaux<br>
          <br>

          N°Siret : 807 572 540 00019<br>
          N° APE : 7410 Z<br>
          <br>

          Directrice: Julie Duverger<br>
          julie@sayhype-studio.fr<br><br>
        </p>

        <h3 class="text-center">Hébergement</h3>
        <p>
          1&1 SARL<br>
          7, place de la Gare<br>
          BP 70109<br>
          57201 Sarreguemines Cedex <br>

          https://www.1and1.fr/
            </p>
            <br>

            <h3 class="text-center">Propriété Intellectuelle</h3>
            <p>
              La structure générale, ainsi que les logiciels, textes, images animées ou fixes, sons, savoir-faire, dessins, graphismes et tous autres éléments composant ce site web sont de l'utilisation exclusive du studio Say Hype. Toute représentation totale ou partielle de ce site, par quelques procédés que ce soient, sans autorisation expresse du studio, est interdite et constituerait une contrefaçon sanctionnée par les articles L335-2 et suivants du Code de la propriété intellectuelle. 
            </p>
            <br>

            <h3 class="text-center">Crédits Photos</h3>
            <p>
              Photos Bordeaux Beer Factory réalisées par Atelier Bulk - Florent Larronde.             </p>
            <br>

           <h3 class="text-center">Loi relative à l'informatique, aux fichiers et aux libertés</h3>
           <p>
            Conformément à la loi n° 2004-801 du 6 août 2004 relative à la protection des personnes physiques à l’égard des traitements de données à caractère personnel et modifiant la loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, vous disposez d’un droit d’accès, de modification, de rectification et de suppression des données vous concernant. Il vous suffit d’écrire à l'adresse suivante : julie@sayhype-studio.fr.<br>

        L’utilisateur est notamment informé que, conformément à l’article 27 de la Loi Informatique, fichiers et libertés du 6 janvier 1978, les informations communiquées par l’utilisateur via les formulaires présents sur le site, sont nécessaires pour répondre à sa demande et sont destinés à l’exploitant du site Web, responsable du traitement, à des fins de gestion administrative et commerciale. L’utilisateur est également informé qu’il dispose d’un droit d’accès et de rectification portant sur les données le concernant en écrivant à l’exploitant du site Web dont l’adresse est la suivante : Say Hype-Studio, 30 rue de la Vieille Tour, 33000 Bordeaux.
           </p>

           <h3 class="text-center">Loi Applicable</h3>
           <p>
            L'utilisation de ce site web est régi par la loi française. Tout litige sera de la compétence exclusive des Tribunaux de Bordeaux, sauf indication contraire affichée sur le site.
           </p>
        </div>
    </div>
  </div>
</div>


<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<script type="text/javascript">
  var myLatlng = new google.maps.LatLng(44.8407700,-0.5796600);

  var myOptions = {
      zoom: 15,
      center: myLatlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      styles: [{"featureType":"administrative.province","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"administrative.locality","elementType":"labels.text","stylers":[{"lightness":"-50"},{"visibility":"simplified"}]},{"featureType":"landscape","elementType":"all","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"landscape","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"saturation":"0"},{"hue":"#ff0000"}]},{"featureType":"landscape","elementType":"labels.icon","stylers":[{"visibility":"simplified"}]},{"featureType":"poi","elementType":"all","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"off"}]},{"featureType":"poi.government","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"poi.medical","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":"-100"},{"lightness":"0"}]},{"featureType":"road","elementType":"labels.text","stylers":[{"lightness":"0"}]},{"featureType":"road","elementType":"labels.icon","stylers":[{"lightness":"50"}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#95969a"}]},{"featureType":"road.highway","elementType":"labels","stylers":[{"lightness":"0"}]},{"featureType":"road.highway","elementType":"labels.icon","stylers":[{"visibility":"on"},{"lightness":"0"}]},{"featureType":"road.highway.controlled_access","elementType":"geometry.fill","stylers":[{"color":"#3c3c31"}]},{"featureType":"road.highway.controlled_access","elementType":"labels","stylers":[{"lightness":"0"}]},{"featureType":"road.highway.controlled_access","elementType":"labels.icon","stylers":[{"lightness":"-10"},{"saturation":"0"}]},{"featureType":"road.local","elementType":"all","stylers":[{"visibility":"on"},{"lightness":"41"},{"saturation":"0"}]},{"featureType":"transit","elementType":"all","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"transit.line","elementType":"geometry.fill","stylers":[{"lightness":"0"}]},{"featureType":"transit.station.bus","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#dce6e6"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"labels.text","stylers":[{"lightness":"50"}]}]
  };

  var map = new google.maps.Map(document.getElementById('map'), myOptions);
  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: "You are here!"
  });
</script>

<script>
    window.sr = new scrollReveal();

</script>
<script>
jQuery(document).ready(function(){
                                                  $("#nav").show().animate({left: '0px'}, 1000, "easeInOutQuad")
                                                $("#wrapper-anim").show().animate({"left": '0px'}, 1150, "easeInOutQuad")
  });
</script>