---
title: Accueil
---
 <div id="page_accueil" class="main">
      <div id="section">
       
      </div> 
</div> 



 <div id="accueil-droite"> 
 </div>

        	<div class="row" id="row_presentation_accueil">
        		<div id="accueil_animation">

					            <div class="col-xs-12 col-md-6  "id="presentation_accueil_gauche">

					              	<img src="images/33prest_realisation.jpg" id="img5" class="slideInUp">

									<img src="images/cotebassin_realisation.jpg" id="img4">

									<img src="images/soa_realisation.jpg" id="img3">

									<img src="images/mindful_realisation.jpg" id="img2">

									<img src="images/karodart_realisation.jpg" id="img1">             
					            </div>

					            <div class="col-xs-12 col-md-6" id="presentation_accueil_droite" >
					              	
					              	<img src="images/33prest_realisation.jpg" id="img10" class="slideInDown">

									<img src="images/cotebassin_realisation.jpg" id="img9">

									<img src="images/soa_realisation.jpg" id="img8">

									<img src="images/mindful_realisation.jpg" id="img7">

									<img src="images/karodart_realisation.jpg" id="img6">     
					            </div>
		        </div>
		    </div>






<script>
    window.sr = new scrollReveal();

</script>