---
title: Say Hype - Studio
---

<div id="fond" class="text-center">

<svg id="svg1" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <defs>
        <mask id="maskid25" maskUnits="userSpaceOnUse"> 
            <path fill="white" d="M849.909,14.624l-623.21,622.472l-2.65,2.649v62.827L436.361,915.07l618.113-617.39l2.649-2.646l0.026-72.985
    L849.909,14.624z M1575.584,141.506l-623.21,622.473l-2.65,2.648v62.828l212.312,212.496l618.112-617.391l2.65-2.646l0.026-72.985
    L1575.584,141.506z"/>
        </mask>
    </defs>
</svg>

<svg id="svg2" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <defs>
        <mask id="maskid19" maskUnits="userSpaceOnUse"> 
            <path fill="white" d="M542.739,14.624L9.917,546.814l-2.266,2.266v53.715l181.521,181.678l528.464-527.846l2.266-2.263l0.022-62.399
    L542.739,14.624z M1163.165,123.104L630.343,655.295l-2.268,2.264v53.718l181.521,181.677l528.463-527.848l2.266-2.262l0.023-62.399
    L1163.165,123.104z"/>
        </mask>
    </defs>
</svg>

<svg version="1.1" xmlns="http://www.w3.org/2000/svg">
    <defs>
        <mask id="maskid16" maskUnits="userSpaceOnUse"> 
            <path fill="white" d="M539.53,10.105L89.067,487.437l-1.916,2.032v48.178l153.462,162.95l446.777-473.436l1.915-2.029l0.02-55.968L539.53,10.105z
     M1064.054,107.403L613.592,584.736l-1.916,2.029v48.18l153.462,162.949l446.775-473.437l1.915-2.028l0.021-55.967L1064.054,107.403
    z"/>
        </mask>
    </defs>
</svg>

<svg version="1.1" xmlns="http://www.w3.org/2000/svg">
    <defs>
        <mask id="maskid12" maskUnits="userSpaceOnUse"> 
            <path fill="white" d="M465.653,5.432L88.754,404.811l-1.603,1.7v40.312l128.4,136.339l373.815-396.12l1.603-1.698l0.018-46.828L465.653,5.432z
     M904.517,86.84L527.62,486.221l-1.604,1.697v40.312l128.4,136.338l373.812-396.119l1.604-1.698l0.018-46.827L904.517,86.84z"/>
        </mask>
    </defs>
</svg>

<svg version="1.1" xmlns="http://www.w3.org/2000/svg">
    <defs>
        <mask id="maskid10" maskUnits="userSpaceOnUse"> 
            <path fill="white" d="M509.873,12.893L145.422,393.278l-1.55,1.62v38.393l124.16,129.854l361.47-377.28l1.549-1.617l0.016-44.601L509.873,12.893z
     M934.244,90.431L569.793,470.817l-1.55,1.618v38.393l124.161,129.855l361.469-377.282l1.55-1.617l0.016-44.6L934.244,90.431z"/>
        </mask>
    </defs>
</svg>

<svg version="1.1" xmlns="http://www.w3.org/2000/svg">
    <defs>
        <mask id="maskid7" maskUnits="userSpaceOnUse"> 
            <path fill="white" d="M772.276,274.625L600.251,454.173l-0.731,0.764v18.123l58.605,61.293l170.619-178.082l0.731-0.764l0.008-21.052
    L772.276,274.625z M972.585,311.225L800.56,490.771l-0.731,0.764v18.122l58.605,61.293l170.619-178.082l0.73-0.763l0.008-21.052
    L972.585,311.225z"/>
        </mask>
    </defs>
</svg>

<svg version="1.1" xmlns="http://www.w3.org/2000/svg">
      <defs>
          <mask id="maskid7-2" maskUnits="userSpaceOnUse"> 
              <path fill="white" d="M334.1,65.624L17.854,395.695l-1.345,1.406v33.313l107.737,112.679l313.658-327.377l1.344-1.403l0.016-38.702L334.1,65.624z
   M624.324,132.906L308.08,462.979l-1.345,1.403v33.315l107.738,112.679l313.658-327.378l1.347-1.403l0.013-38.701L624.324,132.906z"/>
          </mask>
      </defs>
</svg>

  <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
      <defs>
          <mask id="maskidm" maskUnits="userSpaceOnUse"> 
              <path fill="white" d="M416.45,143.506L203.374,365.898l-0.906,0.947v22.446l72.59,75.919l211.333-220.577l0.905-0.945l0.011-26.076
  L416.45,143.506z"/>
          </mask>
      </defs>
  </svg>


    <img id ="image1"  src="" alt="">
    <img id ="image2" src="" alt="">
    <div id="image3">
    <img src="../images/intro_bbf1.jpg" alt="photo Bordeaux Beer Factory">
    </div>
    <div id="image4">
    <img  src="../images/intro_bbf2.jpg" alt="photo Bordeaux Beer Factory">
    </div>
    <div id="image5">
    <img  src="../images/cotebassin2_intro.jpg" alt="photo Coté Bassin">
    </div>
</div>



<div id="accueil_encart1">
    <div class="encart_accueil text-center">
        <div id="text-accueil">
        <h1> STUDIO DE COMMUNICATION GLOBALE </h1>
        </div>

    </div>
</div>

<div id="accueil_encart2">
        <h2 id="h_2">Cliquez pour entrer</h2>
        <div id="enter_site"></div>
        <div id="enter_site2"></div>
</div>

<div id="sound-bottom">
    <img src="../images/egaliseur.gif" alt="egaliseur Say Hype-Studio">
</div>
<div id="sound-bottom-off">
    <img src="../images/egaliseur-off.png" alt="egaliseur Say Hype-Studio">
</div>

<audio id="audio" controls="controls"
autoplay="autopplay" loop="loop" preload="none">
  <source src="../images/ballast-projetsynesthesique-experience1.mp3" type="audio/mp3" />

</audio>




<script>
$(window).load(function(){
$(document.body).css({"margin-left":"1%", "overflow":"hidden"});    
$("html").css({"background-color":"#FBF4F3"});
$(".site-content").css({"height":"96vh","background-color":"#24272C"});
$("#accueil_encart2").hide();
$("#h_2").hide();
$("#nav").hide();
$(".encart_accueil").hide();
$("#image4").hide();
$("#image3").hide();
$("#sound-bottom-off").hide();

$("#sound-bottom").click(function() {
$("audio").trigger("pause"),
$("#sound-bottom-off").show();
$("#sound-bottom").hide();
});
$("#sound-bottom-off").click(function() {
$("audio").trigger("play"),
$("#sound-bottom-off").hide();
$("#sound-bottom").show();
});


if ($(window).width() < 739) {
    $("#image5").css({"mask":"url(#maskidm)"}).addClass("intro-m").delay(1500).delay(5000).fadeOut(1000);
    $(".site-content").css({"height":"98vh","background-color":"#24272C"});}
else if ($(window).width() > 740 && $(window).width() < 1022) {
    $("#image5").css({"mask":"url(#maskid7-2)"}).addClass("intro7-2").delay(1500).delay(5000).fadeOut(1000);
    $(".site-content").css({"height":"98vh","background-color":"#24272C"});}
else if ($(window).width() > 1010 && $(window).width() < 1249) {
    $("#image5").css({"mask":"url(#maskid10)"}).addClass("intro10").delay(1500).delay(5000).fadeOut(1000);}
else if ($(window).width() > 1250 && $(window).width() < 1419) {
    $("#image5").css({"mask":"url(#maskid12)"}).addClass("intro12").delay(1500).delay(5000).fadeOut(1000);}
else if ($(window).width() > 1420 && $(window).width() < 1879) {
    $("#image5").css({"mask":"url(#maskid16)"}).addClass("intro16").delay(1500).delay(5000).fadeOut(1000);}
else if ($(window).width() > 1880 && $(window).width() < 2000) {
    $("#image5").css({"mask":"url(#maskid19)"}).addClass("intro19").delay(1500).delay(5000).fadeOut(1000);}
else{$("#image5").css({"mask":"url(#maskid25)"}).addClass("intro25").delay(1500).delay(5000).fadeOut(1000);}
$("#image5 img").delay(1500).css({"transition-delay":"1.5s","transform":"scale(0.8)","-webkit-transform":"scale(0.8)", "-moz-transform":"scale(0.8)"}).delay(5000).fadeOut(1000);

    $("#image5").queue(function(){
        if ($(window).width() < 739) {
            $("#image4").fadeIn(1500).css({"mask":"url(#maskidm)"}).addClass("intro-m");}
        else if ($(window).width() > 740 && $(window).width() < 1022) {
            $("#image4").fadeIn(1500).css({"mask":"url(#maskid7-2)"}).addClass("intro7-2").delay(2500).fadeOut(250);}
        else if ($(window).width() > 1010 && $(window).width() < 1249) {
            $("#image4").fadeIn(1500).css({"mask":"url(#maskid10)"}).addClass("intro10").delay(2500).fadeOut(250);}
        else if ($(window).width() > 1250 && $(window).width() < 1419) {
            $("#image4").fadeIn(1500).css({"mask":"url(#maskid12)"}).addClass("intro12").delay(2500).fadeOut(250);}
        else if ($(window).width() > 1420 && $(window).width() < 1879) {
            $("#image4").fadeIn(1500).css({"mask":"url(#maskid16)"}).addClass("intro16").delay(2500).fadeOut(250);}
        else if ($(window).width() > 1880 && $(window).width() < 2000) {
            $("#image4").fadeIn(1500).css({"mask":"url(#maskid19)"}).addClass("intro19").delay(2500).fadeOut(250);}
        else{$("#image4").fadeIn(1500).css({"mask":"url(#maskid25)"}).addClass("intro25").delay(2500).fadeOut(250);}
        $("#image4 img").delay(500).css({"transition-delay":"-.2s","transform-origin":"center", "-moz-transform-origin":"center","transform":"scale(1)","-webkit-transform":"scale(1)", "-moz-transform":"scale(1)"}).delay(3500);

        $("#image4").queue(function(){
            if ($(window).width() < 739) {
                $("#image3").hide();}
            else if ($(window).width() > 740 && $(window).width() < 1022) {
                $("#image3").css({"mask":"url(#maskid7-2)"}).addClass("intro7-2").fadeIn(500).delay(3500);}
            else if ($(window).width() > 1010 && $(window).width() < 1249) {
                $("#image3").css({"mask":"url(#maskid10)"}).addClass("intro10").fadeIn(500).delay(3500);}
            else if ($(window).width() > 1250 && $(window).width() < 1419) {
                $("#image3").css({"mask":"url(#maskid12)"}).addClass("intro12").fadeIn(500).delay(3500);}
            else if ($(window).width() > 1420 && $(window).width() < 1879) {
                $("#image3").css({"mask":"url(#maskid16)"}).addClass("intro16").fadeIn(500).delay(3500);}
            else if ($(window).width() > 1880 && $(window).width() < 2000) {
            $("#image3").css({"mask":"url(#maskid19)"}).addClass("intro19").fadeIn(500).delay(3500);}
                else{$("#image3").css({"mask":"url(#maskid25)"}).addClass("intro25").fadeIn(500).delay(3500);}
            $("#image3 img").delay(500).css({"transition-delay":"-.2s","transform-origin":"center", "-moz-transform-origin":"center","transform":"scale(1)","-webkit-transform":"scale(1)", "-moz-transform":"scale(1)"}).delay(3500);
            $("#accueil_encart2").slideDown(700);
                $("#accueil_encart2").queue(function(){
                    $("#enter_site2").animate({"height":"0%"}, 400, "easeInOutQuad");
                    $("#enter_site").delay(100).animate({"height":"0%"}, 400, "easeInOutQuad");
                        $("#enter_site2").queue(function(){
                            $("#h_2").show().typewriter(null,function(){
                                $("#fond").click(function() {window.location.href = 'realisation.html'});

                    });
                            

                    })
                    })

                    })






})

if ($(window).width() < 739) {
$("#accueil_encart1").delay(2000).animate({"margin-left":"300px"}, 1000, "linear");}
else if ($(window).width() > 740 && $(window).width() < 1009) {
$("#accueil_encart1").delay(2000).animate({"margin-left":"550px"}, 1000, "linear");}
else if ($(window).width() > 1010 && $(window).width() < 1419) {
$("#accueil_encart1").delay(2000).animate({"margin-left":"660px"}, 1000, "linear");}
else if ($(window).width() > 1420 && $(window).width() < 1879) {
$("#accueil_encart1").delay(2000).animate({"margin-left":"800px"}, 1000, "linear");}
else if ($(window).width() > 1880 && $(window).width() < 2000) {
$("#accueil_encart1").delay(2000).animate({"margin-left":"900px"}, 1000, "linear");}
else {$("#accueil_encart1").delay(2000).animate({"margin-left":"1000px"}, 1000, "linear");}
$("#accueil_encart1").queue(function(){ 
    $(".encart_accueil, #text-accueil").delay(2000).slideDown("1000"), $("#text-accueil h1").addClass("fadeInDown");
    });


});

$(document).ready(function(){
                
                //Check if browser is IE or not
                if (navigator.userAgent.search("MSIE") >= 0) {
                     window.location = 'navigateur.html';
                }
                //Check if browser is Opera or not
                else if (navigator.userAgent.search("Opera") >= 0) {
                    window.location = 'navigateur.html';
                }
            })
</script>

