---
title: Accueil
---
 <div id="page_accueil" class="main">
      <div id="section">
       
      </div> 
</div> 



 <div id="accueil-droite"> 
 </div>

    <div id="presentation_contact">
        <div class="row" id="row_presentation_accueil">
              <div class="col-xs-12 col-md-6 slideInDown image_blocgauche " id="presentation_accueil_gauche">
              
              </div>

              <div class="col-xs-12 col-md-6 slideInRight image_blocdroite" id="presentation_accueil_droite" >

              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                                         
                
          </div>
    </div>






<script>
    window.sr = new scrollReveal();

</script>