---
title: Les Jardins d'Eden
---

<html>
 <body>
     
	<div id="page_accueil">
     
     	<div id="section">
     	</div>
          
          
              
          <div id="couverture_img_jardineden">
                <div class="nav_projet">
                         <div class="row">
                                <div class="col-sm-3 text-left">
                                   <% link_to "/33prest.html", :class => "animsition-link" do %>
                                   <i>33 Prest</i>
                                   <% end %> 
                                </div>

                                <div class="col-sm-3">
                                   <i></i>
                                </div>

                                <div class="col-sm-3">
                                </div>

                                <div class="col-sm-3 text-right navprojetdroit">
                                   <% link_to "/mindful.html", :class => "animsition-link" do %>
                                   <i>Mindful Attitude</i>
                                   <% end %> 
                                </div>
                         </div>
               </div>
          </div>

          <div class="vertical_spacer">
          <br> </br>
          </div>
               

               <div class="presentation_projet text-center">
                    <br> </br>
                    <h2 class="slideInDown">LES JARDINS D'EDEN</h2>
                    <h3 class="slideInDown">Entrepreneur Paysagiste</h3>
                    <br> <%= image_tag "losange.png"%>
                    <br><br>
                    <h4 class="fadeInDown">DIRECTION ARTISTIQUE – REFONTE DE L’ IDENTITÉ VISUELLE DES JARDINS D’EDEN</h4>                    
                    <p class="fadeInDown">
                         Les Jardins d’Eden est un paysagiste spécialisé dans la création d’espaces paysagers sur le Bassin d’Arcachon et Bordeaux.
                         Il s’attèle à melanger les odeurs et les essences des plantes dans votre jardin de façon à créer une harmonie entre elles. Faire que les couleurs et formes des plantes soient en harmonie avec les éléments les entourant.
                    </p>
                    <br> </br>
               </div>

 <div class="frise_haut">
                  <svg version="1.1" id="frise_haut" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                               width="124.75px" height="9.75px" viewBox="0 0 124.75 9.75" enable-background="new 0 0 124.75 9.75" xml:space="preserve">
                                    <g stroke="#000" stroke-width="1" fill="none">
                                        <path fill="none" stroke="#1E1E1C" stroke-width="0.75" stroke-miterlimit="10" d="M2.971,7.734h83.862"/>
                                        <path fill="none" stroke="#1E1E1C" stroke-width="0.75" stroke-miterlimit="10" d="M2.969,2.625H123"/>
                                    <g/>  
                              </svg>   
                </div>


  <div class="container">
                                <div class="row">
                                        <div class="col-md-12 col-lg-6 text-center" id="projet_lesjardinsdeden_contenu1"> 
                                        
                                        </div> 


                                        <div class="col-md-12 col-lg-6 text-center appearIn" id="projet_lesjardinsdeden_contenu2">

                                       
                                        
                                       </div>  
                        </div> 

                         <div class="row">
                                <div class="col-md-12 col-lg-12" id="projet_lesjardinsdeden_contenu3" data-sr="wait 0.25s, over 0.75s, ease-in-out 100px">
                                  
                                   
                                </div>  

                                

                        </div> 

                    </div> 

                        <div class="frise_bas">
                          <svg version="1.1" id="frise_bas" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="124.75px" height="9.75px" viewBox="0 0 124.75 9.75" enable-background="new 0 0 124.75 9.75" xml:space="preserve">

                               <g stroke="#000" stroke-width="1" fill="none">     

                              <path fill="none" stroke="#1E1E1C" stroke-width="1" stroke-miterlimit="10" d="M122.998,2.625H39.136 M123,7.734H2.969"/>
                                             
                               <g/>   
                              </svg>     
                        </div>

                        <div class="text-center" id="photo_pieddepage_lesjardinsdeden" data-sr="wait 0.25s, over 0.75s, ease-in-out 100px">
                                <%= image_tag"lesjardinsdeden_photos19_projet.jpg" %>
                                            
                        </div> 

                        <div class="vertical_spacer">
                            <br> </br>
                        </div> 

                        <div class="signature text-center">
                                <p>
                                 <i> - Say Hype, Studio de Communication Globale - 30 rue de la Vieille Tour, Bordeaux, France - </i>
                                </p>

                        </div>

         

    </div>


 </body>
</html>
<script>
      window.sr = new scrollReveal();
</script>