<head>

      <!-- Use title if it's in the page YAML frontmatter -->
    <title> SAY HYPE Studio</title>
    <meta charset="utf-8">
    <meta name="keywords" content="design, say hype studio, studio de design graphique bordeaux, creation site internet bordeaux, print, dorure, letterpress, identité visuelle, cartes de visites, flyers, agence de communication, studio graphique bordeaux, studio de communication arcachon, studio de communication gironde, identité visuelle bordeaux, graphic design, création de site internet vitrine, création de site internet arcachon , création de site internet bordeaux, haut de gamme, site internet sur mesure">

    <meta name="description" content="Studio de communication spécialisé dans la création sur-mesure d'identité visuelle et de site internet. Implanté sur Bordeaux et le Bassin d'Arcachon.">



    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- For Bootstrap responsiveness -->

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="icon" type="image/png" href="images/favicon.png" />


  </head>

<html>
	<body>
	

		<div id="maintenance">
			<img src="images/logo_sayhype_rose2.svg" alt="Logo Say Hype Studio" />
			<div id="tittle">
				<h1>Votre navigateur n'est pas comptible. Veuillez vous rediriger vers l'un des navigateurs suivants :</h1>
			</div>
            <div id="verticalspacer2"></div>
            <div id="navigateur">
                <ul>
                <li id="chrome">Télécharger Google Chrome
                    <a href="http://www.google.com/chrome/?hl=fr">
                        <img src="../images/google-chrome-icon.png" alt="Logo Google"></a>
                </li>
                <li id="mozilla">Télécharger Mozilla Firefox
                    <a href="https://www.mozilla.org/fr/firefox/new/">
                                            <img src="../images/firefox-icon.png" alt="Logo Mozilla"></a>
                </li>
                <li id="safari">Télecharger Safari
                <a href="https://support.apple.com/fr_FR/downloads/safari">
                        <img src="../images/safari-icon.png" alt="Logo Safari"></a>
                </li>
                </ul>
                
            </div>
		</div>

<style media="all" type="text/css">
#maintenance {background-color:#F6ECEC; height: 99vh; text-align: center; display: flex; justify-content: center;align-items: center; flex-direction: column;}
#verticalspacer{height: 100px;}
#verticalspacer2{height: 20px;}
img {text-align: center; width: 15%; margin-top: 10px;}
h1 {color:#D2B0B0; font-size:18px; text-align:center; }
a { color:#D2B0B0;}
li {height: 100px; width:400px; list-style-type: none; display: flex; flex-direction: column; font-family: "sabon roman";}
ul {display:flex; justify-content: center;align-items: center; flex-direction: column; flex-direction: row; }
</style>

	</body>
</html>

