---
title: Soa
---


<html>
 <body>
	<div id="page_accueil">
     	 <div id="section">
     	 </div>

               <div id="couverture_img_soa">
                    <div class="nav_projet">
                         <div class="row">
                                <div class="col-sm-3 text-left">
                                   <% link_to "/mindful.html", :class => "animsition-link" do %>
                                   <i>Mindful Attitude</i>
                                   <% end %> 
                                </div>

                                <div class="col-sm-3">
                                   <i></i>
                                </div>

                                <div class="col-sm-3">
                                </div>

                                <div class="col-sm-3 text-right navprojetdroit">
                                   <% link_to "/toietmoi.html", :class => "animsition-link" do %>
                                   <i>Toi + Moi en Bermuda</i>
                                   <% end %> 
                                </div>
                         </div>
                    </div>
               </div>               

               <div class="vertical_spacer">
                    <br> </br>
               </div>

               <div class="presentation_projet text-center">
                    <br> </br>
                    <h2 class="slideInDown">SÖA STUDIO</h2>
                    <h3 class="slideInDown">Studio de bien être</h3>
                    <br> <%= image_tag "losange.png"%>
                    <br><br>
                    <h4 class="fadeInDown">DIRECTION ARTISTIQUE – CREATION DE L’ IDENTITÉ VISUELLE</h4>

                    <p class="fadeInDown">
                        Le studio Söa est un lieu chaleureux et convivial dédié au bien-être du corps et de l'esprit au coeur du Bassin d'Arcachon. 
                        Une équipe de professionnels du bien-être : Yoga, Pilates, Sophrologie, Naturopathie, Mindfulness, Massages, Qi Gong…vous accompagne en fonction de vos besoins et de vos envies.
                    </p>
                    <br> </br>
               </div>

     </div>


 </body>
</html>