---
title: Titan Composite
---


<html>
 <body>
	<div id="page_accueil">
     	 <div id="section">
     	 </div>

               <div id="couverture_img_titan">
                    <div class="nav_projet">
                         <div class="row">
                                <div class="col-sm-3 text-left">
                                   <% link_to "/toietmoi.html", :class => "animsition-link" do %>
                                   <i>Toi + Moi en Bermuda</i>
                                   <% end %> 
                                </div>

                                <div class="col-sm-3">
                                   <i></i>
                                </div>

                                <div class="col-sm-3">
                                </div>

                                <div class="col-sm-3 text-right navprojetdroit">
                                   <% link_to "/alliance.html", :class => "animsition-link" do %>
                                   <i>Alliance</i>
                                   <% end %> 
                                </div>
                         </div>
                    </div>
               </div> 

               <div class="vertical_spacer">
                    <br> </br>
               </div>

               <div class="presentation_projet text-center">
                    <br> </br>
                    <h2 class="slideInDown">TITAN COMPOSITE</h2>
                    <h3 class="slideInDown">Import - Export</h3>
                    <%= image_tag "losange.png"%>
                    
                    <h4 class="fadeInDown">DIRECTION ARTISTIQUE – CREATION DE L’ IDENTITÉ VISUELLE</h4>

                    <p class="fadeInDown">
                         Titan Composite c’est l’alliance de plusieurs pays visant à proposer uniquement des matériaux écologiques. Titan propose essentiellement du bois en kit laissant libre cours à chacun ses perspectives de réalisations futures.
                    </p>
                    <br> </br>
               </div>

            <div class="frise_haut">
                              <svg version="1.1" id="frise_haut" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                               width="124.75px" height="9.75px" viewBox="0 0 124.75 9.75" enable-background="new 0 0 124.75 9.75" xml:space="preserve">
                                    <g stroke="#000" stroke-width="1" fill="none">
                                        <path fill="none" stroke="#1E1E1C" stroke-width="0.75" stroke-miterlimit="10" d="M2.971,7.734h83.862"/>
                                        <path fill="none" stroke="#1E1E1C" stroke-width="0.75" stroke-miterlimit="10" d="M2.969,2.625H123"/>
                                    <g/>  
                              </svg>    
                            </div>


                            <div class="container">
                                    <div class="row">
                                            <div class="col-md-12 col-lg-6 text-center appearIn" id="projet_titan_contenu1"> 
                                        
                                            </div> 


                                            <div class="col-md-12 col-lg-6" id="projet_titan_contenu2" data-sr="wait 0.25s, over 0.75s, ease-in-out 100px">
                                              <div id="description_role_avecfrise" class="fadeInDown">
                                                
                                                  <svg version="1.1" id="frise_verticale_titan" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                         width="10px" height="350px" viewBox="0 0 10 350" enable-background="new 0 0 10 350" xml:space="preserve">
                                                       
                                                      <path fill="#000000" stroke="#000000" stroke-width:"1" stroke-miterlimit="10" d="M1.169,16.832L5.002,13l3.831,3.833L5,20.665L1.169,16.832z
                                                         M1.165,283.791l3.833-3.832l3.831,3.832l-3.833,3.832L1.165,283.791z M5.001,16.832v267.333"/>
                                                      </svg>

                                                  <div id="description_role_titan" class="text-left">

                                                           <h3>ROLE SUR LE PROJET</h3>
                                                           <p>
                                                            Direction Artistique <br>
                                                            Création de l’identité visuelle, graphisme, logo et typographies
                                                           </p>
                                                           <h3>TECHNIQUE D'IMPRESSION</h3>
                                                           <p >
                                                            Impression Quadrichromie <br>
                                                            Supports : Cartes de visite, papeterie
                                                          </p>
                                                  </div>
                                              </div>
                                            
                                           </div>  
                                    </div>  


                                    <div class="row">
                                            <div class="col-md-12 col-lg-6 text-center" id="projet_titan_contenu3" data-sr="wait 0.25s, over 0.75s, ease-in-out 100px">
                                              <%= image_tag"titan_logo.svg" %> 
                                              
                                               
                                            </div>  

                                            <div class="col-md-12 col-lg-6" id="projet_titan_contenu4" data-sr="wait 0.25s, over 0.75s, ease-in-out 100px">
                                          
                                            </div>  

                                    </div>                          
                                                          
                            </div>  

                            <div class="frise_bas">
                              <svg version="1.1" id="frise_bas" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="124.75px" height="9.75px" viewBox="0 0 124.75 9.75" enable-background="new 0 0 124.75 9.75" xml:space="preserve">

                               <g stroke="#000" stroke-width="1" fill="none">     

                              <path fill="none" stroke="#1E1E1C" stroke-width="1" stroke-miterlimit="10" d="M122.998,2.625H39.136 M123,7.734H2.969"/>
                                             
                               <g/>   
                              </svg>     
                            </div>

                            <div id="photo_titan_pieddepage" data-sr="wait 0.25s, over 0.75s, ease-in-out 100px">
                                          
                            </div> 

                            <div class="vertical_spacer">
                            <br> </br>
                            </div> 

                            <div class="signature text-center">
                              <p>
                                 <i> - Say Hype, Studio de Communication Globale - 30 rue de la Vieille Tour, Bordeaux, France - </i>
                                </p>
                                

                            </div>


      </div>


 </body>
</html>

<script>
      window.sr = new scrollReveal();
</script>